Repository lsu-ub-uu/diva-client: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

[maven-release-plugin] prepare release diva-client-1.165.0
  pom.xml
Due: none

[maven-release-plugin] prepare for next development iteration
  pom.xml
Due: none

WIP
  app/generatedTypes/divaTypes.ts
  app/routes/resourceRoutes/__tests__/sitemap.test.ts
  app/routes/resourceRoutes/sitemap.ts
  server/sitemapCache.ts
Due: prettier --write, eslint --fix

CORA-3370 Update sitemapCache
  app/routes/resourceRoutes/__tests__/sitemap.test.ts
  app/routes/resourceRoutes/sitemap.ts
  server/__tests__/sitemapCache.server.test.ts
  server/app.ts
  server/sitemapCache.server.ts
Due: prettier --write, eslint --fix

Improve error page
  app/errorHandling/ErrorPage.module.css
  app/root.tsx
Due: prettier --write, eslint --fix, stylelint --fix

CORA-3370 Throw error when no member found
  app/routes/resourceRoutes/__tests__/expectedSitemap.xml
  app/routes/resourceRoutes/__tests__/sitemap.test.ts
  app/routes/resourceRoutes/sitemap.ts
  app/utils/getMemberFromHostname.ts
Due: prettier --write, eslint --fix

Improve error handling
  app/errorHandling/createRouteErrorResponse.server.ts
  app/root.tsx
  app/routes/landingPage/landingPage.tsx
Due: prettier --write, eslint --fix

WIP
  server/__tests__/sitemapCache.server.test.ts
  server/app.ts
  server/dependencies/depencencies.ts
  server/listenForDataChange.ts
  server/sitemapCache.server.ts
Due: prettier --write, eslint --fix

Fix names
  server/__tests__/sitemapCache.server.test.ts
  server/sitemapCache.server.ts
Due: prettier --write, eslint --fix

CORA-3380 Add rel="nofollow" to external links
  app/components/Layout/Footer/Footer.tsx
  app/routes/divaOutput/divaOutputView.tsx
Due: prettier --write, eslint --fix

CORA-3375 Added tests for buffer during warmup
  server/__tests__/sitemapCache.server.test.ts
  server/sitemapCache.server.ts
Due: prettier --write, eslint --fix

Added tests for buffer during warmup for dependencies
  server/dependencies/__tests__/dependencies.test.ts
  server/dependencies/depencencies.ts
Due: prettier --write, eslint --fix

Update tests to use dynamic id.
  server/dependencies/__tests__/dependencies.test.ts
Due: prettier --write, eslint --fix

CORA-3376 Add robots.txt route
  app/routes.ts
  app/routes/resourceRoutes/__tests__/robots.test.ts
  app/routes/resourceRoutes/robots.template.txt
  app/routes/resourceRoutes/robots.ts
Due: prettier --write, eslint --fix

CORA-3370 clean up
  app/routes/resourceRoutes/__tests__/slask.json
  server/sitemapCache.server.ts
Due: prettier --write, eslint --fix

CORA-3370 Fix build error
  app/routes.ts
  app/routes/resourceRoutes/robots/__tests__/robots.test.ts
  app/routes/resourceRoutes/robots/robots.template.txt
  app/routes/resourceRoutes/robots/robots.ts
  app/routes/resourceRoutes/sitemap/__tests__/generateSitemapXml.server.test.ts
  app/routes/resourceRoutes/sitemap/generateSitemapXml.server.ts
  app/routes/resourceRoutes/sitemap/sitemap.ts
Due: prettier --write, eslint --fix

[maven-release-plugin] prepare branch release/1.166
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.166.0
  pom.xml
Due: none

Default to diva member when no member found
  app/utils/getMemberFromHostname.ts
Due: prettier --write, eslint --fix

[maven-release-plugin] prepare branch release/1.167
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.167.0
  pom.xml
Due: none

CORA-3571: Fix repeat id not being set for repeating search terms
  app/routes/record/recordSearch/utils/__tests__/createFilterDefinition.server.test.ts
  app/routes/record/recordSearch/utils/__tests__/createSearchFormDefinition.server.test.ts
  app/routes/record/recordSearch/utils/__tests__/createSearchQuery.server.test.ts
  app/routes/record/recordSearch/utils/createFilterDefinition.server.ts
  app/routes/record/recordSearch/utils/createSearchFormDefinition.server.ts
  app/routes/record/recordSearch/utils/createSearchQuery.server.ts
Due: prettier --write, eslint --fix

fix type errors
  app/routes/record/recordSearch/components/__tests__/Filter.test.tsx
  app/routes/record/recordSearch/components/__tests__/SearchLayout.test.tsx
Due: prettier --write, eslint --fix

[maven-release-plugin] prepare branch release/1.168
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.168.0
  pom.xml
Due: none

CORA-3573 Fix search autocomplete filters not applying properly
  app/routes/record/recordSearch/components/Filters.tsx
  app/routes/record/recordSearch/components/__tests__/Filters.test.tsx
Due: prettier --write, eslint --fix

[maven-release-plugin] prepare branch release/1.169
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.169.0
  pom.xml
Due: none

CORA-3532 Update font size of numbers on search results. Reduce fontsize of publication result title on mobile.
  app/routes/record/recordSearch/components/SearchResult/Attachments/Attachments.module.css
  app/routes/record/recordSearch/components/SearchResult/Attachments/Attachments.tsx
  app/routes/record/recordSearch/components/SearchResult/DivaOutputSearchResult.module.css
  app/routes/record/recordSearch/components/SearchResult/DivaOutputSearchResult.tsx
  app/routes/record/recordSearch/components/SearchResult/InfoBox/InfoBox.module.css
  app/routes/record/recordSearch/components/SearchResult/InfoBox/InfoBox.tsx
  app/routes/record/recordSearch/components/SearchResult/Persons.module.css
  app/routes/record/recordSearch/components/SearchResult/Persons.tsx
  app/routes/record/recordSearch/components/SearchResult/Related/Related.module.css
  app/routes/record/recordSearch/components/SearchResult/Related/Related.tsx
  app/routes/record/recordSearch/components/SearchResult/RelatedBook/RelatedBook.module.css
  app/routes/record/recordSearch/components/SearchResult/RelatedBook/RelatedBook.tsx
  app/routes/record/recordSearch/components/SearchResult/__tests__/DivaOutputSearchResult.test.tsx
  app/routes/record/recordSearch/components/SearchResultItem.tsx
  app/routes/record/recordSearch/components/SearchResults.module.css
Due: prettier --write, eslint --fix, stylelint --fix

fix sitemap urls not being correct
  app/routes/resourceRoutes/sitemap/__tests__/generateSitemapXml.server.test.ts
  app/routes/resourceRoutes/sitemap/generateSitemapXml.server.ts
Due: prettier --write, eslint --fix

pass request url to generateSitemapXML
  app/routes/resourceRoutes/sitemap/sitemap.ts
Due: prettier --write, eslint --fix

[maven-release-plugin] prepare branch release/1.170
  pom.xml
Due: none

Path conditions:
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{css,scss})
  eslint --fix: any of: *.{ts,tsx}
  stylelint --fix: any of: *.{css,scss}
