Repository lsu-ub-uu/diva-client: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

more menu
  app/components/Input/Input.tsx
  app/components/Layout/Header/Login/DevAccountLoginOptions.tsx
  app/components/Layout/Header/Login/PasswordLoginMenuOptions.tsx
  app/components/Layout/Header/Login/WebRedirectLoginMenuOptions.tsx
  app/components/Menu/Menu.module.css
  app/components/Menu/Menu.tsx
  app/components/Menu/MenuContext.tsx
  app/components/Menu/MenuItem.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Added closing on backdrop click
  app/components/DrawerDialog/DrawerDialog.module.css
  app/components/DrawerDialog/DrawerDialog.tsx
  app/generatedTypes/divaTypes.ts
  app/routes/record/recordSearch/components/SearchLayout.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Fix the styling for the menu
  app/components/DrawerDialog/DrawerDialog.module.css
  app/components/Layout/Header/MobileNavigation/MobileNavigation.tsx
  app/routes/record/recordSearch/components/ActiveFilters.module.css
  app/routes/record/recordSearch/components/ActiveFilters.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Update loadDependencies to update single pool
  app/generatedTypes/divaTypes.ts
  server/depencencies.ts
Due: prettier --write, eslint --fix

refactor search result buttons
  app/components/DrawerDialog/DrawerDialog.module.css
  app/components/DrawerDialog/DrawerDialog.tsx
  app/routes/record/recordSearch/components/ActiveFilters.module.css
  app/routes/record/recordSearch/components/ActiveFilters.tsx
  app/routes/record/recordSearch/components/Filters.tsx
  app/routes/record/recordSearch/components/RecordSearchView.tsx
  app/routes/record/recordSearch/components/SearchLayout.tsx
  app/routes/record/recordSearch/components/SearchResultButtons.tsx
  app/routes/record/recordSearch/components/__tests__/ActiveFilters.test.tsx
  app/routes/record/recordSearch/components/__tests__/SearchResultButtons.test.tsx
  app/routes/record/recordSearch/recordSearch.css
Due: prettier --write, eslint --fix, stylelint --fix

Change error to console.log)
  server.ts
  server/depencencies.ts
Due: prettier --write, eslint --fix

print local ip address when starting dev server
  server.ts
Due: prettier --write, eslint --fix

remove unused var
  app/components/Layout/Header/MobileNavigation/MobileNavigation.tsx
Due: prettier --write, eslint --fix

fix flaky test
  app/routes/record/recordSearch/components/__tests__/Filter.test.tsx
Due: prettier --write, eslint --fix

CORA-3132 add rabbitmq consumer
  app/generatedTypes/divaTypes.ts
  app/utils/getMemberFromHostname.ts
  app/utils/structs/lookup.ts
  package-lock.json
  package.json
  server/app.ts
  server/depencencies.ts
  server/rabbitMqConsumer.ts
Due: prettier --write, eslint --fix

Add temporary cache test
  cachtest.ts
  server.ts
  server/app.ts
Due: prettier --write, eslint --fix

[maven-release-plugin] prepare branch release/1.138
  pom.xml
Due: none

[maven-release-plugin] prepare for next development iteration
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.138.0
  pom.xml
Due: none

Revert "Add temporary cache test"
  cachtest.ts
  server.ts
  server/app.ts
Due: prettier --write, eslint --fix

revert tsconfig change
  tsconfig.json
Due: none

[maven-release-plugin] prepare branch release/1.139
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.139.0
  pom.xml
Due: none

CORA-3132 load dependencies before server start
  app/generatedTypes/divaTypes.ts
  server.ts
  server/app.ts
  server/dependencies/depencencies.ts
  server/i18n.ts
Due: prettier --write, eslint --fix

[maven-release-plugin] prepare branch release/1.140
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.140.0
  pom.xml
Due: none

fix module import in server.ts
  server.ts
Due: prettier --write, eslint --fix

revert loading dependencies from server.ts
  server.ts
  server/app.ts
Due: prettier --write, eslint --fix

[maven-release-plugin] prepare branch release/1.141
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.141.0
  pom.xml
Due: none

eagerly load react router app module on server start
  server.ts
  server/app.ts
Due: prettier --write, eslint --fix

[maven-release-plugin] prepare branch release/1.142
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.142.0
  pom.xml
Due: none

wip remove dependenciesContext
  app/root.tsx
  server/dependencies/depencencies.ts
Due: prettier --write, eslint --fix

add menu test
  app/components/Menu/Menu.tsx
  app/components/Menu/__tests__/Menu.test.tsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{css,scss})
  eslint --fix: any of: *.{ts,tsx}
  stylelint --fix: any of: *.{css,scss}
