Repository lsu-ub-uu/diva-client: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

Fixed typing in bffMock with useTrashBin
  app/__mocks__/bff/form/bffMock.ts
Due: prettier --write, eslint --fix

Fixed typing in ActionBar
  app/data/formDefinition/__tests__/formDefinition.server.test.ts
  app/routes/record/ActionBar/__tests__/ActionBar.test.tsx
  app/utils/structs/__tests__/listToPool.test.ts
Due: prettier --write, eslint --fix

add useConfirmDialog hook
  app/components/ConfirmDialog/ConfirmDialog.tsx
  app/components/RecordActionButtons/RecordActionButtons.tsx
Due: prettier --write, eslint --fix

Action bar styling
  app/components/Button/Button.module.css
  app/components/ConfirmDialog/ConfirmDialog.module.css
  app/components/ConfirmDialog/ConfirmDialog.tsx
  app/components/Layout/Header/Header.module.css
  app/components/Layout/Header/Header.tsx
  app/components/RecordActionButtons/RecordActionButtons.tsx
  app/routes/divaOutput/divaOutputView.tsx
  app/routes/record/ActionBar/ActionBar.module.css
  app/routes/record/ActionBar/ActionBar.tsx
  app/routes/record/record.tsx
  app/routes/record/recordCreate.tsx
  app/routes/record/recordSearch.tsx
  app/routes/record/recordType.tsx
  app/routes/record/recordUpdate.tsx
  app/routes/record/recordView.tsx
  app/styles/colors.scss
  eslint.config.js
Due: prettier --write, eslint --fix, stylelint --fix

CORA-3246 add confirm dialogs to actionBar
  app/components/ConfirmDialog/ConfirmDialog.module.css
  app/routes/record/ActionBar/ActionBar.module.css
  app/routes/record/ActionBar/ActionBar.tsx
Due: prettier --write, eslint --fix, stylelint --fix

CORA-3246 Add redirect logic for trash and delete
  app/components/ConfirmDialog/ConfirmDialog.module.css
  app/data/trashRecord.server.ts
  app/errorHandling/ErrorPage.module.css
  app/errorHandling/ErrorPage.tsx
  app/routes/divaOutput/divaOutputView.tsx
  app/routes/record/ActionBar/ActionBar.tsx
  app/routes/record/recordDelete.tsx
  app/routes/record/recordTrash.tsx
  app/routes/record/recordUpdate.tsx
Due: prettier --write, eslint --fix, stylelint --fix

CORA-3246 Trash bar
  app/routes/record/ActionBar/ActionBar.tsx
  app/routes/record/record.css
  app/routes/record/record.tsx
Due: prettier --write, eslint --fix, stylelint --fix

CORA-3246 Implement untrash
  app/components/Alert/Alert.module.css
  app/components/Alert/Alert.tsx
  app/components/Form/__tests__/RecordForm.test.tsx
  app/components/RecordActionButtons/RecordActionButtons.tsx
  app/components/TrashAlert/TrashAlert.tsx
  app/cora/transform/transformRecord.server.ts
  app/data/setRecordTrash.server.ts
  app/routes.ts
  app/routes/divaOutput/divaOutputView.css
  app/routes/divaOutput/divaOutputView.tsx
  app/routes/docs/designSystem.tsx
  app/routes/record/ActionBar/ActionBar.tsx
  app/routes/record/record.css
  app/routes/record/record.tsx
  app/routes/record/recordCreate.tsx
  app/routes/record/recordDelete.tsx
  app/routes/record/recordUntrash.tsx
  app/routes/record/recordUpdate.tsx
  app/styles/colors.scss
  app/types/record.ts
Due: prettier --write, eslint --fix, stylelint --fix

CORA-3246 Update tests
  app/components/ConfirmDialog/ConfirmDialog.tsx
  app/data/__tests__/setRecordTrash.test.tsx
  app/routes/record/ActionBar/ActionBar.tsx
  app/routes/record/ActionBar/__tests__/ActionBar.test.tsx
  setupTest.ts
Due: prettier --write, eslint --fix

CORA-3246 Add test for untrash user right
  app/cora/transform/__tests__/transformRecord.server.test.ts
Due: prettier --write, eslint --fix

CORA-3246 change setRecordTrash params to an object
  app/data/setRecordTrash.server.ts
  app/routes/record/recordTrash.tsx
  app/routes/record/recordUntrash.tsx
Due: prettier --write, eslint --fix

Fix login form redirect
  app/routes/auth/PasswordLogin.tsx
  app/routes/auth/login.tsx
Due: prettier --write, eslint --fix

CPRA-3246 Fix event listener leak for confirm dialog
  app/components/ConfirmDialog/ConfirmDialog.tsx
Due: prettier --write, eslint --fix

CORA-3246 Fix translation key param
  app/routes/record/record.css
  app/routes/record/recordTrash.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Remove unused import
  app/routes/auth/login.tsx
Due: prettier --write, eslint --fix

[maven-release-plugin] prepare branch release/1.116
  pom.xml
Due: none

[maven-release-plugin] prepare for next development iteration
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.116.0
  pom.xml
Due: none

CORA-3265 Fix all accordions expanding when validation errors appear
  app/components/FormGenerator/AlternativePresentationSwitcher.tsx
  app/components/FormGenerator/components/Group.tsx
Due: prettier --write, eslint --fix

CORA-3265 set up test for expanding accordions on validation error
  app/__mocks__/data/form/alternativePresentation.ts
  app/components/Form/__tests__/RecordForm.test.tsx
Due: prettier --write, eslint --fix

CORA-3265 change Group ref prop to be optional
  app/components/FormGenerator/components/Group.tsx
Due: prettier --write, eslint --fix

[maven-release-plugin] prepare branch release/1.117
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.117.0
  pom.xml
Due: none

CORA-3284 Load deployment info as part of dependencies
  app/cora/__tests__/getDeploymentInfo.server.test.ts
  app/cora/getDeploymentInfo.server.ts
  app/cora/helper.server.ts
  app/data/formDefinition/formDefinitionsDep.server.ts
  server/depencencies.ts
Due: prettier --write, eslint --fix

CORA-3284 Load dependencies directly on server start
  app/components/Layout/TopNavigation/TopNavigation.tsx
  app/data/formDefinition/formDefinitionsDep.server.ts
  server.ts
  server/app.ts
  server/depencencies.ts
  server/i18n.ts
Due: prettier --write, eslint --fix

CORA-3284 get example users from deployment info
  README.md
  app/auth/__tests__/getAppTokenLogins.server.test.ts
  app/auth/getAppTokenLogins.server.ts
  app/components/Layout/Header/Header.tsx
  app/components/Layout/Header/Login/DevAccountLoginOptions.tsx
  app/components/Layout/Header/Login/LoginMenu.tsx
  app/components/Layout/Header/Login/__tests__/DevAccountLoginOptions.test.tsx
  app/components/Layout/Header/Login/__tests__/Login.test.tsx
  app/root.tsx
Due: prettier --write, eslint --fix

CORA-3284 fix typing in tests
  app/cora/transform/__tests__/transformRecord.server.test.ts
  app/cora/transform/__tests__/transformToCora.server.test.ts
  app/data/formDefinition/__tests__/formDefinition.server.test.ts
  app/data/formDefinition/__tests__/formMetadata.server.test.ts
  app/data/loginDefinition/__tests__/loginDefinition.server.test.ts
  app/data/textDefinition/__tests__/textDefinition.server.test.ts
Due: prettier --write, eslint --fix

CORA-3284 await dependencies promise before app.listen
  server.ts
Due: prettier --write, eslint --fix

[maven-release-plugin] prepare branch release/1.118
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.118.0
  pom.xml
Due: none

CORA-3274 default search for trash false
  app/components/Form/SearchForm.tsx
  app/generatedTypes/divaTypes.ts
Due: prettier --write, eslint --fix

Added check to only add defaultValue trash if not already set
  app/components/Form/SearchForm.tsx
  app/generatedTypes/divaTypes.ts
  package-lock.json
Due: prettier --write, eslint --fix

update test
  app/components/Layout/Breadcrumbs/Breadcrumbs.tsx
  app/components/Layout/Breadcrumbs/__tests__/Breadcrumbs.test.tsx
Due: prettier --write, eslint --fix

Fix breadcrumb for publication view page
  app/components/Layout/Breadcrumbs/Breadcrumbs.tsx
  app/components/Layout/Breadcrumbs/__tests__/Breadcrumbs.test.tsx
Due: prettier --write, eslint --fix

move metadata warning to global alert
  app/components/Alert/Alert.module.css
  app/components/Alert/Alert.tsx
  app/root.tsx
  app/routes/landingPage/landingPage.tsx
  app/routes/record/recordSearch.tsx
  app/styles/root.css
Due: prettier --write, eslint --fix, stylelint --fix

Path conditions:
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{css,scss})
  eslint --fix: any of: *.{ts,tsx}
  stylelint --fix: any of: *.{css,scss}
