Repository lsu-ub-uu/diva-client: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["prettier --write", "eslint --fix"],
  "*.{css,scss}": ["prettier --write", "stylelint --fix"]
}

WIP split tests
  app/data/formDefinition/__tests__/formDefinition.server.test.ts
Due: prettier --write, eslint --fix

Do not create hidden components for containers
  app/data/formDefinition/createPresentation/createChildComponents.server.ts
  app/data/formDefinition/createPresentation/createGroup.server.ts
Due: prettier --write, eslint --fix

Fix scontainer metadata match
  app/data/formDefinition/__tests__/formDefinition.server.test.ts
  app/data/formDefinition/createPresentation/findMatchingMetadataChildReferencesForSContainer.server.ts
  app/data/formDefinition/utils/__tests__/findMetadataChildReferenceByNameInDataAndAttributes.test.ts
Due: prettier --write, eslint --fix

add tests and styling for output presentation
  app/components/CreateRecordMenu/__tests__/CreateRecordMenu.test.tsx
  app/components/FormGenerator/AlternativePresentationSwitcher.tsx
  app/components/OutputPresentation/OutputField.module.css
  app/components/OutputPresentation/OutputField.tsx
  app/components/OutputPresentation/OutputGroup.tsx
  app/components/OutputPresentation/OutputPresentation.module.css
  app/components/OutputPresentation/OutputPresentation.tsx
  app/components/OutputPresentation/OutputPresentationSwitcher.module.css
  app/components/OutputPresentation/OutputPresentationSwitcher.tsx
  app/components/OutputPresentation/OutputRecordLinkWithPresentation.module.css
  app/components/OutputPresentation/OutputRecordLinkWithPresentation.tsx
  app/components/OutputPresentation/__test__/OutputPresentation.test.tsx
  app/components/OutputPresentation/__test__/findChildData.test.ts
  app/components/OutputPresentation/findChildData.ts
  app/routes/record/record.css
  app/utils/testUtils.tsx
  server.ts
Due: prettier --write, eslint --fix, stylelint --fix

output presentation styling
  app/components/OutputPresentation/OutputContainer.tsx
  app/components/OutputPresentation/OutputGroup.tsx
  app/components/OutputPresentation/OutputPresentation.module.css
  app/components/OutputPresentation/OutputPresentation.tsx
  app/routes/record/recordSearch/components/SearchResultItem.tsx
  app/styles/form-component.css
Due: prettier --write, eslint --fix, stylelint --fix

Get rid of empty divs in output presentation
  app/components/Form/SearchResultForm.tsx
  app/components/FormGenerator/components/GuiElementLink.tsx
  app/components/FormGenerator/components/RecordLinkWithLinkedPresentation.tsx
  app/components/FormGenerator/components/Text.tsx
  app/components/LinkButton/LinkButton.tsx
  app/components/OutputPresentation/ComponentChildren.tsx
  app/components/OutputPresentation/OutputCollectionVariable.tsx
  app/components/OutputPresentation/OutputContainer.tsx
  app/components/OutputPresentation/OutputField.tsx
  app/components/OutputPresentation/OutputGroup.tsx
  app/components/OutputPresentation/OutputPresentation.module.css
  app/components/OutputPresentation/OutputPresentation.tsx
  app/components/OutputPresentation/OutputPresentationSwitcher.tsx
  app/components/OutputPresentation/OutputRecordLink.tsx
  app/components/OutputPresentation/OutputRecordLinkWithPresentation.tsx
  app/components/OutputPresentation/OutputResourceLink.tsx
  app/components/OutputPresentation/OutputVariable.tsx
  app/components/OutputPresentation/__test__/dataHasValues.test.ts
  app/components/OutputPresentation/dataHasValues.ts
  app/data/formDefinition/createPresentation/createGroup.server.ts
  app/routes/record/recordSearch/components/SearchResultItem.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Fixed tests after refatoring
  app/__mocks__/data/form/binary.ts
  app/components/Form/__tests__/RecordForm.test.tsx
  app/components/FormGenerator/components/RecordLinkWithLinkedPresentation.tsx
  app/components/FormGenerator/components/RecordLinkWithSearch.tsx
  app/components/FormGenerator/components/__tests__/RecordLinkWithLinkedPresentation.test.tsx
  app/components/Input/Combobox.module.css
  app/components/OutputPresentation/OutputComponent.tsx
  app/components/OutputPresentation/OutputContainer.tsx
  app/components/OutputPresentation/OutputGroup.tsx
  app/components/OutputPresentation/OutputPresentation.module.css
  app/components/OutputPresentation/OutputPresentation.tsx
  app/components/OutputPresentation/OutputPresentationSwitcher.module.css
  app/components/OutputPresentation/OutputPresentationSwitcher.tsx
  app/components/OutputPresentation/OutputRecordLinkWithPresentation.tsx
  app/components/OutputPresentation/OutputResourceLink.tsx
  app/components/OutputPresentation/__test__/OutputPresentation.test.tsx
  app/data/formDefinition/__tests__/formDefinition.server.test.ts
  app/data/formDefinition/createPresentation/createChildComponents.server.ts
  app/routes/divaOutput/divaOutputView.css
  app/styles/root.css
Due: prettier --write, eslint --fix, stylelint --fix

Refactored formDef tests
  app/data/formDefinition/__tests__/formDefinition.server.test.ts
Due: prettier --write, eslint --fix

Fix empty accordions for containers without data
  app/components/OutputPresentation/ComponentChildren.tsx
  app/components/OutputPresentation/OutputCollectionVariable.tsx
  app/components/OutputPresentation/OutputComponent.tsx
  app/components/OutputPresentation/OutputGroup.tsx
  app/components/OutputPresentation/OutputPresentation.module.css
  app/components/OutputPresentation/OutputPresentation.tsx
  app/components/OutputPresentation/OutputPresentationSwitcher.tsx
  app/components/OutputPresentation/__test__/OutputPresentation.test.tsx
  app/components/OutputPresentation/findChildData.ts
Due: prettier --write, eslint --fix, stylelint --fix

Update variable names for formDef
  app/data/formDefinition/__tests__/formDefinition.server.test.ts
Due: prettier --write, eslint --fix

Fixed name for otherRootPGroup
  app/data/formDefinition/__tests__/formDefinition.server.test.ts
Due: prettier --write, eslint --fix

fix lint and type errors
  app/__mocks__/bff/form/bffMock.ts
  app/__mocks__/data/component/formComponent.ts
  app/__mocks__/data/form/alternativePresentation.ts
  app/__mocks__/data/form/attributeCollection.ts
  app/__mocks__/data/form/collVar.ts
  app/__mocks__/data/form/container.ts
  app/__mocks__/data/form/group.ts
  app/__mocks__/data/form/numVar.ts
  app/__mocks__/data/form/textVar.ts
  app/components/FormGenerator/AlternativePresentationSwitcher.tsx
  app/components/FormGenerator/components/RecordLinkWithSearch.tsx
  app/components/FormGenerator/defaultValues/__tests__/defaultValues.test.ts
  app/components/LinkedRecord/__tests__/LinkedRecord.test.tsx
  app/cora/bffTypes.server.ts
  app/cora/transform/transformPresentations.server.ts
  app/data/formDefinition/__tests__/formDefinition.server.test.ts
  app/data/formDefinition/createPresentation/createResourceLink.server.ts
  app/routes/divaOutput/components/Classifications.tsx
  app/routes/record/recordCreate.tsx
  app/routes/record/recordUpdate.tsx
Due: prettier --write, eslint --fix

Fix issue for record link presentation when editing
  app/components/FormGenerator/components/RecordLink.tsx
  app/components/FormGenerator/components/RecordLinkWithSearch.tsx
  app/components/OutputPresentation/ComponentChildren.tsx
  app/components/OutputPresentation/OutputDevInfo.tsx
Due: prettier --write, eslint --fix

remove unused imports
  app/__mocks__/bff/form/bffMock.ts
  app/components/FormGenerator/components/RecordLinkWithSearch.tsx
Due: prettier --write, eslint --fix

Remove unused code
  app/components/Form/AutocompleteForm.tsx
  app/components/Form/LinkedRecordForm.tsx
  app/components/Form/ReadOnlyForm.module.css
  app/components/Form/ReadOnlyForm.tsx
  app/components/LinkedRecord/LinkedPresentationRecord.module.css
  app/components/LinkedRecord/LinkedPresentationRecord.tsx
  app/components/LinkedRecord/__tests__/LinkedRecord.test.tsx
  app/routes/record/recordSearch/components/Filter.tsx
  app/routes/resourceRoutes/getRecord.tsx
  app/utils/isDefined.ts
  todo.txt
Due: prettier --write, eslint --fix, stylelint --fix

remove unused route
  app/routes.ts
Due: prettier --write, eslint --fix

remove test of removed component
  app/components/Form/__tests__/LinkedRecordForm.test.tsx
Due: prettier --write, eslint --fix

core review changes
  app/components/Input/Combobox.module.css
  app/components/Layout/Header/TopNavigation/TopNavigation.tsx
  app/components/OutputPresentation/Attributes.tsx
  app/components/OutputPresentation/OutputPresentation.module.css
  app/components/OutputPresentation/OutputRecordLinkWithPresentation.tsx
  app/routes/record/recordCreate.tsx
  app/routes/record/recordUpdate.tsx
  app/routes/record/recordView.tsx
  app/utils/types/NonUndefined.ts
  app/utils/types/notNull.ts
Due: prettier --write, eslint --fix, stylelint --fix

fix type import
  app/routes/resourceRoutes/getLinkedRecord.tsx
Due: prettier --write, eslint --fix

fix lint
  app/routes/record/recordView.tsx
Due: prettier --write, eslint --fix

[maven-release-plugin] prepare branch release/1.153
  pom.xml
Due: none

[maven-release-plugin] prepare for next development iteration
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.153.0
  pom.xml
Due: none

CORA-2995 Block navigation from dirty form
  app/components/ConfirmDialog/ConfirmDialog.tsx
  app/components/Form/FormNavigationBlocker.tsx
  app/components/Form/RecordForm.tsx
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

remove extra button prop
  app/components/ConfirmDialog/ConfirmDialog.tsx
Due: prettier --write, eslint --fix

remove rr future flags
  react-router.config.ts
Due: prettier --write, eslint --fix

add test for form blocker
  app/components/Form/__tests__/RecordForm.test.tsx
Due: prettier --write, eslint --fix

[maven-release-plugin] prepare branch release/1.154
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.154.0
  pom.xml
Due: none

Make dialog open animation feel more snappy
  app/components/ConfirmDialog/ConfirmDialog.module.css
Due: prettier --write, stylelint --fix

wip
  app/components/FormGenerator/components/RecordLinkWithSearch.tsx
  app/components/Input/Combobox.module.css
  app/components/OutputPresentation/OutputField.tsx
  app/components/OutputPresentation/OutputPresentation.module.css
  app/components/OutputPresentation/OutputVariable.tsx
  app/components/ValidationTypePicker/ValidationTypePicker.tsx
  app/routes/record/recordCreate.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Fix alternative presentation switching when validation error
  app/components/FormGenerator/AlternativePresentationSwitcher.tsx
Due: prettier --write, eslint --fix

Fix nested containers not showing data
  app/components/OutputPresentation/ComponentChildren.tsx
  app/components/OutputPresentation/OutputPresentation.module.css
  app/components/OutputPresentation/__test__/OutputPresentation.test.tsx
  app/components/OutputPresentation/findChildData.ts
Due: prettier --write, eslint --fix, stylelint --fix

Add third option to form blocker confirm dialog
  app/components/ConfirmDialog/ConfirmDialog.module.css
  app/components/ConfirmDialog/ConfirmDialog.tsx
  app/components/Form/FormNavigationBlocker.tsx
  app/components/RecordActionButtons/RecordActionButtons.tsx
Due: prettier --write, eslint --fix, stylelint --fix

CORA-2995 add option to open in new tab in form blocker dialog
  app/components/ConfirmDialog/ConfirmDialog.module.css
  app/components/Form/FormNavigationBlocker.tsx
  app/components/RecordActionButtons/RecordActionButtons.tsx
  app/routes/record/ActionBar/ActionBarButton.tsx
  app/routes/record/ActionBar/RecordActionBar.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Support top level final value attributes in form generator
  app/components/FormGenerator/FormGenerator.tsx
  app/cora/transform/transformRecord.server.ts
Due: prettier --write, eslint --fix

Fix confirm dialog for delete action bar button
  app/routes/record/ActionBar/RecordActionBar.tsx
Due: prettier --write, eslint --fix
