Repository lsu-ub-uu/diva-client: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

Fixed menu styling
  app/styles/root.css
Due: prettier --write, stylelint --fix

fix nav styling bug
  app/root.tsx
Due: prettier --write, eslint --fix

[maven-release-plugin] prepare branch release/1.106
  pom.xml
Due: none

[maven-release-plugin] prepare for next development iteration
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.106.0
  pom.xml
Due: none

Fix issue where login button didn't work on touch devices
  app/components/Layout/Header/Login/Login.module.css
  app/components/Layout/Header/Login/LoginMenu.tsx
  app/components/Layout/Header/Login/__tests__/Login.test.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Update search accept header
  app/components/Form/SearchResultDecorated.tsx
  app/components/RecordSearch/RecordSearch.tsx
  app/cora/getSearchResultDataListBySearchType.server.ts
  app/cora/helper.server.ts
Due: prettier --write, eslint --fix

add landing page prototype
  app/components/Layout/Header/ColorSchemeSwitcher.tsx
  app/components/Layout/Header/Login/LoginMenu.tsx
  app/generatedTypes/divaTypes.ts
  app/images/A_Cold_September_Day_in_Medelpad_(Carl_Johansson)_-_Nationalmuseum_-_18620.tif.jpg
  app/root.tsx
  app/routes.ts
  app/routes/index.tsx
  app/routes/landingPage.css
  app/routes/landingPage.tsx
  app/routes/record/recordType.tsx
  app/styles/spacing.css
Due: prettier --write, eslint --fix, stylelint --fix

styling
  app/components/Layout/Header/Header.module.css
  app/components/Layout/Header/Login/Login.module.css
  app/images/diva-star.svg
  app/routes/auth/login.css
  app/routes/landingPage.css
  app/routes/landingPage.tsx
Due: prettier --write, eslint --fix, stylelint --fix

image credit
  app/routes/landingPage.css
  app/routes/landingPage.tsx
  app/styles/spacing.css
Due: prettier --write, eslint --fix, stylelint --fix

fix search label
  app/routes/landingPage.css
  app/routes/landingPage.tsx
Due: prettier --write, eslint --fix, stylelint --fix

typography
  app/routes/landingPage.css
Due: prettier --write, stylelint --fix

styling
  app/routes/landingPage.css
  app/routes/landingPage.tsx
  app/styles/spacing.css
Due: prettier --write, eslint --fix, stylelint --fix

landing page
  app/root.tsx
  app/routes/landingPage.css
  app/routes/landingPage.tsx
  app/routes/record/recordSearch.tsx
Due: prettier --write, eslint --fix, stylelint --fix

update image
  app/images/A_Cold_September_Day_in_Medelpad__Carl_Johansson__-_Nationalmuseum_-_18620.tif_hero.webp
  app/routes/landingPage.css
Due: prettier --write, stylelint --fix

boksalen image
  app/components/Layout/Header/Header.tsx
  app/images/Carolina_Rediviva__Uppsala_universitetsbibliotek___Boksalen_2_hero.webp
  app/routes/landingPage.css
  app/routes/landingPage.tsx
Due: prettier --write, eslint --fix, stylelint --fix

fix nav missing on output view page
  app/routes/divaOutput/divaOutputView.css
  app/routes/divaOutput/divaOutputView.tsx
Due: prettier --write, eslint --fix, stylelint --fix

don not use boksalen
  app/routes/landingPage.css
  app/routes/landingPage.tsx
Due: prettier --write, eslint --fix, stylelint --fix

revert unrelated changes
  app/components/Layout/Header/ColorSchemeSwitcher.tsx
  app/components/Layout/Header/Login/LoginMenu.tsx
  app/generatedTypes/divaTypes.ts
Due: prettier --write, eslint --fix

view transition
  app/routes/landingPage.tsx
Due: prettier --write, eslint --fix

dynamic source link
  app/routes/landingPage.tsx
Due: prettier --write, eslint --fix

Fix issue where transformRecord used view metadata for create and update
  app/components/Layout/TopNavigation/TopNavigation.tsx
  app/cora/transform/__tests__/transformRecord.server.test.ts
  app/cora/transform/bffTypes.server.ts
  app/cora/transform/transformRecord.server.ts
  app/data/createRecord.server.ts
  app/data/formDefinition/createFormDefinition.server.ts
  app/data/getRecordByRecordTypeAndRecordId.server.ts
  app/data/searchRecords.server.ts
  app/data/updateRecord.server.ts
  app/generatedTypes/divaTypes.ts
  app/routes/divaOutput/components/Classifications.tsx
  app/routes/divaOutput/divaOutputView.tsx
  app/routes/record/record.tsx
  app/routes/record/recordUpdate.tsx
  app/routes/record/recordView.tsx
  app/routes/resourceRoutes/binaryRecord.ts
  app/routes/resourceRoutes/getRecord.tsx
  typegen/main.ts
Due: prettier --write, eslint --fix

Revert "Fix issue where transformRecord used view metadata for create and update"
  app/components/Layout/TopNavigation/TopNavigation.tsx
  app/cora/transform/__tests__/transformRecord.server.test.ts
  app/cora/transform/bffTypes.server.ts
  app/cora/transform/transformRecord.server.ts
  app/data/createRecord.server.ts
  app/data/formDefinition/createFormDefinition.server.ts
  app/data/getRecordByRecordTypeAndRecordId.server.ts
  app/data/searchRecords.server.ts
  app/data/updateRecord.server.ts
  app/generatedTypes/divaTypes.ts
  app/routes/divaOutput/components/Classifications.tsx
  app/routes/divaOutput/divaOutputView.tsx
  app/routes/record/record.tsx
  app/routes/record/recordUpdate.tsx
  app/routes/record/recordView.tsx
  app/routes/resourceRoutes/binaryRecord.ts
  app/routes/resourceRoutes/getRecord.tsx
  typegen/main.ts
Due: prettier --write, eslint --fix

Revert "Revert "Fix issue where transformRecord used view metadata for create and update""
  app/components/Layout/TopNavigation/TopNavigation.tsx
  app/cora/transform/__tests__/transformRecord.server.test.ts
  app/cora/transform/bffTypes.server.ts
  app/cora/transform/transformRecord.server.ts
  app/data/createRecord.server.ts
  app/data/formDefinition/createFormDefinition.server.ts
  app/data/getRecordByRecordTypeAndRecordId.server.ts
  app/data/searchRecords.server.ts
  app/data/updateRecord.server.ts
  app/generatedTypes/divaTypes.ts
  app/routes/divaOutput/components/Classifications.tsx
  app/routes/divaOutput/divaOutputView.tsx
  app/routes/record/record.tsx
  app/routes/record/recordUpdate.tsx
  app/routes/record/recordView.tsx
  app/routes/resourceRoutes/binaryRecord.ts
  app/routes/resourceRoutes/getRecord.tsx
  typegen/main.ts
Due: prettier --write, eslint --fix

update publication view page for initiative and extent metadata changes
  app/routes/divaOutput/components/ArtisticWork.tsx
  app/routes/divaOutput/components/OutputView.tsx
Due: prettier --write, eslint --fix

image attribution component
  app/generatedTypes/divaTypes.ts
  app/routes/landingPage.css
  app/routes/landingPage.tsx
Due: prettier --write, eslint --fix, stylelint --fix

CORA-3232 Add missing fields to diva output page
  app/components/CollapsableText/CollapsableText.tsx
  app/components/CollapsableText/__test__/CollabsableText.test.tsx
  app/routes/divaOutput/components/AdministrativeInfo.tsx
  app/routes/divaOutput/components/Attachment.tsx
  app/routes/divaOutput/components/Location.tsx
  app/routes/divaOutput/components/OutputView.tsx
  app/routes/divaOutput/components/__test__/OutputView.test.tsx
  app/routes/divaOutput/divaOutputView.css
Due: prettier --write, eslint --fix, stylelint --fix

update attachemnt styling
  app/routes/divaOutput/divaOutputView.css
Due: prettier --write, stylelint --fix

update attachment styling
  app/routes/divaOutput/divaOutputView.css
Due: prettier --write, stylelint --fix

remove attachments heading
  app/routes/divaOutput/components/Attachments.tsx
Due: prettier --write, eslint --fix

fix getRecordTypes crashing the page when unauthorized
  app/data/getRecordTypes.ts
Due: prettier --write, eslint --fix

add pending state for navigation links
  app/components/Layout/NavigationLink/NavigationLink.module.css
Due: prettier --write, stylelint --fix

Improve mobile menu animation
  app/components/Layout/Header/Header.module.css
Due: prettier --write, stylelint --fix

fix type errors
  app/auth/__tests__/sessionMiddleware.test.ts
  app/routes/__tests__/autocompleteSearch.test.ts
Due: prettier --write, eslint --fix

fix type error
  app/components/Form/RecordForm.tsx
Due: prettier --write, eslint --fix

CORA-3025 Design of the search results
  app/components/Form/SearchResult/Persons.module.css
  app/components/Form/SearchResult/Persons.tsx
  app/components/Form/SearchResult/SearchResultDecorated.module.css
  app/components/Form/SearchResult/SearchResultDecorated.tsx
  app/components/Form/SearchResultDecorated.tsx
  app/components/RecordSearch/RecordSearch.module.css
  app/components/RecordSearch/RecordSearch.tsx
  app/generatedTypes/divaTypes.ts
Due: prettier --write, eslint --fix, stylelint --fix

Add record details
  app/routes/divaOutput/components/DateDisplay.tsx
  app/routes/divaOutput/components/Event.tsx
  app/routes/divaOutput/components/OriginInfo.tsx
  app/routes/divaOutput/components/OutputView.tsx
  app/routes/divaOutput/components/RecordDetails.tsx
  app/routes/divaOutput/components/SearchLinkList.tsx
  app/routes/divaOutput/components/__test__/DateDisplay.test.tsx
  app/routes/divaOutput/divaOutputView.css
  app/styles/colors.scss
Due: prettier --write, eslint --fix, stylelint --fix

add record details test
  app/routes/divaOutput/components/RecordDetails.tsx
  app/routes/divaOutput/components/__test__/RecordDetails.test.tsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{css,scss})
  eslint --fix: any of: *.{ts,tsx}
  stylelint --fix: any of: *.{css,scss}
