Repository lsu-ub-uu/diva-client: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

[maven-release-plugin] prepare branch release/1.175
  pom.xml
Due: none

[maven-release-plugin] prepare for next development iteration
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.175.0
  pom.xml
Due: none

Do not revalidate root loader on GET requests
  app/auth/__tests__/useSessionAutoRenew.server.test.tsx
  app/auth/renewAuthMiddleware.server.ts
  app/auth/useSessionAutoRenew.ts
  app/generatedTypes/divaTypes.ts
  app/root.tsx
  app/utils/__tests__/useBroadcastChannel.test.ts
  app/utils/__tests__/useIsNewestWindow.test.ts
  app/utils/useBroadcastChannel.ts
  app/utils/useIsNewestWindow.ts
Due: prettier --write, eslint --fix

Handle missing globalAlert and missing diva-ClientContent
  app/__mocks__/bff/coraDivaClientContentEmpty.json
  app/cora/transform/__tests__/transformClientContent.server.test.ts
  app/cora/transform/transformClientContent.server.ts
  server/dependencies/depencencies.ts
Due: prettier --write, eslint --fix

[maven-release-plugin] prepare branch release/1.176
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.176.0
  pom.xml
Due: none

CORA-3605 Add workaround for bad redirect from /rest
  app/components/Layout/Footer/Footer.tsx
Due: prettier --write, eslint --fix

[maven-release-plugin] prepare branch release/1.177
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.177.0
  pom.xml
Due: none

Fix attachments headline showing when no attachments
  app/routes/divaOutput/components/Attachments.tsx
Due: prettier --write, eslint --fix

Fix for autocomplete filter labels
  app/routes/record/recordSearch/utils/createActiveFilters.server.ts
  app/routes/record/recordSearch/utils/createFilterDefinition.server.ts
Due: prettier --write, eslint --fix

Update tests
  app/generatedTypes/divaTypes.ts
  app/routes/record/recordSearch/utils/__tests__/createFilterDefinition.server.test.ts
  app/routes/record/recordSearch/utils/createActiveFilters.server.ts
Due: prettier --write, eslint --fix

Use getRecordTitle to render linked record filters
  app/routes/record/recordSearch/components/Filter.tsx
  app/routes/record/recordSearch/components/__tests__/Filter.test.tsx
  app/routes/record/recordSearch/utils/__tests__/createActiveFilters.server.test.ts
  app/routes/record/recordSearch/utils/__tests__/createFilterDefinition.server.test.ts
  app/routes/record/recordSearch/utils/createActiveFilters.server.ts
  app/routes/record/recordSearch/utils/createFilterDefinition.server.ts
Due: prettier --write, eslint --fix

Use divaOutputAdminSearch when logged in
  app/routes/record/recordSearch/recordSearch.tsx
  app/routes/record/recordSearch/utils/__tests__/getSearchIdForRecordType.server.test.ts
  app/routes/record/recordSearch/utils/getSearchIdForRecorrdType.server.ts
Due: prettier --write, eslint --fix

Fall back to presentation image for search result
  app/routes/divaOutput/components/PresentationImage.tsx
  app/routes/record/recordSearch/components/SearchResult/Attachments/Attachments.tsx
  app/routes/record/recordSearch/components/SearchResult/Attachments/__tests__/Attachments.test.tsx
Due: prettier --write, eslint --fix

Update tests
  app/routes/divaOutput/components/__test__/PresentationImage.test.tsx
  app/routes/record/recordSearch/utils/__tests__/createActiveFilters.server.test.ts
Due: prettier --write, eslint --fix

[maven-release-plugin] prepare branch release/1.178
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.178.0
  pom.xml
Due: none

CORA-3313 Fix issue where binaries lacked file extension
  app/routes/resourceRoutes/binary.ts
  app/routes/resourceRoutes/utils/__tests__/binaryUtils.test.ts
  app/routes/resourceRoutes/utils/binaryUtils.ts
Due: prettier --write, eslint --fix

[maven-release-plugin] prepare branch release/1.179
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.179.0
  pom.xml
Due: none

Update publication page with var name change universityPoints -> credits
  app/generatedTypes/divaTypes.ts
  app/routes/divaOutput/components/StudentDegrees.tsx
Due: prettier --write, eslint --fix

[maven-release-plugin] prepare branch release/1.180
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.180.0
  pom.xml
Due: none

Add markdown article route
  app/routes.ts
  app/routes/article/accessibility.en.md
  app/routes/article/accessibility.sv.md
  app/routes/article/article.tsx
  app/routes/article/cookies.en.md
  app/routes/article/cookies.sv.md
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Add custom combobox
  app/components/Combobox/Combobox.module.css
  app/components/Combobox/Combobox.tsx
  app/components/FormGenerator/components/AttributeSelect.module.css
  app/components/FormGenerator/components/AttributeSelect.tsx
  app/components/FormGenerator/components/InputField.tsx
  app/components/Input/Input.module.css
  app/components/Layout/Header/Login/LoginMenu.tsx
  app/components/Layout/Header/Login/__tests__/Login.test.tsx
  app/components/Menu/Menu.tsx
  app/generatedTypes/divaTypes.ts
  app/routes/record/recordSearch/components/Filter.tsx
  app/routes/record/recordSearch/utils/createFilterDefinition.server.ts
  app/utils/isTouchDevice.ts
Due: prettier --write, eslint --fix, stylelint --fix

styling
  app/components/FormGenerator/components/AttributeSelect.module.css
  app/components/FormGenerator/components/AttributeSelect.tsx
  app/components/Input/Fieldset.module.css
Due: prettier --write, eslint --fix, stylelint --fix

CORA-3313 Refactor mime type handling
  app/generatedTypes/divaTypes.ts
  app/routes/resourceRoutes/binary.ts
  app/routes/resourceRoutes/utils/__tests__/mimeTypeToFileExtension.test.ts
  app/routes/resourceRoutes/utils/__tests__/transformCoraBinaryResponse.test.ts
  app/routes/resourceRoutes/utils/mimeTypeToFileExtension.ts
  app/routes/resourceRoutes/utils/transformCoraBinaryResponse.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{css,scss})
  eslint --fix: any of: *.{ts,tsx}
  stylelint --fix: any of: *.{css,scss}
