Repository lsu-ub-uu/diva-client: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["prettier --write", "eslint --fix"],
  "*.{css,scss}": ["prettier --write", "stylelint --fix"]
}

cleaner design
  app/routes/divaOutput/divaOutputSearch.css
  app/routes/divaOutput/divaOutputSearch.tsx
Due: prettier --write, eslint --fix, stylelint --fix

add field info
  app/routes/divaOutput/divaOutputSearch.tsx
Due: prettier --write, eslint --fix

search button
  app/routes/divaOutput/divaOutputSearch.css
  app/routes/divaOutput/divaOutputSearch.tsx
Due: prettier --write, eslint --fix, stylelint --fix

style
  app/components/Layout/Header/Login/Login.module.css
  app/generatedTypes/divaTypes.ts
  app/routes/divaOutput/divaOutputSearch.css
Due: prettier --write, eslint --fix, stylelint --fix

dnd poc
  app/components/FormGenerator/components/FieldArrayComponent.tsx
  app/generatedTypes/divaTypes.ts
  app/styles/root.css
  package-lock.json
  package.json
Due: prettier --write, eslint --fix, stylelint --fix

fix test failure for group
  app/components/FormGenerator/components/Group.tsx
Due: prettier --write, eslint --fix

fix stylelint
  app/components/NavigationLoader/NavigationLoader.module.css
Due: prettier --write, stylelint --fix

fix deprecated css property
  app/components/Typography/Typography.module.css
Due: prettier --write, stylelint --fix

fix headlessui type errror
  app/components/FormGenerator/components/ComboboxSelect.tsx
Due: prettier --write, eslint --fix

unused import
  app/components/FormGenerator/components/ComboboxSelect.tsx
Due: prettier --write, eslint --fix

fixes for vitest 4
  app/auth/__tests__/createUser.test.ts
  app/utils/__tests__/useBroadcastChannel.test.ts
  package.json
Due: prettier --write, eslint --fix

remove api-scripts
  api-scripts/__tests__/auth.test.ts
  api-scripts/__tests__/createReport.test.ts
  api-scripts/auth.ts
  api-scripts/createReport.ts
  api-scripts/diva-report.xml
  api-scripts/main.ts
  api-scripts/norden1.xml
  api-scripts/norden2.xml
  api-scripts/norden3.xml
  api-scripts/norden4.xml
  api-scripts/ultimateDivaOutput.xml
Due: prettier --write, eslint --fix

add quick filters
  app/generatedTypes/divaTypes.ts
  app/routes/divaOutput/divaOutputSearch.css
  app/routes/divaOutput/divaOutputSearch.tsx
Due: prettier --write, eslint --fix, stylelint --fix

CORA-3232 Update output view page to handle null values
  app/generatedTypes/divaTypes.ts
  app/routes/divaOutput/components/ArtisticWork.tsx
  app/routes/divaOutput/components/Attachment.tsx
  app/routes/divaOutput/components/Attachments.tsx
  app/routes/divaOutput/components/Book.tsx
  app/routes/divaOutput/components/Classifications.tsx
  app/routes/divaOutput/components/ConferencePublication.tsx
  app/routes/divaOutput/components/Date.tsx
  app/routes/divaOutput/components/DegreeProjectFields.tsx
  app/routes/divaOutput/components/Event.tsx
  app/routes/divaOutput/components/Identifiers.tsx
  app/routes/divaOutput/components/Journal.tsx
  app/routes/divaOutput/components/Location.tsx
  app/routes/divaOutput/components/Organisation.tsx
  app/routes/divaOutput/components/Organisations.tsx
  app/routes/divaOutput/components/OriginInfo.tsx
  app/routes/divaOutput/components/OutputView.tsx
  app/routes/divaOutput/components/Person.tsx
  app/routes/divaOutput/components/Persons.tsx
  app/routes/divaOutput/components/Project.tsx
  app/routes/divaOutput/components/RelatedOutput.tsx
  app/routes/divaOutput/components/ResearchData.tsx
  app/routes/divaOutput/components/SdgImage.tsx
  app/routes/divaOutput/components/SearchLinkList.tsx
  app/routes/divaOutput/components/StudentDegrees.tsx
  app/routes/divaOutput/components/TitleInfo.tsx
  app/routes/divaOutput/components/__test__/DegreeProjectFields.test.tsx
  app/routes/divaOutput/components/__test__/Identifiers.test.tsx
  app/routes/divaOutput/divaOutputView.tsx
  app/routes/divaOutput/utils/__tests__/generateCitationMeta.test.ts
  app/routes/divaOutput/utils/format.ts
  app/routes/divaOutput/utils/generateCitationMeta.ts
  app/types/record.ts
  typegen/__tests__/generateTypesForRecordTypes.test.ts
  typegen/generateTypesForRecordTypes.ts
  typegen/main.ts
Due: prettier --write, eslint --fix

remove unused imports
  app/routes/divaOutput/components/Classifications.tsx
  app/routes/divaOutput/components/TitleInfo.tsx
Due: prettier --write, eslint --fix

update typegen test
  typegen/__tests__/generateTypesForRecordTypes.test.ts
Due: prettier --write, eslint --fix

[maven-release-plugin] prepare branch release/1.103
  pom.xml
Due: none

[maven-release-plugin] prepare for next development iteration
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.103.0
  pom.xml
Due: none

implement native popover
  app/components/Button/Button.module.css
  app/components/FieldInfo/FieldInfo.module.css
  app/components/FieldInfo/FieldInfo.tsx
  app/components/IconButton/IconButton.module.css
  app/components/IconButton/IconButton.tsx
  app/components/Popover/Popover.module.css
  app/components/Popover/Popover.tsx
  app/components/Tooltip/Tooltip.module.css
  app/components/Tooltip/Tooltip.tsx
  app/components/Tooltip/useTooltip.ts
  app/types/popover.d.ts
  app/utils/usePopover.ts
Due: prettier --write, eslint --fix, stylelint --fix

CORA-3184 Fix issue where spamming the form submit button would result in 314 conflict errors
  app/components/Form/RecordForm.tsx
  app/components/Layout/Header/Login/LoginMenu.tsx
Due: prettier --write, eslint --fix

fix groups with only hidden components being removed from form def
  app/data/formDefinition/__tests__/formDefinition.server.test.ts
  app/data/formDefinition/createPresentation/createHiddenComponents.server.ts
Due: prettier --write, eslint --fix

CORA-3234 Fix group dissapearing when switching to output presentation and no value
  app/components/FormGenerator/components/Group.tsx
  app/components/FormGenerator/components/__tests__/Group.test.tsx
Due: prettier --write, eslint --fix

Work on updating icons to new library
  app/components/Form/Pagination.tsx
  app/components/FormGenerator/components/ActionButtonGroup.tsx
  app/components/Layout/Header/ColorSchemeSwitcher.tsx
  app/components/Layout/Header/LanguageSwitcher.tsx
  app/components/Layout/Header/Login/LoginMenu.tsx
  app/components/Layout/TopNavigation/TopNavigation.tsx
  app/icons/ArrowDown.svg
  app/icons/ArrowUp.svg
  app/icons/BookCheck.svg
  app/icons/BookOpen.svg
  app/icons/Building.svg
  app/icons/ChartGnatt.svg
  app/icons/ChevronFirst.svg
  app/icons/FirstPage.svg
  app/icons/FlaskRound.svg
  app/icons/Globe.svg
  app/icons/GraduationCap.svg
  app/icons/HandCoins.svg
  app/icons/Library.svg
  app/icons/LogIn.svg
  app/icons/Moon.svg
  app/icons/NotebookTabs.svg
  app/icons/PenLine.svg
  app/icons/Sun.svg
  app/icons/Users.svg
  app/icons/index.ts
Due: prettier --write, eslint --fix

new header
  app/auth/useWebRedirectLogin.ts
  app/components/Layout/Header/Header.module.css
  app/components/Layout/Header/Header.tsx
  app/components/Layout/HeaderOld/ColorSchemeSwitcher.module.css
  app/components/Layout/HeaderOld/ColorSchemeSwitcher.tsx
  app/components/Layout/HeaderOld/Header.module.css
  app/components/Layout/HeaderOld/Header.tsx
  app/components/Layout/HeaderOld/LanguageSwitcher.module.css
  app/components/Layout/HeaderOld/LanguageSwitcher.tsx
  app/components/Layout/HeaderOld/Login/DevAccountLoginOptions.tsx
  app/components/Layout/HeaderOld/Login/Login.module.css
  app/components/Layout/HeaderOld/Login/LoginMenu.tsx
  app/components/Layout/HeaderOld/Login/PasswordLoginMenuOptions.tsx
  app/components/Layout/HeaderOld/Login/WebRedirectLoginMenuOptions.tsx
  app/components/Layout/HeaderOld/Login/__tests__/DevAccountLoginOptions.test.tsx
  app/components/Layout/HeaderOld/Login/__tests__/Login.test.tsx
  app/components/Layout/HeaderOld/Login/utils/__tests__/utils.test.ts
  app/components/Layout/HeaderOld/Login/utils/utils.ts
  app/components/Layout/NavigationLink/NavigationLink.module.css
  app/components/Layout/TopNavigation/TopNavigation.module.css
  app/components/Layout/TopNavigation/TopNavigation.tsx
  app/generatedTypes/divaTypes.ts
  app/root.tsx
  app/styles/root.css
Due: prettier --write, eslint --fix, stylelint --fix

CORA-3227 implement new header
  app/components/Layout/Breadcrumbs/Breadcrumbs.tsx
  app/components/Layout/Header/Header.module.css
  app/components/Layout/Header/Header.tsx
  app/components/Layout/HeaderOld/ColorSchemeSwitcher.tsx
  app/components/Layout/HeaderOld/Header.module.css
  app/components/Layout/HeaderOld/LanguageSwitcher.module.css
  app/components/Layout/HeaderOld/LanguageSwitcher.tsx
  app/components/Layout/HeaderOld/Login/Login.module.css
  app/components/Layout/HeaderOld/Login/LoginMenu.tsx
  app/components/Layout/MemberBar/MemberBar.module.css
  app/components/Layout/NavigationLink/NavigationLink.module.css
  app/components/Layout/SidebarLayout/SidebarLayout.module.css
  app/components/Layout/TopNavigation/TopNavigation.tsx
  app/root.tsx
  app/styles/root.css
Due: prettier --write, eslint --fix, stylelint --fix

CORA-3217 clean up
  app/auth/useWebRedirectLogin.ts
  app/components/Layout/Header/ColorSchemeSwitcher.module.css
  app/components/Layout/Header/ColorSchemeSwitcher.tsx
  app/components/Layout/Header/Header.tsx
  app/components/Layout/Header/LanguageSwitcher.module.css
  app/components/Layout/Header/LanguageSwitcher.tsx
  app/components/Layout/Header/Login/DevAccountLoginOptions.tsx
  app/components/Layout/Header/Login/Login.module.css
  app/components/Layout/Header/Login/LoginMenu.tsx
  app/components/Layout/Header/Login/PasswordLoginMenuOptions.tsx
  app/components/Layout/Header/Login/WebRedirectLoginMenuOptions.tsx
  app/components/Layout/Header/Login/__tests__/DevAccountLoginOptions.test.tsx
  app/components/Layout/Header/Login/__tests__/Login.test.tsx
  app/components/Layout/Header/Login/utils/__tests__/utils.test.ts
  app/components/Layout/Header/Login/utils/utils.ts
  app/components/Layout/HeaderOld/Header.module.css
  app/components/Layout/HeaderOld/Header.tsx
  app/components/Layout/TopNavigation/TopNavigation.tsx
  app/root.tsx
Due: prettier --write, eslint --fix, stylelint --fix

reduce content margin
  app/styles/root.css
Due: prettier --write, stylelint --fix

restore outputfield fieldinfo
  app/components/FormGenerator/components/OutputField.tsx
Due: prettier --write, eslint --fix

remove inline styling
  app/components/Layout/Breadcrumbs/Breadcrumbs.tsx
Due: prettier --write, eslint --fix

[maven-release-plugin] prepare branch release/1.104
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.104.0
  pom.xml
Due: none

[maven-release-plugin] prepare branch release/1.105
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.105.0
  pom.xml
Due: none
