Repository lsu-ub-uu/diva-client: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["prettier --write", "eslint --fix"],
  "*.{css,scss}": ["prettier --write", "stylelint --fix"]
}

[maven-release-plugin] prepare for next development iteration
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.149.0
  pom.xml
Due: none

WIP sitemap for diva-output
  app/routes/resourceRoutes/__tests__/sitemap.test.ts
  app/routes/resourceRoutes/__tests__/slask.json
  app/routes/resourceRoutes/sitemap.ts
  server/app.ts
  server/sitemapCache.ts
Due: prettier --write, eslint --fix

WIP add outputs to sitemap
  app/generatedTypes/divaTypes.ts
  app/routes/resourceRoutes/__tests__/sitemap.test.ts
  app/routes/resourceRoutes/sitemap.ts
  server/app.ts
  server/sitemapCache.ts
Due: prettier --write, eslint --fix

expose nodejs metrics
  app/assets/metrics-dashboard.html
  app/generatedTypes/divaTypes.ts
  server.ts
Due: prettier --write, eslint --fix

Expose prometheus metrics
  app/assets/metrics-dashboard.html
  app/generatedTypes/divaTypes.ts
  metrics.ts
  package-lock.json
  package.json
  server.ts
Due: prettier --write, eslint --fix

[maven-release-plugin] prepare branch release/1.150
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.150.0
  pom.xml
Due: none

move metrics code into server.tts
  server.ts
Due: prettier --write, eslint --fix

Fix devinfo overflow
  app/components/FormGenerator/components/DevInfo.module.css
  app/components/FormGenerator/components/DevInfo.tsx
Due: prettier --write, eslint --fix, stylelint --fix

[maven-release-plugin] prepare branch release/1.151
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.151.0
  pom.xml
Due: none

Add base path to metrics endpoint
  server.ts
Due: prettier --write, eslint --fix

[maven-release-plugin] prepare branch release/1.152
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.152.0
  pom.xml
Due: none

WIP match data with diffrent preview form
  app/generatedTypes/divaTypes.ts
  app/routes/record/recordCreate.tsx
  app/utils/__tests__/transformToOutputData.test.ts
  app/utils/transformToOutputData.ts
Due: prettier --write, eslint --fix

wip output presentation
  app/components/OutputPresentation/OutputCollectionVariable.tsx
  app/components/OutputPresentation/OutputComponent.tsx
  app/components/OutputPresentation/OutputGroup.tsx
  app/components/OutputPresentation/OutputPresentation.tsx
  app/components/OutputPresentation/OutputRecordLink.tsx
  app/components/OutputPresentation/OutputVariable.tsx
  app/cora/cora-data/types.server.ts
  app/generatedTypes/divaTypes.ts
  app/routes/record/recordCreate.tsx
  app/routes/record/recordUpdate.tsx
Due: prettier --write, eslint --fix

fix output presentation
  app/components/OutputPresentation/Attributes.tsx
  app/components/OutputPresentation/OutputCollectionVariable.tsx
  app/components/OutputPresentation/OutputComponent.tsx
  app/components/OutputPresentation/OutputGroup.tsx
  app/components/OutputPresentation/OutputPresentation.tsx
  app/components/OutputPresentation/OutputRecordLink.tsx
  app/components/OutputPresentation/OutputVariable.tsx
  app/components/OutputPresentation/__test__/OutputGroup.test.tsx
  app/components/OutputPresentation/__test__/findChildData.test.ts
  app/components/OutputPresentation/findChildData.ts
  app/cora/cora-data/types.server.ts
  app/cora/transform/transformToRaw.ts
  app/routes/record/recordCreate.tsx
  app/routes/record/recordUpdate.tsx
  app/utils/cleanFormData.ts
Due: prettier --write, eslint --fix

fix styling
  app/components/OutputPresentation/Attributes.tsx
  app/components/OutputPresentation/OutputGroup.tsx
Due: prettier --write, eslint --fix

WIP
  app/components/FormGenerator/components/Text.tsx
  app/components/FormGenerator/types.ts
  app/components/OutputPresentation/OutputCollectionVariable.tsx
  app/components/OutputPresentation/OutputComponent.tsx
  app/components/OutputPresentation/OutputContainer.tsx
  app/components/OutputPresentation/OutputField.module.css
  app/components/OutputPresentation/OutputField.tsx
  app/components/OutputPresentation/OutputGroup.tsx
  app/components/OutputPresentation/OutputRecordLink.tsx
  app/components/OutputPresentation/OutputVariable.tsx
  app/routes.ts
  app/routes/docs/presentationPlayground.tsx
  package-lock.json
  package.json
Due: prettier --write, eslint --fix, stylelint --fix

Implement linked records in new output presenttion
  app/components/OutputPresentation/OutputCollectionVariable.tsx
  app/components/OutputPresentation/OutputComponent.tsx
  app/components/OutputPresentation/OutputField.module.css
  app/components/OutputPresentation/OutputField.tsx
  app/components/OutputPresentation/OutputGroup.tsx
  app/components/OutputPresentation/OutputRecordLink.tsx
  app/components/OutputPresentation/OutputRecordLinkWithPresentation.module.css
  app/components/OutputPresentation/OutputRecordLinkWithPresentation.tsx
  app/components/OutputPresentation/OutputResourceLink.tsx
  app/routes.ts
  app/routes/record/recordUpdate.tsx
  app/routes/record/recordView.tsx
  app/routes/resourceRoutes/getLinkedRecord.tsx
Due: prettier --write, eslint --fix, stylelint --fix

WIP refactor formDef
  app/cora/bffTypes.server.ts
  app/data/formDefinition/__tests__/formDefinition.server.test.ts
  app/data/formDefinition/createCommonParameters.server.ts
  app/data/formDefinition/createDefinitionFromMetadataGroupAndPresentationGroup.server.ts
  app/data/formDefinition/createPresentation/createAttributes.ts
  app/data/formDefinition/createPresentation/createGroupOrComponent.ts
  app/data/formDefinition/createPresentation/createRepeat.server.ts
  app/data/formDefinition/createPresentation/createText.server.ts
  app/data/formDefinition/findMetadataChildReferenceByNameInDataAndAttributes.server.ts
Due: prettier --write, eslint --fix

Added pNumVar, pCollVar, pRecordLink, pResourceLink to formDef
  app/data/formDefinition/__tests__/formDefinition.server.test.ts
  app/data/formDefinition/createDefinitionFromMetadataGroupAndPresentationGroup.server.ts
Due: prettier --write, eslint --fix

formDefinition refactor
  app/cora/bffTypes.server.ts
  app/data/formDefinition/createDefinitionFromMetadataGroupAndPresentationGroup.server.ts
  app/data/formDefinition/createPresentation/createHiddenComponents.server.ts
  app/data/getFormDefinitionByValidationTypeId.server.ts
Due: prettier --write, eslint --fix

Refactor formDefinition
  app/components/FormGenerator/types.ts
  app/cora/bffTypes.server.ts
  app/data/formDefinition/__tests__/formDefinition.server.test.ts
  app/data/formDefinition/createCommonParameters.server.ts
  app/data/formDefinition/createDefinitionFromMetadataGroupAndPresentationGroup.server.ts
  app/data/formDefinition/createPresentation/createAttributes.ts
  app/data/formDefinition/createPresentation/createCollVar.server.ts
  app/data/formDefinition/createPresentation/createContainer.server.ts
  app/data/formDefinition/createPresentation/createGuiElement.server.ts
  app/data/formDefinition/createPresentation/createHiddenComponents.server.ts
  app/data/formDefinition/createPresentation/createText.server.ts
  app/utils/isDefined.ts
  app/utils/types/NonUndefined.ts
  app/utils/types/notNull.ts
Due: prettier --write, eslint --fix

wip
  app/cora/bffTypes.server.ts
  app/data/formDefinition/__tests__/formDefinition.server.test.ts
  app/data/formDefinition/createFormDefinition.server.ts
  app/data/formDefinition/createPresentation/createAttributes.ts
  app/data/formDefinition/createPresentation/createChildComponents.server.ts
  app/data/formDefinition/createPresentation/createCollVar.server.ts
  app/data/formDefinition/createPresentation/createHiddenComponents.server.ts
  app/data/formDefinition/createPresentation/findMatchingMetadataChildReferencesForSContainer.server.ts
  app/data/formDefinition/utils/findMetadataChildReferenceByNameInDataAndAttributes.server.ts
  app/data/formDefinition/utils/formDefinitionUtils.server.ts
Due: prettier --write, eslint --fix

Update tests
  app/data/formDefinition/__tests__/formDefinition.server.test.ts
Due: prettier --write, eslint --fix

implement more output presentation
  app/components/FormGenerator/types.ts
  app/components/OutputPresentation/ComponentChildren.tsx
  app/components/OutputPresentation/OutputComponent.tsx
  app/components/OutputPresentation/OutputContainer.tsx
  app/components/OutputPresentation/OutputGroup.tsx
  app/components/OutputPresentation/OutputPresentationSwitcher.module.css
  app/components/OutputPresentation/OutputPresentationSwitcher.tsx
  app/components/OutputPresentation/OutputRecordLink.tsx
  app/components/OutputPresentation/OutputVariable.tsx
  app/data/formDefinition/createFormDefinition.server.ts
  app/data/formDefinition/createPresentation/createChildComponents.server.ts
  app/data/formDefinition/utils/findMetadataChildReferenceByNameInDataAndAttributes.server.ts
  app/routes/resourceRoutes/getLinkedRecord.tsx
  app/styles/form-component.css
Due: prettier --write, eslint --fix, stylelint --fix

correct maximize/minimize icons
  app/components/OutputPresentation/OutputPresentationSwitcher.tsx
Due: prettier --write, eslint --fix

WIP
  app/components/Form/__tests__/RecordForm.test.tsx
  app/components/OutputPresentation/OutputField.module.css
  app/components/OutputPresentation/OutputGroup.tsx
  app/components/OutputPresentation/OutputPresentation.tsx
  app/components/OutputPresentation/OutputRecordLink.tsx
  app/components/OutputPresentation/OutputRecordLinkWithPresentation.module.css
  app/components/OutputPresentation/OutputRecordLinkWithPresentation.tsx
  app/data/__tests__/searchRecords.server.test.ts
  app/data/formDefinition/__tests__/formDefinition.server.test.ts
  app/data/formDefinition/__tests__/utils.ts
  app/data/formDefinition/createPresentation/__tests__/createGroup.server.test.ts
  app/data/formDefinition/createPresentation/__tests__/createPresentationComponent.test.ts
  app/data/formDefinition/createPresentation/__tests__/createRecordLink.server.test.ts
  app/data/formDefinition/utils/__tests__/findMetadataChildReferenceByNameInDataAndAttributes.test.ts
  app/data/formDefinition/utils/__tests__/formDefinitionUtils.test.ts
  app/routes/record/recordCreate.tsx
  app/styles/typography.css
  todo.txt
Due: prettier --write, eslint --fix, stylelint --fix

Handle presentation that matches multiple metadatas
  app/data/formDefinition/__tests__/formDefinition.server.test.ts
  app/data/formDefinition/createPresentation/createChildComponents.server.ts
  app/data/formDefinition/createPresentation/findMatchingMetadataChildReferencesForSContainer.server.ts
  app/data/formDefinition/utils/findMetadataChildReferenceByNameInDataAndAttributes.server.ts
  app/routes/record/recordUpdate.tsx
  todo.txt
Due: prettier --write, eslint --fix

wip
  app/data/formDefinition/__tests__/formDefinition.server.test.ts
Due: prettier --write, eslint --fix
