Repository lsu-ub-uu/diva-client: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["prettier --write", "eslint --fix"],
  "*.{css,scss}": ["prettier --write", "stylelint --fix"]
}

CORA-3334 Prevent scroll restoration on search filter change
  app/root.tsx
Due: prettier --write, eslint --fix

CORA-3330: Refactor recordSearch route
  app/data/search/__tests__/createFilterDefinition.server.test.ts
  app/routes/record/recordSearch/components/ActiveFilters.tsx
  app/routes/record/recordSearch/components/Filter.tsx
  app/routes/record/recordSearch/components/Filters.tsx
  app/routes/record/recordSearch/components/SearchLayout.tsx
  app/routes/record/recordSearch/components/__tests__/Filter.test.tsx
  app/routes/record/recordSearch/components/__tests__/SearchLayout.test.tsx
  app/routes/record/recordSearch/recordSearch.css
  app/routes/record/recordSearch/recordSearch.tsx
  app/routes/record/recordSearch/utils/__tests__/createActiveFilters.server.test.ts
  app/routes/record/recordSearch/utils/__tests__/createFilterDefinition.server.test.ts
  app/routes/record/recordSearch/utils/__tests__/createSearchQuery.server.test.ts
  app/routes/record/recordSearch/utils/__tests__/performSearch.server.test.ts
  app/routes/record/recordSearch/utils/createActiveFilters.server.ts
  app/routes/record/recordSearch/utils/createFilterDefinition.server.ts
  app/routes/record/recordSearch/utils/createSearchFormDefinition.server.ts
  app/routes/record/recordSearch/utils/createSearchQuery.server.ts
  app/routes/record/recordSearch/utils/performSearch.server.ts
  app/routes/record/utils/performSearch.ts
Due: prettier --write, eslint --fix, stylelint --fix

CORA-3330 Improve error handling for search page
  app/data/__tests__/getValidationTypes.server.test.ts
  app/data/getValidationTypes.server.ts
  app/routes/record/recordSearch/components/SearchLayout.tsx
  app/routes/record/recordSearch/components/SearchResults.tsx
  app/routes/record/recordSearch/components/__tests__/SearchLayout.test.tsx
  app/routes/record/recordSearch/recordSearch.tsx
  app/routes/record/recordSearch/utils/__tests__/performSearch.server.test.ts
  app/routes/record/recordSearch/utils/performSearch.server.ts
Due: prettier --write, eslint --fix

fix linting and type errors
  app/data/__tests__/getValidationTypes.server.test.ts
  app/routes/record/recordCreate.tsx
  app/routes/record/recordSearch/components/Pagination.tsx
  app/routes/record/recordSearch/components/RecordSearchView.tsx
  app/routes/record/recordSearch/components/SearchHiddenInputs.tsx
  app/routes/record/recordSearch/recordSearch.css
  app/routes/record/recordSearch/utils/__tests__/performSearch.server.test.ts
  app/routes/record/recordSearch/utils/createSearchFormDefinition.server.ts
Due: prettier --write, eslint --fix, stylelint --fix

[maven-release-plugin] prepare branch release/1.133
  pom.xml
Due: none

[maven-release-plugin] prepare for next development iteration
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.133.0
  pom.xml
Due: none

CORA-3316 Update attachment view after metadata changes
  app/components/Form/SearchResult/Attachments/Attachments.tsx
  app/generatedTypes/divaTypes.ts
  app/routes/divaOutput/components/Attachment.tsx
  app/routes/divaOutput/components/AttachmentDetails.tsx
  app/routes/divaOutput/components/Attachments.tsx
  app/routes/divaOutput/components/__test__/AttachmentDetails.test.tsx
Due: prettier --write, eslint --fix

CORA-3316 Add attachments info to record details
  app/routes/divaOutput/components/Attachments.tsx
  app/routes/divaOutput/components/RecordDetails.tsx
  app/routes/divaOutput/components/__test__/RecordDetails.test.tsx
Due: prettier --write, eslint --fix

[maven-release-plugin] prepare branch release/1.134
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.134.0
  pom.xml
Due: none

Fixed menu on iOS
  app/components/ConfirmDialog/ConfirmDialog.module.css
  app/components/ConfirmDialog/ConfirmDialog.tsx
  app/components/Layout/Header/MobileNavigation/MobileNavigation.module.css
  app/components/Layout/Header/MobileNavigation/MobileNavigation.tsx
  app/generatedTypes/divaTypes.ts
Due: prettier --write, eslint --fix, stylelint --fix

[maven-release-plugin] prepare branch release/1.135
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.135.0
  pom.xml
Due: none

Added hostRecord to createBinaryRecord
  app/components/FormGenerator/components/FileUpload.tsx
  app/cora/createBinaryRecord.ts
  app/routes/resourceRoutes/binaryRecord.ts
Due: prettier --write, eslint --fix

CORA-3345 Handle anyTypeRecord link and binary hostRecord
  app/__mocks__/bff/coraMetadataAnyTypeRecordLink.json
  app/components/FormGenerator/Component.tsx
  app/components/FormGenerator/components/AnyTypeRecordLink.module.css
  app/components/FormGenerator/components/AnyTypeRecordLink.tsx
  app/components/FormGenerator/components/FileUpload.tsx
  app/components/FormGenerator/components/LeafComponent.tsx
  app/components/FormGenerator/components/OutputRecordLink.tsx
  app/components/FormGenerator/components/RecordLink.tsx
  app/components/FormGenerator/formGeneratorUtils/formGeneratorUtils.ts
  app/components/FormGenerator/types.ts
  app/cora/__tests__/createBinaryRecord.server.test.ts
  app/cora/createBinaryRecord.server.ts
  app/cora/transform/__tests__/transformMetadata.server.test.ts
  app/cora/transform/bffTypes.server.ts
  app/cora/transform/transformMetadata.server.ts
  app/cora/transform/transformRecord.server.ts
  app/cora/transform/transformToCora.server.ts
  app/data/formDefinition/formDefinition.server.ts
  app/generatedTypes/divaTypes.ts
  app/routes/resourceRoutes/binaryRecord.ts
  app/utils/cleanFormData.ts
  package.json
  typegen/__tests__/generateTypesForRecordTypes.test.ts
  typegen/generateTypesForRecordTypes.ts
Due: prettier --write, eslint --fix, stylelint --fix

Fix anytype record link
  app/components/FormGenerator/components/AnyTypeRecordLink.tsx
  app/components/FormGenerator/components/RecordLinkWithSearch.tsx
Due: prettier --write, eslint --fix

fix tests
  app/components/FormGenerator/components/OutputRecordLink.tsx
  app/cora/transform/__tests__/transformRecord.server.test.ts
  app/cora/transform/__tests__/transformToCora.server.test.ts
  app/routes/divaOutput/utils/__tests__/generateCitationMeta.test.ts
  app/routes/divaOutput/utils/generateCitationMeta.ts
Due: prettier --write, eslint --fix

fix lint
  app/components/FormGenerator/formGeneratorUtils/formGeneratorUtils.ts
Due: prettier --write, eslint --fix

revert metadata type changes
  app/generatedTypes/divaTypes.ts
  app/routes/divaOutput/utils/__tests__/generateCitationMeta.test.ts
  app/routes/divaOutput/utils/generateCitationMeta.ts
Due: prettier --write, eslint --fix

Apply suggestions from code review
  app/components/FormGenerator/components/AnyTypeRecordLink.tsx
Due: prettier --write, eslint --fix

[maven-release-plugin] prepare branch release/1.136
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.136.0
  pom.xml
Due: none

CORA-3316 update after metadata changes
  app/generatedTypes/divaTypes.ts
  app/routes/divaOutput/components/Attachment.tsx
  app/routes/divaOutput/components/AttachmentDetails.tsx
  app/routes/divaOutput/components/__test__/AttachmentDetails.test.tsx
  app/routes/divaOutput/utils/__tests__/generateCitationMeta.test.ts
  app/routes/divaOutput/utils/generateCitationMeta.ts
Due: prettier --write, eslint --fix

[maven-release-plugin] prepare branch release/1.137
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.137.0
  pom.xml
Due: none

base ui combobox
  app/components/FormGenerator/components/OutputRecordLink.tsx
  app/components/FormGenerator/components/RecordLink.tsx
  app/components/FormGenerator/components/RecordLinkWithSearch.tsx
  app/components/Input/Combobox.module.css
  app/cora/transform/transformRecord.server.ts
  app/generatedTypes/divaTypes.ts
  package-lock.json
  package.json
Due: prettier --write, eslint --fix, stylelint --fix

CORA-3353 extract drawerdialog and use it for filters
  app/components/DrawerDialog/DrawerDialog.module.css
  app/components/DrawerDialog/DrawerDialog.tsx
  app/components/Layout/Header/MobileNavigation/MobileNavigation.tsx
  app/generatedTypes/divaTypes.ts
  app/routes/record/recordSearch/components/ActiveFilters.tsx
  app/routes/record/recordSearch/components/Filters.tsx
  app/routes/record/recordSearch/components/RecordSearchView.tsx
  app/routes/record/recordSearch/components/SearchLayout.tsx
  app/routes/record/recordSearch/recordSearch.css
Due: prettier --write, eslint --fix, stylelint --fix

implement create record menu with custom component
  app/components/CreateRecordMenu/CreateRecordMenu.tsx
  app/components/Menu/Menu.module.css
  app/components/Menu/Menu.tsx
  app/components/Menu/MenuItem.tsx
Due: prettier --write, eslint --fix, stylelint --fix

move activedescentant to menu
  app/components/Menu/Menu.tsx
  app/components/Menu/MenuItem.tsx
Due: prettier --write, eslint --fix

use new menu everywhere
  app/components/CreateRecordMenu/CreateRecordMenu.tsx
  app/components/CreateRecordMenu/CreateRecordMenuError.tsx
  app/components/DropdownMenu/DropdownMenu.module.css
  app/components/DropdownMenu/DropdownMenu.tsx
  app/components/Layout/Header/Login/DevAccountLoginOptions.tsx
  app/components/Layout/Header/Login/LoginMenu.tsx
  app/components/Layout/Header/Login/PasswordLoginMenuOptions.tsx
  app/components/Layout/Header/Login/WebRedirectLoginMenuOptions.tsx
  app/components/Layout/Header/TopNavigation/TopNavigation.module.css
  app/components/Layout/Header/TopNavigation/TopNavigation.tsx
  app/components/Menu/Menu.module.css
  app/components/Menu/Menu.tsx
Due: prettier --write, eslint --fix, stylelint --fix
