Repository lsu-ub-uu/diva-client: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["prettier --write", "eslint --fix"],
  "*.{css,scss}": ["prettier --write", "stylelint --fix"]
}

Fix buttons without type
  app/components/CollapsableText/ShowMoreOrLessButton.tsx
  app/components/Layout/Header/Login/DevAccountLoginOptions.tsx
  app/components/Layout/Header/Login/LoginMenu.tsx
  app/components/Layout/Header/Login/WebRedirectLoginMenuOptions.tsx
  app/components/OutputPresentation/OutputPresentationSwitcher.tsx
  app/errorHandling/ErrorAlert.tsx
  eslint.config.js
Due: prettier --write, eslint --fix

wip
  app/components/Button/Button.tsx
  app/components/FormGenerator/components/RecordLinkWithSearch.module.css
  app/components/FormGenerator/components/RecordLinkWithSearch.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Use pino for logging
  app/auth/renewAuthMiddleware.server.ts
  app/components/Form/ValidationErrorSnackbar.tsx
  app/cora/getDeploymentInfo.server.ts
  app/cora/getRecordDataListByType.server.ts
  app/cora/requestAuthTokenOnLogin.server.ts
  app/cora/transform/transformMetadata.server.ts
  app/cora/transform/transformRecord.server.ts
  app/data/deleteRecord.server.ts
  app/data/getRecordByRecordTypeAndRecordId.server.ts
  app/entry.server.tsx
  app/logging/logger.ts
  app/routes/article/article.tsx
  app/routes/auth/login.tsx
  app/routes/auth/logout.tsx
  app/routes/divaOutput/divaOutputView.tsx
  app/routes/docs/presentationPlayground.tsx
  app/routes/landingPage/landingPage.tsx
  app/routes/record/record.tsx
  app/routes/record/recordCreate.tsx
  app/routes/record/recordPublish.tsx
  app/routes/record/recordSearch/recordSearch.tsx
  app/routes/record/recordSearch/utils/performSearch.server.ts
  app/routes/record/recordTrash.tsx
  app/routes/record/recordUnpublish.tsx
  app/routes/record/recordUntrash.tsx
  app/routes/record/recordUpdate.tsx
  app/routes/resourceRoutes/autocompleteSearch.tsx
  app/routes/resourceRoutes/binary.ts
  app/routes/resourceRoutes/getLinkedRecord.tsx
  app/utils/__tests__/logError.test.ts
  package-lock.json
  package.json
  scripts/prestart.js
  server.ts
  server/dependencies/depencencies.ts
  server/listenForDataChange.ts
  server/sitemapCache.server.ts
  typegen/generateTypesForRecordTypes.ts
  typegen/main.ts
Due: prettier --write, eslint --fix

Centralize error handling
  app/cora/getRecordDataById.server.ts
  app/data/errorHandler.server.ts
  app/entry.server.tsx
  app/errorHandling/createRouteErrorResponse.server.ts
  app/logging/logger.ts
  app/routes/article/article.tsx
  app/routes/divaOutput/divaOutputView.tsx
  app/routes/landingPage/landingPage.tsx
  app/routes/record/record.tsx
  app/routes/record/recordSearch/recordSearch.tsx
  app/utils/__tests__/logError.test.ts
  package.json
Due: prettier --write, eslint --fix

remove test error
  app/cora/getRecordDataById.server.ts
Due: prettier --write, eslint --fix

Update tests
  app/auth/__tests__/renewAuthMiddleware.server.test.ts
  app/errorHandling/__tests__/createRouteErrorResponse.server.test.ts
  app/logging/__tests__/logger.test.ts
  server/__tests__/listenForDataChange.test.ts
Due: prettier --write, eslint --fix

fix type error
  app/routes/article/article.tsx
  app/utils/installTimestampedConsole.ts
Due: prettier --write, eslint --fix

PR fixes
  app/auth/__tests__/renewAuthMiddleware.server.test.ts
  app/auth/renewAuthMiddleware.server.ts
  app/components/Form/ValidationErrorSnackbar.tsx
  app/cora/getDeploymentInfo.server.ts
  app/cora/getRecordDataListByType.server.ts
  app/cora/requestAuthTokenOnLogin.server.ts
  app/cora/transform/transformMetadata.server.ts
  app/cora/transform/transformRecord.server.ts
  app/data/deleteRecord.server.ts
  app/data/getRecordByRecordTypeAndRecordId.server.ts
  app/entry.server.tsx
  app/errorHandling/createRouteErrorResponse.server.ts
  app/logging/__tests__/logger.server.test.ts
  app/logging/logger.server..ts
  app/routes/auth/login.tsx
  app/routes/auth/logout.tsx
  app/routes/divaOutput/divaOutputView.tsx
  app/routes/docs/presentationPlayground.tsx
  app/routes/record/recordCreate.tsx
  app/routes/record/recordPublish.tsx
  app/routes/record/recordSearch/utils/performSearch.server.ts
  app/routes/record/recordTrash.tsx
  app/routes/record/recordUnpublish.tsx
  app/routes/record/recordUntrash.tsx
  app/routes/record/recordUpdate.tsx
  app/routes/resourceRoutes/autocompleteSearch.tsx
  app/routes/resourceRoutes/binary.ts
  app/routes/resourceRoutes/getLinkedRecord.tsx
  app/utils/__tests__/installTimestampedConsole.test.ts
  server/__tests__/listenForDataChange.test.ts
  server/dependencies/depencencies.ts
  server/listenForDataChange.ts
  server/sitemapCache.server.ts
  typegen/generateTypesForRecordTypes.ts
  typegen/main.ts
Due: prettier --write, eslint --fix

CORA-3632 Use native fetch instead of RR fetcher for linkedRecord
  app/components/FormGenerator/components/__tests__/RecordLinkWithLinkedPresentation.test.tsx
  app/components/OutputPresentation/OutputRecordLinkWithPresentation.tsx
  app/components/OutputPresentation/__test__/OutputRecordLinkWithPresentation.test.tsx
  app/utils/testUtils.tsx
Due: prettier --write, eslint --fix

[maven-release-plugin] prepare branch release/1.187
  pom.xml
Due: none

[maven-release-plugin] prepare for next development iteration
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.187.0
  pom.xml
Due: none

fix tests and type error
  app/auth/__tests__/renewAuthMiddleware.server.test.ts
  app/auth/renewAuthMiddleware.server.ts
  app/cora/getDeploymentInfo.server.ts
  app/cora/getRecordDataListByType.server.ts
  app/cora/requestAuthTokenOnLogin.server.ts
  app/cora/transform/transformMetadata.server.ts
  app/cora/transform/transformRecord.server.ts
  app/data/deleteRecord.server.ts
  app/data/getRecordByRecordTypeAndRecordId.server.ts
  app/entry.server.tsx
  app/errorHandling/__tests__/createRouteErrorResponse.server.test.ts
  app/logging/__tests__/logger.server.test.ts
  app/logging/logger.server.ts
  app/routes/article/article.tsx
  app/routes/auth/login.tsx
  app/routes/auth/logout.tsx
  app/routes/divaOutput/divaOutputView.tsx
  app/routes/record/recordCreate.tsx
  app/routes/record/recordPublish.tsx
  app/routes/record/recordSearch/utils/performSearch.server.ts
  app/routes/record/recordTrash.tsx
  app/routes/record/recordUnpublish.tsx
  app/routes/record/recordUntrash.tsx
  app/routes/record/recordUpdate.tsx
  app/routes/resourceRoutes/autocompleteSearch.tsx
  app/routes/resourceRoutes/binary.ts
  app/routes/resourceRoutes/getLinkedRecord.tsx
  server/__tests__/listenForDataChange.test.ts
  server/dependencies/depencencies.ts
  server/listenForDataChange.ts
  server/sitemapCache.server.ts
Due: prettier --write, eslint --fix

fix build error
  .github/workflows/master.yml
  app/routes/divaOutput/divaOutputView.tsx
Due: prettier --write, eslint --fix

fix lint error
  app/routes/divaOutput/divaOutputView.tsx
Due: prettier --write, eslint --fix

[maven-release-plugin] prepare branch release/1.188
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.188.0
  pom.xml
Due: none

improve record link
  app/components/Alert/Alert.module.css
  app/components/Button/Button.tsx
  app/components/FormGenerator/components/RecordLinkWithSearch.module.css
  app/components/FormGenerator/components/RecordLinkWithSearch.tsx
  app/components/IconButton/IconButton.tsx
  app/components/OutputPresentation/OutputPresentation.module.css
  app/styles/root.css
Due: prettier --write, eslint --fix, stylelint --fix

fix type errors
  app/components/FormGenerator/components/RecordLinkWithSearch.module.css
  app/components/FormGenerator/components/RecordLinkWithSearch.tsx
  app/components/IconButton/IconButton.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Improve randomness of generateRepeatId
  app/components/FormGenerator/defaultValues/generateRepeatId.ts
Due: prettier --write, eslint --fix

CORA-3633 Add tests for field array
  app/components/Form/__tests__/RecordForm.test.tsx
Due: prettier --write, eslint --fix

CORA-3633 Change form field array field names to dot notation instead of bracket.
  app/__mocks__/data/form/group.ts
  app/components/FormGenerator/components/FieldArrayComponent.tsx
  app/data/formDefinition/__tests__/createRecordLinkSearchPresentation.server.test.ts
  app/data/formDefinition/createPresentation/createRecordLinkSearchPresentation.server.ts
  app/routes/__tests__/autocompleteSearch.test.ts
  app/routes/record/recordSearch/utils/__tests__/createFilterDefinition.server.test.ts
  app/routes/record/recordSearch/utils/createFilterDefinition.server.ts
  app/utils/__tests__/parseFormDataFromSearchParams.test.ts
  app/utils/parseFormDataFromSearchParams.ts
Due: prettier --write, eslint --fix

CORA-3654 Fix sync from url to seach inputs
  app/routes/record/recordSearch/components/Filter.tsx
  app/routes/record/recordSearch/components/Filters/AutocompleteFilter.tsx
  app/routes/record/recordSearch/components/Filters/CollectionComboboxFilter.tsx
  app/routes/record/recordSearch/components/Filters/CollectionSelectFilter.tsx
  app/routes/record/recordSearch/components/Filters/Filter.tsx
  app/routes/record/recordSearch/components/Filters/Filters.tsx
  app/routes/record/recordSearch/components/Filters/NumberFilter.tsx
  app/routes/record/recordSearch/components/Filters/TextFilter.tsx
  app/routes/record/recordSearch/components/Filters/__tests__/AutocompleteFilter.test.tsx
  app/routes/record/recordSearch/components/Filters/__tests__/CollectionComboboxFilter.test.tsx
  app/routes/record/recordSearch/components/Filters/__tests__/CollectionSelectFilter.test.tsx
  app/routes/record/recordSearch/components/Filters/__tests__/Filter.test.tsx
  app/routes/record/recordSearch/components/Filters/__tests__/Filters.test.tsx
  app/routes/record/recordSearch/components/Filters/__tests__/NumberFilter.test.tsx
  app/routes/record/recordSearch/components/Filters/__tests__/TextFilter.test.tsx
  app/routes/record/recordSearch/components/MainSearchInput.tsx
  app/routes/record/recordSearch/components/SearchLayout.tsx
  app/routes/record/recordSearch/components/__tests__/Filter.test.tsx
Due: prettier --write, eslint --fix

Apply suggestions from code review
  app/routes/record/recordSearch/components/Filters/CollectionSelectFilter.tsx
  app/routes/record/recordSearch/components/Filters/NumberFilter.tsx
  app/routes/record/recordSearch/components/Filters/TextFilter.tsx
  app/routes/record/recordSearch/components/MainSearchInput.tsx
Due: prettier --write, eslint --fix

CORA-3659 Added data-has-value to recordLinksWithLinkedPresentation and outputRecordLink
  app/components/FormGenerator/components/OutputRecordLink.tsx
  app/components/FormGenerator/components/RecordLinkOnlyTranslatedText.tsx
  app/components/FormGenerator/components/RecordLinkWithLinkedPresentation.tsx
Due: prettier --write, eslint --fix

implement playwright with express simulator
  .github/workflows/playwright.yml
  .gitignore
  app/__mocks__/bff/divaMemberListWithDivaMember.json
  app/generatedTypes/divaTypes.ts
  package-lock.json
  package.json
  playwright.config.ts
  playwright/cora-simulator/cora-simulator.ts
  playwright/example.spec.ts
Due: prettier --write, eslint --fix

Add msw implementation
  playwright.config.ts
  playwright/cora-simulator/cora-msw.server.ts
  server.ts
Due: prettier --write, eslint --fix

=Commit form jenkins
  pom.xml
Due: none

[maven-release-plugin] prepare branch release/1.189
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.189.0
  pom.xml
Due: none

CORA-3659: Improve logic for when has data dot is shown
  .gitignore
  app/components/Card/Card.module.css
  app/components/Card/Card.tsx
  app/components/FormGenerator/AlternativePresentationSwitcher.tsx
  app/components/FormGenerator/components/Group.tsx
  app/components/FormGenerator/components/OutputField.tsx
  app/components/FormGenerator/components/OutputRecordLink.tsx
  app/components/OutputPresentation/OutputField.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Fix issue where attribute would get error styling when parent fieldset had error
  app/components/Input/Fieldset.module.css
  app/components/Input/Input.module.css
Due: prettier --write, stylelint --fix

CORA-3659 improve test coverage and refactor createHiddenComponents
  app/data/formDefinition/createPresentation/__tests__/createHiddenComponents.test.ts
  app/data/formDefinition/createPresentation/createHiddenComponents.server.ts
Due: prettier --write, eslint --fix

fix tests
  app/data/formDefinition/__tests__/formDefinition.server.test.ts
  app/data/formDefinition/createPresentation/__tests__/createPresentationComponent.test.ts
Due: prettier --write, eslint --fix

CORA-3659 Fix hidden components being generated incorrectly for metadata presented by sContainer
  app/data/formDefinition/__tests__/formDefinition.server.test.ts
  app/data/formDefinition/createPresentation/__tests__/createHiddenComponents.test.ts
  app/data/formDefinition/createPresentation/__tests__/createPresentationComponent.test.ts
  app/data/formDefinition/createPresentation/createHiddenComponents.server.ts
Due: prettier --write, eslint --fix
