Repository lsu-ub-uu/diva-client: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["prettier --write", "eslint --fix"],
  "*.{css,scss}": ["prettier --write", "stylelint --fix"]
}

fix type errors
  app/components/RecordSearch/RecordSearch.module.css
  app/components/RecordSearch/RecordSearch.tsx
  app/routes/record/recordSearch/components/__tests__/Filter.test.tsx
  app/routes/record/recordSearch/components/__tests__/SearchResults.test.tsx
Due: prettier --write, eslint --fix, stylelint --fix

[maven-release-plugin] prepare branch release/1.125
  pom.xml
Due: none

[maven-release-plugin] prepare for next development iteration
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.125.0
  pom.xml
Due: none

dark mode fixes
  app/components/Alert/Alert.module.css
  app/components/Layout/Footer/Footer.module.css
  app/components/Layout/MemberBar/MemberBar.module.css
  app/cora/updateRecordDataById.server.ts
  app/routes/auth/login.tsx
  app/routes/docs/designSystem.tsx
  app/routes/record/recordSearch/components/ActiveFilters.module.css
  app/routes/record/recordSearch/components/Pagination.module.css
  app/routes/record/recordSearch/recordSearch.css
  app/styles/colors.scss
  app/styles/root.css
Due: prettier --write, eslint --fix, stylelint --fix

remove things
  app/cora/updateRecordDataById.server.ts
  app/routes/auth/login.tsx
Due: prettier --write, eslint --fix

unused import
  app/routes/auth/login.tsx
Due: prettier --write, eslint --fix

=Commit form jenkins
  pom.xml
Due: none

[maven-release-plugin] prepare branch release/1.126
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.126.0
  pom.xml
Due: none

fix main search input value getting overwritten
  app/routes/record/recordSearch/components/MainSearchInput.tsx
Due: prettier --write, eslint --fix

[maven-release-plugin] prepare branch release/1.127
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.127.0
  pom.xml
Due: none

CORA-2981 Update cleanFormData to not remove data that is from storage
  app/cora/transform/__tests__/transformRecord.server.test.ts
  app/cora/transform/transformRecord.server.ts
  app/utils/__tests__/cleanFormData.test.ts
  app/utils/cleanFormData.ts
Due: prettier --write, eslint --fix

fix select styling on dark mode on chrome
  app/components/Input/Input.module.css
  app/components/Input/Select.tsx
Due: prettier --write, eslint --fix, stylelint --fix

WIP
  app/root.tsx
Due: prettier --write, eslint --fix

WIP
  app/components/Layout/Header/Header.tsx
  app/components/Layout/TopNavigation/TopNavigation.module.css
  app/components/Layout/TopNavigation/TopNavigation.tsx
  app/data/__tests__/getNavigation.server.test.ts
  app/data/getNavigation.ts
  app/routes/divaOutput/divaOutputView.tsx
  app/routes/record/recordType.tsx
  app/routes/resourceRoutes/sitemap.ts
Due: prettier --write, eslint --fix, stylelint --fix

add tests
  app/components/Layout/TopNavigation/TopNavigation.tsx
  app/data/__tests__/getNavigation.server.test.ts
  app/data/getNavigation.server.ts
  app/data/searchRecords.server.ts
  app/types/record.ts
Due: prettier --write, eslint --fix

[maven-release-plugin] prepare branch release/1.128
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.128.0
  pom.xml
Due: none

Add copy button to devinfo
  app/components/FormGenerator/components/DevInfo.module.css
  app/components/FormGenerator/components/DevInfo.tsx
  app/generatedTypes/divaTypes.ts
Due: prettier --write, eslint --fix, stylelint --fix

improve search
  app/routes/divaOutput/components/Attachment.tsx
  app/routes/record/recordSearch/components/ActiveFilters.module.css
  app/routes/record/recordSearch/components/ActiveFilters.tsx
  app/routes/record/recordSearch/components/Filter.tsx
  app/routes/record/recordSearch/components/Filters.tsx
  app/routes/record/recordSearch/components/RecordSearchView.tsx
  app/routes/record/recordSearch/components/SearchLayout.tsx
  app/routes/record/recordSearch/recordSearch.tsx
Due: prettier --write, eslint --fix, stylelint --fix

check search result data length instead of totalNo
  app/routes/record/recordSearch/components/ActiveFilters.tsx
  app/routes/record/recordSearch/components/RecordSearchView.tsx
  app/routes/record/recordSearch/components/SearchResults.tsx
  app/routes/record/recordSearch/components/__tests__/ActiveFilters.test.tsx
  app/routes/record/recordSearch/recordSearch.tsx
Due: prettier --write, eslint --fix

remove temp code
  app/routes/divaOutput/components/Attachment.tsx
Due: prettier --write, eslint --fix

remove unused attribute
  app/routes/record/recordSearch/components/Filter.tsx
Due: prettier --write, eslint --fix

fix typos
  app/routes/record/recordSearch/components/Filters.tsx
  app/routes/record/recordSearch/components/__tests__/SearchLayout.test.tsx
  app/routes/record/recordSearch/recordSearch.tsx
Due: prettier --write, eslint --fix

Handle automcomplete filter value with unexpected form
  app/routes/record/recordSearch/recordSearch.tsx
Due: prettier --write, eslint --fix

Only show the first attachment in publication search result
  app/components/Form/SearchResult/Attachments/Attachments.module.css
  app/components/Form/SearchResult/Attachments/Attachments.tsx
Due: prettier --write, eslint --fix, stylelint --fix

fix inline style
  app/routes/record/recordSearch/components/ActiveFilters.module.css
  app/routes/record/recordSearch/components/ActiveFilters.tsx
  app/routes/record/recordSearch/recordSearch.tsx
Due: prettier --write, eslint --fix, stylelint --fix

[maven-release-plugin] prepare branch release/1.129
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.129.0
  pom.xml
Due: none
