Repository lsu-ub-uu/diva-client: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["prettier --write", "eslint --fix"],
  "*.{css,scss}": ["prettier --write", "stylelint --fix"]
}

[maven-release-plugin] prepare branch release/1.181
  pom.xml
Due: none

[maven-release-plugin] prepare for next development iteration
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.181.0
  pom.xml
Due: none

CORA-3313: Add developer resources page
  app/components/Layout/Footer/Footer.tsx
  app/generatedTypes/divaTypes.ts
  app/routes.ts
  app/routes/accessibility/accessibility.tsx
  app/routes/article/__tests__/getMarkdown.server.test.ts
  app/routes/article/article.tsx
  app/routes/article/getMarkdown.server.ts
  app/routes/article/loadMarkdownFile.server.ts
  app/routes/article/markdown/accessibility.en.md
  app/routes/article/markdown/accessibility.sv.md
  app/routes/article/markdown/cookies.en.md
  app/routes/article/markdown/cookies.sv.md
  app/routes/article/markdown/developer.en.md
  app/routes/article/markdown/developer.sv.md
Due: prettier --write, eslint --fix

delete cookies route
  app/routes/cookies/cookies.tsx
Due: prettier --write, eslint --fix

CORA-3608 Extract Markdown renderer
  app/components/Markdown/Markdown.tsx
  app/components/Markdown/__tests__/Markdown.test.tsx
  app/routes/article/article.tsx
Due: prettier --write, eslint --fix

[maven-release-plugin] prepare branch release/1.182
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.182.0
  pom.xml
Due: none

CORA-3624 Fix attachment thumbnail size in search result
  app/routes/record/recordSearch/components/SearchResult/Attachments/Attachments.module.css
  app/routes/record/recordSearch/components/SearchResult/Attachments/Attachments.tsx
Due: prettier --write, eslint --fix, stylelint --fix

CORA-3623 Disable tooltips for touch devices
  app/components/Tooltip/useTooltip.ts
  app/utils/__tests__/isTouchDevise.test.ts
  app/utils/isTouchDevice.ts
Due: prettier --write, eslint --fix

CORA-3622 quick fix for popovers on firefox
  app/components/Layout/Header/MobileNavigation/MobileNavigation.tsx
  app/components/Popover/Popover.module.css
  app/components/Popover/Popover.tsx
  app/components/Tooltip/Tooltip.module.css
  app/components/Tooltip/useTooltip.ts
Due: prettier --write, eslint --fix, stylelint --fix

Fix article pages
  app/routes/article/article.tsx
  app/routes/article/loadMarkdownFile.server.ts
Due: prettier --write, eslint --fix

stub window.matchMedia in vitest setup
  setupTest.ts
Due: prettier --write, eslint --fix

[maven-release-plugin] prepare branch release/1.183
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.183.0
  pom.xml
Due: none

Fix tooltip and popover positioning
  app/components/Popover/Popover.module.css
  app/components/Tooltip/Tooltip.module.css
Due: prettier --write, stylelint --fix

remove unneccesary properties
  app/components/Popover/Popover.module.css
Due: prettier --write, stylelint --fix

fix anchor positioning
  app/components/Combobox/Combobox.module.css
  app/components/Menu/Menu.module.css
Due: prettier --write, stylelint --fix

[maven-release-plugin] prepare branch release/1.184
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.184.0
  pom.xml
Due: none

update developer article copy
  app/routes/article/markdown/developer.en.md
  app/routes/article/markdown/developer.sv.md
Due: none

[maven-release-plugin] prepare branch release/1.185
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.185.0
  pom.xml
Due: none

CORA-3632 Improve error handling and logging
  app/auth/renewAuthMiddleware.server.ts
  app/components/Form/ValidationErrorSnackbar.tsx
  app/cora/getRecordDataListByType.server.ts
  app/cora/requestAuthTokenOnLogin.server.ts
  app/data/deleteRecord.server.ts
  app/data/getRecordByRecordTypeAndRecordId.server.ts
  app/entry.server.tsx
  app/routes/article/article.tsx
  app/routes/auth/login.tsx
  app/routes/auth/logout.tsx
  app/routes/divaOutput/divaOutputView.tsx
  app/routes/docs/presentationPlayground.tsx
  app/routes/landingPage/landingPage.tsx
  app/routes/record/record.tsx
  app/routes/record/recordCreate.tsx
  app/routes/record/recordPublish.tsx
  app/routes/record/recordSearch/recordSearch.tsx
  app/routes/record/recordSearch/utils/performSearch.server.ts
  app/routes/record/recordTrash.tsx
  app/routes/record/recordUnpublish.tsx
  app/routes/record/recordUntrash.tsx
  app/routes/record/recordUpdate.tsx
  app/routes/resourceRoutes/autocompleteSearch.tsx
  app/routes/resourceRoutes/getLinkedRecord.tsx
  app/utils/__tests__/installTimestampedConsole.test.ts
  app/utils/__tests__/logError.test.ts
  app/utils/installTimestampedConsole.ts
  app/utils/logError.ts
  server.ts
  server/dependencies/depencencies.ts
  server/listenForDataChange.ts
  typegen/generateTypesForRecordTypes.ts
  typegen/main.ts
Due: prettier --write, eslint --fix

record link dialog
  app/components/FormGenerator/components/RecordLinkWithSearch.module.css
  app/components/FormGenerator/components/RecordLinkWithSearch.tsx
  app/components/Input/Fieldset.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Remove URL based metrics
  server.ts
Due: prettier --write, eslint --fix

[maven-release-plugin] prepare branch release/1.186
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.186.0
  pom.xml
Due: none

CORA-3632 Add error handling to binary resource route
  app/routes/resourceRoutes/binary.ts
Due: prettier --write, eslint --fix
