Repository lsu-ub-uu/diva-client: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

use dvh for mobile menu height
  app/components/Layout/Header/Header.module.css
Due: prettier --write, stylelint --fix

recreate package-lock
  package-lock.json
  vite.config.ts
Due: prettier --write, eslint --fix

recreate package-lock again
  package-lock.json
Due: none

use IconButton
  app/components/RecordActionButtons/RecordActionButtons.tsx
Due: prettier --write, eslint --fix

[maven-release-plugin] prepare branch release/1.109
  pom.xml
Due: none

[maven-release-plugin] prepare for next development iteration
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.109.0
  pom.xml
Due: none

fix tests
  app/components/FieldInfo/__tests__/FieldInfo.test.tsx
  app/components/Form/__tests__/RecordForm.test.tsx
  app/components/RecordActionButtons/RecordActionButtons.tsx
  app/components/Tooltip/useTooltip.ts
  setupTest.ts
  vite.config.ts
Due: prettier --write, eslint --fix

Fixed css
  app/components/Layout/TopNavigation/TopNavigation.tsx
  app/root.tsx
  app/routes.ts
  app/routes/landingPage/ImageAttribution.tsx
  app/routes/landingPage/NavigationCard.module.css
  app/routes/landingPage/NavigationCard.tsx
  app/routes/landingPage/heroImages.tsx
  app/routes/landingPage/landingPage.css
  app/routes/landingPage/landingPage.tsx
  package-lock.json
Due: prettier --write, eslint --fix, stylelint --fix

Fix layout after merge
  app/root.tsx
  package-lock.json
Due: prettier --write, eslint --fix

Adding redirect from landing page on login
  app/components/Layout/Header/Login/LoginMenu.tsx
  app/components/Layout/Header/Login/__tests__/Login.test.tsx
  app/components/Layout/Header/Login/__tests__/LoginMenu.test.tsx
Due: prettier --write, eslint --fix

Added keys to ImageAttribution, fix for language on landingPage
  app/routes/landingPage/ImageAttribution.tsx
  app/routes/landingPage/landingPage.tsx
Due: prettier --write, eslint --fix

Remove automatic darkmode
  app/styles/colors.scss
Due: prettier --write, stylelint --fix

CORA-3090 Style tweaks
  app/generatedTypes/divaTypes.ts
  app/routes/landingPage/landingPage.css
  app/styles/colors.scss
Due: prettier --write, eslint --fix, stylelint --fix

CORA-3090 Fix typo in text key
  app/routes/landingPage/landingPage.tsx
Due: prettier --write, eslint --fix

CORA-3090 Remove view transitions
  app/components/Layout/Header/Header.tsx
  app/routes/landingPage/NavigationCard.tsx
Due: prettier --write, eslint --fix

CORA-3090 Redirect logged in users from landing page loader instead
  app/components/Layout/Header/Login/LoginMenu.tsx
  app/components/Layout/Header/Login/__tests__/LoginMenu.test.tsx
  app/routes/landingPage/landingPage.tsx
Due: prettier --write, eslint --fix

CORA-3090 fix landing page nav card styling
  app/routes/landingPage/NavigationCard.module.css
  app/routes/landingPage/NavigationCard.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Use better alert colors for data quality icon
  app/components/Form/SearchResult/InfoBox/InfoBox.module.css
  app/routes/divaOutput/components/RecordDetails.tsx
Due: prettier --write, eslint --fix, stylelint --fix

CORA-3090 Implement header design change
  app/components/Layout/Header/Header.module.css
  app/components/Layout/MemberBar/MemberBar.module.css
  app/components/Layout/MemberBar/MemberBar.tsx
  app/components/RecordSearch/RecordSearch.tsx
  app/generatedTypes/divaTypes.ts
  app/routes/landingPage/landingPage.tsx
  app/styles/root.css
Due: prettier --write, eslint --fix, stylelint --fix

restore module-sync workaround in vite config
  vite.config.ts
Due: prettier --write, eslint --fix

Update publication page after metadata changes
  app/components/Layout/Header/Login/__tests__/Login.test.tsx
  app/routes/divaOutput/components/ConferencePublication.tsx
  app/routes/divaOutput/components/Event.tsx
  app/routes/divaOutput/components/OutputView.tsx
  app/routes/divaOutput/components/__test__/ConferencePublication.test.tsx
  app/routes/divaOutput/components/__test__/Event.test.tsx
Due: prettier --write, eslint --fix

fix stylelint
  app/styles/colors.scss
Due: prettier --write, stylelint --fix

CORA-3090: Change member/header ratio to 4:5
  app/components/Layout/MemberBar/MemberBar.module.css
  app/styles/root.css
Due: prettier --write, stylelint --fix

[maven-release-plugin] prepare branch release/1.110
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.110.0
  pom.xml
Due: none

cleanup
  app/components/Tooltip/useTooltip.ts
  app/generatedTypes/divaTypes.ts
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

CORA-3090 Fix landing page accessibility issues
  app/components/Layout/Breadcrumbs/Breadcrumbs.tsx
  app/components/Layout/Breadcrumbs/__tests__/Breadcrumbs.test.tsx
  app/components/Layout/Header/Header.tsx
  app/routes/landingPage/landingPage.css
  app/routes/landingPage/landingPage.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Show minimal member bar for portal and by default
  app/components/Layout/MemberBar/MemberBar.module.css
  app/components/Layout/MemberBar/MemberBar.tsx
Due: prettier --write, eslint --fix, stylelint --fix

[maven-release-plugin] prepare branch release/1.111
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.111.0
  pom.xml
Due: none

Update color scheme and language switcher to show the opposite rather than current value
  app/components/Layout/Header/ColorSchemeSwitcher.tsx
  app/components/Layout/Header/LanguageSwitcher.tsx
  app/routes/landingPage/landingPage.css
Due: prettier --write, eslint --fix, stylelint --fix

[maven-release-plugin] prepare branch release/1.112
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.112.0
  pom.xml
Due: none

Path conditions:
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{css,scss})
  eslint --fix: any of: *.{ts,tsx}
  stylelint --fix: any of: *.{css,scss}
