Repository lsu-ub-uu/diva-client: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["prettier --write", "eslint --fix"],
  "*.{css,scss}": ["prettier --write", "stylelint --fix"]
}

CORA-3660 Add tests
  app/auth/__tests__/sessionMiddleware.server.test.ts
  app/components/Snackbar/__tests__/SnackBar.test.tsx
  app/components/Snackbar/__tests__/Snackbar.browser.test.tsx
  app/routes/record/recordSearch/utils/__tests__/performSearch.server.test.ts
  package-lock.json
Due: prettier --write, eslint --fix

fix data -> loaderData
  app/routes/record/recordCreate.tsx
Due: prettier --write, eslint --fix

migrate AttributesSelect test to browser mode
  .github/skills/migrate-to-browser-test/SKILL.md
  app/components/FormGenerator/components/__tests__/AttributesSelect.browser.test.tsx
Due: prettier --write, eslint --fix

Added tests
  app/auth/__tests__/getSessionCookieOptions.server.test.ts
  app/auth/__tests__/sessions.server.test.ts
  app/auth/__tests__/useWebRedirectLogin.test.ts
  package-lock.json
  package.json
  vite.config.ts
Due: prettier --write, eslint --fix

bump react router to 8.1.0
  package-lock.json
  package.json
Due: none

Install react router agent skill
  .github/skills/react-router/SKILL.md
  .github/skills/react-router/references/data-mode.md
  .github/skills/react-router/references/declarative-mode.md
  .github/skills/react-router/references/framework-mode.md
  .github/skills/react-router/references/rsc.md
Due: none

Upgrade to React Router 8.1.0 (#780)
  .github/skills/migrate-to-browser-test/SKILL.md
  .github/skills/react-router/SKILL.md
  .github/skills/react-router/references/data-mode.md
  .github/skills/react-router/references/declarative-mode.md
  .github/skills/react-router/references/framework-mode.md
  .github/skills/react-router/references/rsc.md
  app/components/FormGenerator/components/__tests__/AttributesSelect.browser.test.tsx
  app/components/Layout/Breadcrumbs/Breadcrumbs.tsx
  app/routes/record/recordCreate.tsx
  package-lock.json
  package.json
  react-router.config.ts
  vite.config.ts
Due: prettier --write, eslint --fix

CORA-3658: Fix tooltip focus only showing for keyboard focus
  app/components/Tooltip/useTooltip.ts
Due: prettier --write, eslint --fix

fix console log
  typegen/main.ts
Due: prettier --write, eslint --fix

Include global css in browser test setup
  setupTest/browserSetup.ts
Due: prettier --write, eslint --fix

Switch to chromium for browser tests
  vite.config.ts
Due: prettier --write, eslint --fix

Switch to chromium for github action tests
  .github/workflows/master.yml
Due: none

Update Notification typing
  app/auth/sessionMiddleware.server.ts
  app/auth/sessions.server.ts
  app/routes/record/recordSearch/utils/performSearch.server.ts
  app/utils/createNotificationFromAxiosError.ts
Due: prettier --write, eslint --fix

[maven-release-plugin] prepare branch release/1.197
  pom.xml
Due: none

[maven-release-plugin] prepare for next development iteration
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.197.0
  pom.xml
Due: none

Hide tooltip on trigger click
  app/components/Tooltip/useTooltip.ts
Due: prettier --write, eslint --fix

Fix 409 when spamming alt+s keyboard shortcut
  app/components/Form/RecordForm.tsx
Due: prettier --write, eslint --fix

fix error log when no validation errors
  app/components/Form/ValidationErrorSnackbar.tsx
Due: prettier --write, eslint --fix

CORA-3680 Hide webkit details marker
  app/routes/divaOutput/divaOutputView.css
Due: prettier --write, stylelint --fix

CORA-3682 Implement autocomplete
  app/components/Autocomplete/Autocomplete.module.css
  app/components/Autocomplete/Autocomplete.tsx
  app/components/Autocomplete/__tests__/Autocomplete.browser.test.tsx
  app/components/FormGenerator/components/ComboboxSelect.module.css
  app/components/FormGenerator/components/ComboboxSelect.tsx
  app/components/FormGenerator/components/RecordLinkWithSearch.tsx
  app/components/Input/Combobox.module.css
  app/components/Input/Combobox.tsx
  app/components/Layout/Header/Login/__tests__/DevAccountLoginOptions.test.tsx
  app/routes/record/recordSearch/components/Filters/AutocompleteFilter.tsx
  app/routes/record/recordSearch/components/Filters/CollectionComboboxFilter.tsx
  app/routes/record/recordSearch/components/Filters/CollectionSelectFilter.tsx
  app/routes/resourceRoutes/autocompleteSearch.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Finalize autocomplete component
  app/components/Autocomplete/Autocomplete.module.css
  app/components/Autocomplete/Autocomplete.tsx
  app/components/Autocomplete/__tests__/Autocomplete.browser.test.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Get rid of the last traces of headlessui
  app/components/Combobox/Combobox.module.css
  app/components/FieldInfo/FieldInfo.tsx
  app/components/Layout/MemberBar/MemberBar.module.css
  app/components/Layout/MemberBar/MemberBar.tsx
  app/components/Layout/MemberBar/__tests__/MemberBar.browser.test.tsx
  app/components/Popover/Popover.module.css
  app/components/Popover/Popover.tsx
  app/components/Popover/__tests__/Popover.browser.test.tsx
  app/components/Snackbar/Snackbar.module.css
  app/components/Snackbar/Snackbar.tsx
  app/components/Snackbar/__tests__/Snackbar.browser.test.tsx
  app/routes/record/recordSearch/utils/__tests__/createFilterDefinition.server.test.ts
  package-lock.json
  package.json
  vite.config.ts
Due: prettier --write, eslint --fix, stylelint --fix

Migrate tests ti vrowser test
  app/components/Combobox/Combobox.tsx
  app/components/CreateRecordMenu/__tests__/CreateRecordMenu.browser.test.tsx
  app/components/Form/__tests__/RecordForm.browser.test.tsx
  app/components/Form/__tests__/RecordForm.test.tsx
  app/components/Layout/Header/Login/__tests__/DevAccountLoginOptions.browser.test.tsx
  app/components/Layout/Header/Login/__tests__/Login.browser.test.tsx
  app/components/Layout/Header/Login/__tests__/Login.test.tsx
  app/components/Layout/Header/TopNavigation/__tests__/TopNavigation.browser.test.tsx
  app/components/Menu/Menu.tsx
  app/components/Menu/__tests__/Menu.browser.test.tsx
  app/components/Menu/__tests__/Menu.test.tsx
  app/routes/record/recordSearch/components/Filters/__tests__/AutocompleteFilter.browser.test.tsx
  app/routes/record/recordSearch/components/Filters/__tests__/CollectionComboboxFilter.browser.test.tsx
  setupTest/jsdomSetup.ts
Due: prettier --write, eslint --fix

Fix test fail
  app/components/Form/__tests__/RecordForm.test.tsx
  app/components/Form/__tests__/RecordFormBrowser.browser.test.tsx
  app/components/Form/__tests__/RecordFormTestHelper.tsx
  app/components/Tooltip/useTooltip.ts
  app/routes/record/recordSearch/components/Filters/__tests__/CollectionComboboxFilter.browser.test.tsx
  app/utils/supportsAnchorPositioning.ts
  package-lock.json
Due: prettier --write, eslint --fix

Convert test case to browser test
  app/components/Form/__tests__/RecordForm.browser.test.tsx
  app/components/Form/__tests__/RecordForm.test.tsx
Due: prettier --write, eslint --fix

remove console log
  app/routes/resourceRoutes/autocompleteSearch.tsx
Due: prettier --write, eslint --fix

update package-lock
  package-lock.json
Due: none

Restore deleted files
  app/components/Markdown/Markdown.tsx
  app/components/Markdown/__tests__/Markdown.test.tsx
  app/routes/article/__tests__/getMarkdown.server.test.ts
  app/routes/article/getMarkdown.server.ts
  app/routes/article/loadMarkdownFile.server.ts
  app/routes/article/markdown/accessibility.en.md
  app/routes/article/markdown/accessibility.sv.md
  app/routes/article/markdown/cookies.en.md
  app/routes/article/markdown/cookies.sv.md
  app/routes/article/markdown/developer.en.md
  app/routes/article/markdown/developer.sv.md
Due: prettier --write, eslint --fix

Remove comment
  app/components/FormGenerator/components/RecordLinkWithSearch.tsx
Due: prettier --write, eslint --fix

restore changes
  app/components/Layout/Footer/Footer.tsx
  app/components/Layout/Header/MobileNavigation/MobileNavigation.tsx
Due: prettier --write, eslint --fix

remove stylelint disable
  app/components/Tooltip/Tooltip.module.css
Due: prettier --write, stylelint --fix

remove anchor support fallback
  app/components/Tooltip/Tooltip.module.css
Due: prettier --write, stylelint --fix

fixes
  app/components/Combobox/Combobox.tsx
  app/components/FormGenerator/components/AttributeSelect.tsx
  app/components/Tooltip/useTooltip.ts
  app/routes.ts
  app/routes/accessibility/accessibility.tsx
  app/routes/cookies/cookies.tsx
Due: prettier --write, eslint --fix

Restore changes
  app/components/Tooltip/Tooltip.module.css
  app/routes/record/recordSearch/components/SearchResult/Attachments/Attachments.module.css
  app/routes/record/recordSearch/components/SearchResult/Attachments/Attachments.tsx
  app/routes/resourceRoutes/binary.ts
  app/routes/resourceRoutes/utils/__tests__/binaryUtils.server.test.ts
  app/routes/resourceRoutes/utils/__tests__/mimeTypeToFileExtension.server.test.ts
  app/routes/resourceRoutes/utils/binaryUtils.server.ts
  app/routes/resourceRoutes/utils/mimeTypeToFileExtension.server.ts
Due: prettier --write, eslint --fix, stylelint --fix

restore
  app/utils/__tests__/isTouchDevice.test.ts
Due: prettier --write, eslint --fix

restore
  app/routes/resourceRoutes/binary.ts
  app/routes/resourceRoutes/utils/__tests__/transformCoraBinaryResponse.server.test.ts
  app/routes/resourceRoutes/utils/transformCoraBinaryResponse.server.ts
Due: prettier --write, eslint --fix

restore
  setupTest/jsdomSetup.ts
Due: prettier --write, eslint --fix
