Repository lsu-ub-uu/diva-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, tsc-files, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix", "tsc-files"],
  "*.{css,scss}": ["stylelint --fix"]
}

add pre-push hook
  .husky/pre-push
Due: none

break test
  app/routes/divaOutput/components/__test__/Book.test.tsx
Due: eslint --fix, tsc-files

CORA-3160 Support add text for presentation child reference
  app/__mocks__/bff/coraPresentationGroupWithAddText.json
  app/components/FormGenerator/components/FieldArrayComponent.tsx
  app/components/FormGenerator/components/OptionalComponent.tsx
  app/components/FormGenerator/types.ts
  app/cora/transform/__tests__/transformPresentations.server.test.ts
  app/cora/transform/transformPresentations.server.ts
  app/data/formDefinition/__tests__/formDefinition.server.test.ts
  app/data/formDefinition/createPresentation/createCollVar.server.ts
  app/data/formDefinition/createPresentation/createGroup.server.ts
  app/data/formDefinition/createPresentation/createNumVar.server.ts
  app/data/formDefinition/createPresentation/createRecordLink.server.ts
  app/data/formDefinition/createPresentation/createResourceLink.server.ts
  app/data/formDefinition/createPresentation/createTextVar.server.ts
  app/data/formDefinition/createPresentationChildReferenceParameters.server.ts
  app/generatedTypes/divaTypes.ts
Due: eslint --fix, tsc-files

cleaner pre-push logging
  .husky/pre-push
Due: none

remove pre-push
  .husky/pre-push
Due: none

=Commit form jenkins
  pom.xml
Due: none

[maven-release-plugin] prepare branch release/1.95
  pom.xml
Due: none

[maven-release-plugin] prepare for next development iteration
  pom.xml
Due: none

add prettier to pre-commit hook
  .lintstagedrc.json
  app/generatedTypes/divaTypes.ts
Due: eslint --fix, tsc-files

skip lint-staged for CI
  .husky/pre-commit
  .lintstagedrc.json
Due: none

[maven-release-plugin] prepare branch release/1.96
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.96.0
  pom.xml
Due: none

remove debug logging
  .husky/pre-commit
Due: none

remove husky and lint-staged
  .husky/pre-commit
  .lintstagedrc.json
  package.json
Due: none

[maven-release-plugin] prepare branch release/1.97
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.97.0
  pom.xml
Due: none

Fix issue where hidden components with attributes were not handled correctly
  app/components/FormGenerator/defaultValues/__tests__/defaultValues.test.ts
  app/components/FormGenerator/defaultValues/defaultValues.ts
  app/components/FormGenerator/validation/__tests__/yupSchema.test.ts
  app/components/FormGenerator/validation/yupSchema.ts
  app/generatedTypes/divaTypes.ts
Due: eslint --fix, tsc-files

[maven-release-plugin] prepare branch release/1.98
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.98.0
  pom.xml
Due: none

auto search
  app/components/Form/Pagination.tsx
  app/components/Form/SearchForm.tsx
  app/generatedTypes/divaTypes.ts
  app/routes/record/utils/performSearch.ts
Due: eslint --fix, tsc-files

Better contrast for error color in dark mode
  app/styles/colors.scss
Due: stylelint --fix

CORA-3139 Update output page affiliations and publishers after metadata changes
  app/generatedTypes/divaTypes.ts
  app/routes/divaOutput/components/OriginInfo.tsx
  app/routes/divaOutput/components/Person.tsx
  app/routes/divaOutput/components/Persons.tsx
  app/routes/divaOutput/components/__test__/OriginInfo.test.tsx
  app/routes/divaOutput/components/__test__/Person.test.tsx
  app/routes/divaOutput/components/__test__/Persons.test.tsx
Due: eslint --fix, tsc-files

CORA-3139 remove unused import
  app/routes/divaOutput/components/__test__/OriginInfo.test.tsx
Due: eslint --fix, tsc-files

fix lint error
  app/styles/colors.scss
Due: stylelint --fix

CORA-3195 Fix issue where required groups with only finalValues were thrown away
  app/components/FormGenerator/defaultValues/__tests__/defaultValues.test.ts
  app/components/FormGenerator/defaultValues/defaultValues.ts
  app/cora/transform/__tests__/transformRecord.server.test.ts
  app/cora/transform/transformRecord.server.ts
  app/utils/__tests__/cleanFormData.test.ts
  app/utils/cleanFormData.ts
  package.json
Due: eslint --fix, tsc-files

CORA-3182 fix infinite returnTo search param when clicking login link when already on login page
  app/components/Layout/Header/Login/Login.tsx
  app/components/Layout/Header/Login/PasswordLoginOptions.tsx
  app/components/Layout/TopNavigation/TopNavigation.tsx
  app/routes/auth/login.tsx
Due: eslint --fix, tsc-files

finish up login page
  app/auth/useWebRedirectLogin.ts
  app/components/Button/Button.tsx
  app/components/Layout/Header/Login/Login.tsx
  app/components/Layout/Header/Login/PasswordLoginMenuOptions.tsx
  app/components/Layout/Header/Login/WebRedirectLoginMenuOptions.tsx
  app/components/Layout/Header/Login/__tests__/Login.test.tsx
  app/components/ValidationTypePicker/ValidationTypePicker.module.css
  app/components/ValidationTypePicker/ValidationTypePicker.tsx
  app/data/loginDefinition/__tests__/loginDefinition.server.test.ts
  app/routes/auth/PasswordLoginOptions.tsx
  app/routes/auth/WebRedirectLoginOptions.tsx
  app/routes/auth/login.tsx
  app/routes/record/recordCreate.tsx
Due: eslint --fix, tsc-files, stylelint --fix

rename Login -> LoginMenu
  app/components/Layout/Header/Header.tsx
  app/components/Layout/Header/Login/LoginMenu.tsx
  app/components/Layout/Header/Login/__tests__/Login.test.tsx
  app/root.tsx
Due: eslint --fix, tsc-files

disable login button while submitting
  app/components/Layout/Header/Login/LoginMenu.tsx
Due: eslint --fix, tsc-files

Update react compiler and eslint plugin
  app/components/FieldInfo/FieldInfo.tsx
  app/components/Form/ValidationErrorSnackbar.tsx
  app/components/Form/__tests__/RecordForm.test.tsx
  app/components/FormGenerator/components/DevInfo.tsx
  app/components/Layout/Header/Header.tsx
  app/components/Layout/NavigationLink/NavigationLink.tsx
  app/components/Layout/TopNavigation/TopNavigation.tsx
  app/components/Layout/TopNavigation/__tests__/TopNavigation.test.tsx
  app/components/NavigationLoader/NavigationLoader.module.css
  app/components/NavigationLoader/NavigationLoader.tsx
  app/components/Typography/Typography.tsx
  app/components/dev/AuthLogger.tsx
  app/utils/NotificationSnackbar.tsx
  app/utils/__tests__/useIsDevMode.test.ts
  app/utils/useHydrated.ts
  app/utils/useIsDevMode.ts
  app/utils/useIsNewestWindow.ts
  eslint.config.js
  package-lock.json
  package.json
  vite.config.ts
Due: eslint --fix, tsc-files, stylelint --fix

[maven-release-plugin] prepare branch release/1.99
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.99.0
  pom.xml
Due: none
