Repository lsu-ub-uu/diva-client: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

[maven-release-plugin] prepare for next development iteration
  pom.xml
Due: none

fix issue with IconButton not forwarding 'as' prop to Button
  app/components/IconButton/IconButton.tsx
Due: prettier --write, eslint --fix

[maven-release-plugin] prepare branch release/1.113
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.113.0
  pom.xml
Due: none

Add recordType to breadcrumbs
  app/components/Layout/Breadcrumbs/Breadcrumbs.tsx
  app/components/Layout/Breadcrumbs/__tests__/Breadcrumbs.test.tsx
  app/generatedTypes/divaTypes.ts
Due: prettier --write, eslint --fix

Added tests for searchRecords
  app/cora/__tests__/getSearchResultDataListBySearchType.server.test.ts
  app/cora/getSearchResultDataListBySearchType.server.ts
  app/data/__tests__/searchRecords.server.test.ts
  app/data/searchRecords.server.ts
  app/generatedTypes/divaTypes.ts
  app/routes/record/recordSearch.tsx
  app/routes/record/utils/performSearch.ts
Due: prettier --write, eslint --fix

fix color scheme default light mode
  app/components/Layout/Header/ColorSchemeSwitcher.tsx
  app/components/Layout/MemberBar/MemberBar.module.css
  app/userPreferences/userPreferencesCookie.server.ts
Due: prettier --write, eslint --fix, stylelint --fix

remove apptoken when loading pools on server start
  server/depencencies.ts
Due: prettier --write, eslint --fix

cleanup
  server/depencencies.ts
Due: prettier --write, eslint --fix

[maven-release-plugin] prepare branch release/1.114
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.114.0
  pom.xml
Due: none

document environmt variables
  README.md
Due: none

CORA-3279 Fix error where landing page publication search always filtered on nordiskamuseet permissionUnit
  app/routes/landingPage/landingPage.tsx
Due: prettier --write, eslint --fix

[maven-release-plugin] prepare branch release/1.115
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.115.0
  pom.xml
Due: none

CORA-3246 Hide trash coll var from RecordForm
  app/components/Card/CardHeader.tsx
  app/components/Form/RecordForm.tsx
  app/components/Form/__tests__/RecordForm.test.tsx
  app/components/Form/__tests__/formGeneratorUtils.test.ts
  app/components/FormGenerator/Component.tsx
  app/components/FormGenerator/components/FieldArrayComponent.tsx
  app/components/FormGenerator/components/Group.tsx
  app/components/FormGenerator/components/OptionalComponent.tsx
  app/components/FormGenerator/components/OutputField.tsx
  app/components/FormGenerator/formGeneratorUtils/formGeneratorUtils.ts
  app/generatedTypes/divaTypes.ts
Due: prettier --write, eslint --fix

Add route to trash record
  app/components/RecordActionButtons/RecordActionButtons.tsx
  app/cora/transform/transformRecord.server.ts
  app/cora/trashRecordDataById.server.ts
  app/generatedTypes/divaTypes.ts
  app/routes.ts
  app/routes/record/recordTrash.tsx
  app/types/record.ts
Due: prettier --write, eslint --fix

Form Action Button prototype
  app/components/Form/RecordForm.tsx
  app/generatedTypes/divaTypes.ts
Due: prettier --write, eslint --fix

Move extra action on update form to ActionBar
  app/routes/record/ActionBar/ActionBar.tsx
  app/routes/record/recordUpdate.tsx
Due: prettier --write, eslint --fix

Update ActionBar on recordView page
  app/routes/divaOutput/divaOutputView.tsx
  app/routes/record/ActionBar/ActionBar.tsx
  app/routes/record/recordView.tsx
Due: prettier --write, eslint --fix

Fix linting
  app/routes/divaOutput/divaOutputView.tsx
  app/routes/record/recordTrash.tsx
  app/routes/record/recordView.tsx
Due: prettier --write, eslint --fix

Fix styling for buttons
  app/routes/divaOutput/divaOutputView.css
  app/routes/record/ActionBar/ActionBar.module.css
  app/routes/record/ActionBar/ActionBar.tsx
  app/routes/record/record.css
Due: prettier --write, eslint --fix, stylelint --fix

CORA-3246 Add trash userAction
  app/components/Form/__tests__/RecordForm.test.tsx
  app/cora/transform/__tests__/transformRecord.server.test.ts
Due: prettier --write, eslint --fix

Fixed userRight trash test setup
  app/cora/transform/__tests__/transformRecord.server.test.ts
  app/cora/transform/transformRecord.server.ts
  app/generatedTypes/divaTypes.ts
Due: prettier --write, eslint --fix

Added tests for ActionBar
  app/components/Form/__tests__/RecordForm.test.tsx
  app/routes/record/ActionBar/__tests__/ActionBar.test.tsx
Due: prettier --write, eslint --fix

Add message on update page if post is in trash
  app/data/createRecord.server.ts
  app/routes/record/recordTrash.tsx
  app/routes/record/recordUpdate.tsx
Due: prettier --write, eslint --fix

Added alert info text on searchPage and landingPage
  app/generatedTypes/divaTypes.ts
  app/routes/landingPage/landingPage.css
  app/routes/landingPage/landingPage.tsx
  app/routes/record/recordSearch.css
  app/routes/record/recordSearch.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Fixed margin for ActionBar
  app/routes/divaOutput/divaOutputView.tsx
  app/routes/record/ActionBar/ActionBar.module.css
  app/routes/record/ActionBar/ActionBar.tsx
  app/routes/record/record.css
  app/routes/record/recordUpdate.tsx
  app/routes/record/recordView.tsx
Due: prettier --write, eslint --fix, stylelint --fix

CORA-3273 Added trash banner on OutputView page
  app/generatedTypes/divaTypes.ts
  app/routes/divaOutput/divaOutputView.css
  app/routes/divaOutput/divaOutputView.tsx
  app/routes/record/recordUpdate.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Update ActionBar styling on mobile
  app/routes/record/ActionBar/ActionBar.module.css
Due: prettier --write, stylelint --fix

Update after local label metadata changes
  app/components/Layout/TopNavigation/TopNavigation.tsx
  app/generatedTypes/divaTypes.ts
  app/routes/divaOutput/components/Classifications.tsx
  package-lock.json
  typegen/main.ts
Due: prettier --write, eslint --fix

CORA-3246 TrasnformRecord only includes trash userRight if record type uses trash
  app/__mocks__/bff/coraDivaRecordTypes.json
  app/cora/transform/__tests__/transformRecord.server.test.ts
  app/cora/transform/__tests__/transformRecordTypes.server.test.ts
  app/cora/transform/bffTypes.server.ts
  app/cora/transform/transformRecord.server.ts
  app/cora/transform/transformRecordTypes.server.ts
  app/cora/trashRecordDataById.server.ts
  app/data/createRecord.server.ts
  app/routes/record/recordTrash.tsx
Due: prettier --write, eslint --fix

CORA-3246 rewrite updateRecordToBeTrashed
  app/routes/divaOutput/utils/__tests__/generateCitationMeta.test.ts
  app/routes/record/__tests__/recordTrash.test.tsx
  app/routes/record/recordTrash.tsx
Due: prettier --write, eslint --fix

CORA-3246 Add translated texts for notifications
  TODO.md
  app/routes/auth/login.tsx
  app/routes/record/recordCreate.tsx
  app/routes/record/recordDelete.tsx
  app/routes/record/recordTrash.tsx
  app/routes/record/recordUpdate.tsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{css,scss})
  eslint --fix: any of: *.{ts,tsx}
  stylelint --fix: any of: *.{css,scss}
