Repository lsu-ub-uu/diva-client: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

keep working on input presentation
  app/components/FieldInfo/FieldInfo.module.css
  app/components/FormGenerator/components/ActionButtonGroup.tsx
  app/components/InputPresentation/InputCollectionVariable.tsx
  app/components/InputPresentation/InputComponent.tsx
  app/components/InputPresentation/InputComponentChildren.tsx
  app/components/InputPresentation/InputContainer.tsx
  app/components/InputPresentation/InputFieldArray.tsx
  app/components/InputPresentation/InputGroup.tsx
  app/components/InputPresentation/InputNumberVariable.tsx
  app/components/InputPresentation/InputPresentation.tsx
  app/components/InputPresentation/InputPresentationSwitcher.tsx
  app/components/InputPresentation/InputRecordLink.tsx
  app/components/InputPresentation/InputVariable.tsx
  app/components/InputPresentation/todo.txt
  app/components/OutputPresentation/ComponentChildren.tsx
  app/components/OutputPresentation/OutputPresentationSwitcher.tsx
  app/routes/record/recordCreate.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Added tests for InputVariable
  app/components/InputPresentation/InputComponent.tsx
  app/components/InputPresentation/InputVariable.tsx
  app/components/InputPresentation/__tests__/InputVariable.test.tsx
Due: prettier --write, eslint --fix

Added tests for InputNumberVariable
  app/components/InputPresentation/InputNumberVariable.tsx
  app/components/InputPresentation/__tests__/InputNumberVariable.test.tsx
Due: prettier --write, eslint --fix

Added tests for InputCollectionVariable
  app/components/FormGenerator/types.ts
  app/components/InputPresentation/__tests__/InputCollectionVariable.test.tsx
Due: prettier --write, eslint --fix

wip
  app/components/Card/CardExpandButton.tsx
  app/components/InputPresentation/InputComponent.tsx
  app/components/InputPresentation/InputComponentChildren.tsx
  app/components/InputPresentation/InputPresentation.tsx
  app/components/InputPresentation/InputPresentationSwitcher.tsx
  app/components/InputPresentation/NameIndexContext.ts
  app/generatedTypes/divaTypes.ts
  app/routes/record/recordCreate.tsx
Due: prettier --write, eslint --fix

Fix field array name indices
  app/components/InputPresentation/InputFieldArray.tsx
  app/components/InputPresentation/InputPresentationSwitcher.tsx
  app/components/InputPresentation/__tests__/InputFieldArray.test.tsx
  app/components/InputPresentation/__tests__/InputPresentation.test.tsx
Due: prettier --write, eslint --fix

Added tests for InputFieldArray
  app/components/InputPresentation/__tests__/InputFieldArray.test.tsx
Due: prettier --write, eslint --fix

Added tests for HiddenInputComponent
  app/components/InputPresentation/__tests__/HiddenInputComponent.test.tsx
Due: prettier --write, eslint --fix

Added test for InputAttributes
  app/components/InputPresentation/InputAttribute.tsx
  app/components/InputPresentation/__tests__/InputAttributes.test.tsx
Due: prettier --write, eslint --fix

Added test for InputContainer
  app/components/InputPresentation/InputComponent.tsx
  app/components/InputPresentation/InputContainer.tsx
  app/components/InputPresentation/__tests__/InputContainer.test.tsx
Due: prettier --write, eslint --fix

Merge branch 'dependabot/npm_and_yarn/react-router-packages-0f7d119263' of https://github.com/lsu-ub-uu/diva-client into dependabot/npm_and_yarn/react-router-packages-0f7d119263
  app/auth/__tests__/sessionMiddleware.test.ts
  app/routes/__tests__/autocompleteSearch.test.ts
Due: prettier --write, eslint --fix

fix test
  app/auth/__tests__/sessionMiddleware.test.ts
Due: prettier --write, eslint --fix

fix peer dep conflict
  .github/dependabot.yml
  package-lock.json
  package.json
Due: none

add cooldown to dependabot
  .github/dependabot.yml
Due: none

bump to use node 25
  .github/copilot-instructions.md
  .github/workflows/master.yml
  .nvmrc
  .run/All Unit Tests.run.xml
  README.md
  package-lock.json
  package.json
  pom.xml
  setupTest.ts
Due: prettier --write, eslint --fix

[maven-release-plugin] prepare branch release/1.158
  pom.xml
Due: none

[maven-release-plugin] prepare for next development iteration
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.158.0
  pom.xml
Due: none

WIP update after metadata changes
  app/generatedTypes/divaTypes.ts
  app/routes/divaOutput/components/DegreeProjectFields.tsx
  app/routes/divaOutput/components/Funder.tsx
  app/routes/divaOutput/components/Organisation.tsx
  app/routes/divaOutput/components/OriginInfo.tsx
  app/routes/divaOutput/components/OutputView.tsx
  app/routes/divaOutput/components/__test__/DegreeProjectFields.test.tsx
  app/routes/divaOutput/components/__test__/Funder.test.tsx
  app/routes/divaOutput/components/__test__/OriginInfo.test.tsx
  app/routes/divaOutput/components/__test__/OutputView.test.tsx
  app/routes/divaOutput/utils/__tests__/format.test.ts
  app/routes/divaOutput/utils/__tests__/generateCitationMeta.test.ts
  app/routes/divaOutput/utils/generateCitationMeta.ts
Due: prettier --write, eslint --fix

update publisher display
  app/routes/divaOutput/components/DataText.tsx
  app/routes/divaOutput/components/OriginInfo.tsx
  app/routes/divaOutput/components/Publisher.tsx
  app/routes/divaOutput/components/Publishers.tsx
  app/routes/divaOutput/components/__test__/Funder.test.tsx
  app/routes/divaOutput/components/__test__/OriginInfo.test.tsx
  app/routes/divaOutput/components/__test__/Publisher.test.tsx
  app/routes/divaOutput/components/__test__/Publishers.test.tsx
  app/routes/divaOutput/divaOutputView.css
Due: prettier --write, eslint --fix, stylelint --fix

Set max width on breadcrumbs
  app/components/Layout/Breadcrumbs/Breadcrumbs.module.css
Due: prettier --write, stylelint --fix

CORA-3514 Update diva output view after metadata changes
  app/routes/divaOutput/components/ArtisticWork.tsx
  app/routes/divaOutput/components/Attachments.tsx
  app/routes/divaOutput/components/DataText.tsx
  app/routes/divaOutput/components/OriginInfo.tsx
  app/routes/divaOutput/components/OutputView.tsx
  app/routes/divaOutput/components/Project.tsx
  app/routes/divaOutput/components/RecordDetails.tsx
  app/routes/divaOutput/components/Term.tsx
  app/routes/divaOutput/components/__test__/ArtisticWork.test.tsx
  app/routes/divaOutput/components/__test__/OutputView.test.tsx
  app/routes/divaOutput/components/__test__/Project.test.tsx
  app/routes/divaOutput/components/__test__/RecordDetails.test.tsx
  app/routes/divaOutput/divaOutputView.css
  app/routes/record/ActionBar/ActionBar.module.css
  app/routes/record/ActionBar/ActionBarButton.modules.css
  app/routes/record/ActionBar/RecordActionBar.tsx
  app/routes/record/ActionBar/__tests__/RecordActionBar.test.tsx
  app/styles/grid.scss
Due: prettier --write, eslint --fix, stylelint --fix

adjust diva output page styling
  app/routes/divaOutput/divaOutputView.css
Due: prettier --write, stylelint --fix

rework how attachments are shown
  app/components/Popover/Popover.module.css
  app/components/Popover/Popover.tsx
  app/routes/divaOutput/components/Attachment.tsx
  app/routes/divaOutput/components/AttachmentDetails.tsx
  app/routes/divaOutput/components/Attachments.tsx
  app/routes/divaOutput/components/OutputView.tsx
  app/routes/divaOutput/components/PresentationImage.tsx
  app/routes/divaOutput/components/RecordDetails.tsx
  app/routes/divaOutput/components/__test__/PresentationImage.test.tsx
  app/routes/divaOutput/components/__test__/RecordDetails.test.tsx
  app/routes/divaOutput/divaOutputView.css
  app/routes/divaOutput/divaOutputView.tsx
  app/routes/record/ActionBar/RecordActionBar.tsx
  app/routes/record/ActionBar/__tests__/RecordActionBar.test.tsx
  app/styles/grid.scss
Due: prettier --write, eslint --fix, stylelint --fix

improve output view page
  app/routes/divaOutput/components/OutputView.tsx
  app/routes/divaOutput/components/RecordDetails.tsx
Due: prettier --write, eslint --fix

CORA-3514 fix tests
  app/routes/divaOutput/components/AttachmentDetails.tsx
  app/routes/divaOutput/components/__test__/AttachmentDetails.test.tsx
  app/routes/divaOutput/divaOutputView.css
Due: prettier --write, eslint --fix, stylelint --fix

update attachment styling
  app/routes/divaOutput/divaOutputView.css
Due: prettier --write, stylelint --fix

remove box around attachments
  app/routes/divaOutput/divaOutputView.css
Due: prettier --write, stylelint --fix

go back to indented definition list
  app/routes/divaOutput/components/Attachment.tsx
  app/routes/divaOutput/divaOutputView.css
Due: prettier --write, eslint --fix, stylelint --fix

Fix inline-definitions to not have empty gaps
  app/routes/divaOutput/divaOutputView.css
Due: prettier --write, stylelint --fix

fix type error
  app/routes/record/record.tsx
Due: prettier --write, eslint --fix

fix extra padding
  app/routes/divaOutput/divaOutputView.css
Due: prettier --write, stylelint --fix

fix stylelint
  app/routes/divaOutput/divaOutputView.css
Due: prettier --write, stylelint --fix

fix lint
  app/routes/record/record.tsx
Due: prettier --write, eslint --fix

Remove dl around origin info
  app/routes/divaOutput/components/OriginInfo.tsx
Due: prettier --write, eslint --fix

remove h2 iin record details summary
  app/routes/divaOutput/components/RecordDetails.tsx
Due: prettier --write, eslint --fix

[maven-release-plugin] prepare branch release/1.159
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.159.0
  pom.xml
Due: none

Path conditions:
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{css,scss})
  eslint --fix: any of: *.{ts,tsx}
  stylelint --fix: any of: *.{css,scss}
