Repository lsu-ub-uu/diva-client: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["prettier --write", "eslint --fix"],
  "*.{css,scss}": ["prettier --write", "stylelint --fix"]
}

[maven-release-plugin] prepare for next development iteration
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.212.0
  pom.xml
Due: none

member switcher poc
  app/components/Layout/Header/Header.module.css
  app/components/Layout/Header/Header.tsx
  app/components/Layout/Header/MemberPicker.module.css
  app/components/Layout/Header/MemberPicker.tsx
  app/components/MemberBadge/MemberBadge.module.css
  app/components/MemberBadge/MemberBadge.tsx
  app/components/MemberBadge/MemberBranding.module.css
  app/components/MemberBadge/MemberBranding.tsx
  app/generatedTypes/divaTypes.ts
  app/root.tsx
  app/routes/divaOutput/components/Classifications.tsx
  app/routes/divaOutput/components/OutputView.tsx
  app/routes/landingPage/landingPage.tsx
  app/routes/record/recordCreate.tsx
  app/routes/record/recordSearch/components/SearchResult/DivaOutputSearchResult.module.css
  app/routes/record/recordSearch/components/SearchResult/DivaOutputSearchResult.tsx
  app/routes/record/recordSearch/recordSearch.tsx
  app/routes/record/recordUpdate.tsx
  app/routes/resourceRoutes/sitemap/sitemap.ts
  app/userPreferences/userPreferencesCookie.server.ts
  app/utils/getMember.server.ts
  app/utils/getMemberByPermissionUnit.ts
  app/utils/rootLoaderDataUtils.ts
Due: prettier --write, eslint --fix, stylelint --fix

member picker on page
  app/components/Layout/Header/Header.module.css
  app/components/Layout/Header/Header.tsx
  app/components/MemberPicker/MemberPicker.module.css
  app/components/MemberPicker/MemberPicker.tsx
  app/root.tsx
  app/routes/landingPage/landingPage.css
  app/routes/landingPage/landingPage.tsx
  app/routes/record/recordSearch/components/RecordSearchView.tsx
  app/routes/record/recordSearch/recordSearch.css
Due: prettier --write, eslint --fix, stylelint --fix

CORA-3770 Link to API helper from developer article
  app/generatedTypes/divaTypes.ts
  app/routes/article/markdown/developer.en.md
  app/routes/article/markdown/developer.sv.md
Due: prettier --write, eslint --fix

[maven-release-plugin] prepare branch release/1.213
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.213.0
  pom.xml
Due: none

update styles
  app/components/Layout/Header/MemberPicker.module.css
  app/components/MemberBadge/MemberBadge.module.css
  app/generatedTypes/divaTypes.ts
Due: prettier --write, eslint --fix, stylelint --fix

CORA-3268 Added publish button to binaries
  app/components/FormGenerator/components/RecordLinkWithLinkedPresentation.tsx
  app/components/Layout/Header/TopNavigation/TopNavigation.tsx
  app/components/OutputPresentation/OutputPresentation.module.css
  app/components/OutputPresentation/OutputRecordLinkWithPresentation.tsx
  app/components/RecordActionButtons/RecordActionButtons.tsx
  app/generatedTypes/divaTypes.ts
  app/icons/icons.ts
  app/routes/record/ActionBar/RecordActionBar.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Add custom UnpublishFileIcon
  app/icons/UnpublishFileIcon.tsx
  app/icons/icons.ts
Due: prettier --write, eslint --fix

CORA-3268 Implement publish/unpublish button for linked binary record
  app/components/FormGenerator/components/RecordLinkWithLinkedPresentation.tsx
  app/components/FormGenerator/components/__tests__/RecordLinkWithLinkedPresentation.test.tsx
  app/components/OutputPresentation/OutputRecordLinkWithPresentation.tsx
  app/components/OutputPresentation/__test__/OutputRecordLinkWithPresentation.test.tsx
  app/cora/transform/transformRecord.server.ts
  app/generatedTypes/divaTypes.ts
  app/routes/resourceRoutes/getLinkedRecord.tsx
Due: prettier --write, eslint --fix

CORA-3790 Update with new metadata model for roles
  app/components/FormGenerator/components/__tests__/RecordLinkWithLinkedPresentation.test.tsx
  app/routes/divaOutput/components/Organisation.tsx
  app/routes/divaOutput/components/Person.tsx
  app/routes/divaOutput/components/__test__/Organisation.test.tsx
  app/routes/divaOutput/components/__test__/Organisations.test.tsx
  app/routes/divaOutput/components/__test__/Person.test.tsx
  app/routes/divaOutput/components/__test__/Persons.test.tsx
  app/routes/divaOutput/utils/__tests__/generateCitationMeta.test.ts
  app/routes/divaOutput/utils/generateCitationMeta.ts
  app/routes/record/recordSearch/components/SearchResult/__tests__/DivaOutputSearchResult.test.tsx
Due: prettier --write, eslint --fix

remove unused export
  app/cora/transform/transformRecord.server.ts
Due: prettier --write, eslint --fix

[maven-release-plugin] prepare branch release/1.214
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.214.0
  pom.xml
Due: none

Update record form styling to handle small screens better
  app/components/OutputPresentation/OutputPresentation.module.css
  app/routes/record/recordCreate.tsx
  app/routes/record/recordUpdate.tsx
  app/styles/form-component.css
  app/styles/grid.scss
Due: prettier --write, eslint --fix, stylelint --fix

[maven-release-plugin] prepare branch release/1.215
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.215.0
  pom.xml
Due: none

add member heros
  app/generatedTypes/divaTypes.ts
  app/routes/landingPage/landingPage.css
  public/images/hero/fmv.webp
  public/images/hero/polar.webp
  public/images/hero/riksarkivet.webp
  public/images/hero/riksarkivet2.webp
  public/images/hero/smhi.webp
Due: prettier --write, eslint --fix, stylelint --fix

[maven-release-plugin] prepare branch release/1.216
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.216.0
  pom.xml
Due: none

Update for larger converted image sizes
  app/routes/divaOutput/components/PresentationImage.tsx
  app/routes/divaOutput/components/__test__/PresentationImage.test.tsx
  app/routes/record/recordSearch/components/SearchResult/Attachments/Attachments.module.css
Due: prettier --write, eslint --fix, stylelint --fix

[maven-release-plugin] prepare branch release/1.217
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.217.0
  pom.xml
Due: none

Use specific search result design for diva-person
  app/generatedTypes/divaTypes.ts
  app/routes/record/recordSearch/components/SearchResult/DivaPersonSearchResult.module.css
  app/routes/record/recordSearch/components/SearchResult/DivaPersonSearchResult.tsx
  app/routes/record/recordSearch/components/SearchResultItem.tsx
  app/utils/getRecordTitle.ts
Due: prettier --write, eslint --fix, stylelint --fix
