Repository lsu-ub-uu/diva-client: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

Show more deployment info in footer
  app/components/Layout/Footer/Footer.module.css
  app/components/Layout/Footer/Footer.tsx
  app/cora/getDeploymentInfo.server.ts
  app/root.tsx
  app/routes/resourceRoutes/sitemap/generateSitemapXml.server.ts
Due: prettier --write, eslint --fix, stylelint --fix

CORA-3713 Make URN clickable
  app/generatedTypes/divaTypes.ts
  app/routes/divaOutput/components/Identifiers.tsx
  app/routes/divaOutput/components/__test__/Identifiers.browser.test.tsx
  app/styles/root.css
Due: prettier --write, eslint --fix, stylelint --fix

CORA-3721 derive current member from search param rather than subdomain
  app/generatedTypes/divaTypes.ts
  app/root.tsx
  app/routes/landingPage/landingPage.tsx
  app/routes/record/recordCreate.tsx
  app/routes/record/recordSearch/recordSearch.tsx
  app/routes/record/recordUpdate.tsx
  app/routes/resourceRoutes/sitemap/sitemap.ts
  app/utils/__tests__/getCurrentMember.server.test.ts
  app/utils/getCurrentMember.server.ts
  app/utils/getMemberFromHostname.ts
Due: prettier --write, eslint --fix

CPRA-3721 WIP add member select
  app/components/Layout/Header/Header.tsx
  app/components/Layout/MemberBar/MemberBar.module.css
  app/components/Layout/MemberBar/MemberBar.tsx
  app/root.tsx
  app/routes/record/recordSearch/components/SearchResult/DivaOutputSearchResult.tsx
  app/types/customSelect.d.ts
  app/utils/__tests__/getAllMembers.server.test.ts
  app/utils/getAllMembers.server.ts
Due: prettier --write, eslint --fix, stylelint --fix

Include response body in HTTPError
  app/auth/__tests__/renewAuthMiddleware.server.test.ts
  app/cora/__tests__/httpClient.server.test.ts
  app/cora/httpClient.server.ts
  app/errorHandling/__tests__/createRouteErrorResponse.server.test.ts
  app/routes/record/recordSearch/utils/__tests__/performSearch.server.test.ts
  app/utils/__tests__/createNotificationFromHttpError.test.ts
  app/utils/createNotificationFromHttpError.ts
Due: prettier --write, eslint --fix

[maven-release-plugin] prepare branch release/1.207
  pom.xml
Due: none

[maven-release-plugin] prepare for next development iteration
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.207.0
  pom.xml
Due: none

CORA-3721 Handle member filter as a filter instead of based on current member
  app/components/Layout/MemberBar/MemberBar.tsx
  app/routes/record/recordSearch/components/SearchResult/DivaOutputSearchResult.tsx
  app/routes/record/recordSearch/recordSearch.tsx
  app/routes/record/recordSearch/utils/createFilterDefinition.server.ts
  app/routes/record/recordSearch/utils/createSearchFormDefinition.server.ts
  app/routes/record/recordSearch/utils/createSearchQuery.server.ts
  app/routes/record/recordSearch/utils/loadSearchView.server.ts
Due: prettier --write, eslint --fix

Add norden hero
  public/images/hero/norden.webp
Due: none

Add member logo based on permissionUnit to searchResults
  app/routes/record/recordSearch/components/SearchResult/DivaOutputSearchResult.module.css
  app/routes/record/recordSearch/components/SearchResult/DivaOutputSearchResult.tsx
  app/routes/record/recordSearch/components/SearchResult/__tests__/DivaOutputSearchResult.test.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Add member logo branding to output page
  app/routes/divaOutput/components/OutputView.tsx
  app/routes/record/recordSearch/components/SearchResult/DivaOutputSearchResult.tsx
Due: prettier --write, eslint --fix

[maven-release-plugin] prepare branch release/1.208
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.208.0
  pom.xml
Due: none

move dependencies back from devDependencies
  package-lock.json
  package.json
Due: none

[maven-release-plugin] prepare branch release/1.209
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.209.0
  pom.xml
Due: none

Improve display of links on output page
  app/generatedTypes/divaTypes.ts
  app/routes/divaOutput/components/Identifiers.tsx
  app/routes/divaOutput/components/Links.tsx
  app/routes/divaOutput/components/OutputView.tsx
  app/routes/divaOutput/components/Term.tsx
  app/routes/divaOutput/components/__test__/Links.browser.test.tsx
  app/routes/divaOutput/divaOutputView.css
  app/styles/root.css
Due: prettier --write, eslint --fix, stylelint --fix

[maven-release-plugin] prepare branch release/1.210
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.210.0
  pom.xml
Due: none

CORA-3706 Update to show subject with new metadata
  app/generatedTypes/divaTypes.ts
  app/routes/divaOutput/components/Classifications.tsx
  app/routes/divaOutput/components/__test__/Classifications.browser.test.tsx
Due: prettier --write, eslint --fix

CORA-3733 Only show leaf organisation name when collapsed
  app/generatedTypes/divaTypes.ts
  app/routes/divaOutput/components/Organisation.tsx
  app/routes/divaOutput/components/__test__/Organisation.test.tsx
  app/routes/landingPage/landingPage.css
Due: prettier --write, eslint --fix, stylelint --fix

fix error for empty http response
  app/cora/__tests__/httpClient.server.test.ts
  app/cora/httpClient.server.ts
Due: prettier --write, eslint --fix

Fix httpClient to handle non-json response
  app/cora/__tests__/httpClient.server.test.ts
  app/cora/httpClient.server.ts
Due: prettier --write, eslint --fix

[maven-release-plugin] prepare branch release/1.211
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.211.0
  pom.xml
Due: none

Revert "CORA-3733 Only show leaf organisation name when collapsed"
  app/generatedTypes/divaTypes.ts
  app/routes/divaOutput/components/Organisation.tsx
  app/routes/divaOutput/components/__test__/Organisation.test.tsx
  app/routes/landingPage/landingPage.css
Due: prettier --write, eslint --fix, stylelint --fix

Show organisations as block when not expanded
  app/routes/divaOutput/components/Organisations.tsx
Due: prettier --write, eslint --fix

[maven-release-plugin] prepare branch release/1.212
  pom.xml
Due: none

Path conditions:
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{css,scss})
  eslint --fix: any of: *.{ts,tsx}
  stylelint --fix: any of: *.{css,scss}
