Repository lsu-ub-uu/diva-client: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["prettier --write", "eslint --fix"],
  "*.{css,scss}": ["prettier --write", "stylelint --fix"]
}

[maven-release-plugin] prepare for next development iteration
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.170.0
  pom.xml
Due: none

CORA-3575 update hard coded search terms
  app/routes/divaOutput/components/Classifications.tsx
  app/routes/record/recordSearch/utils/createFilterDefinition.server.ts
Due: prettier --write, eslint --fix

CORA-3575 Replace trash bin with hidden visibility search term
  app/routes/record/recordSearch/utils/__tests__/createFilterDefinition.server.test.ts
  app/routes/record/recordSearch/utils/__tests__/createSearchQuery.server.test.ts
  app/routes/record/recordSearch/utils/createFilterDefinition.server.ts
  app/routes/record/recordSearch/utils/createSearchQuery.server.ts
Due: prettier --write, eslint --fix

CORA-3576 add client side validation
  app/components/Input/Combobox.tsx
  app/components/Input/Fieldset.tsx
  app/components/Input/Input.tsx
  app/components/Input/Select.tsx
  app/components/Input/Textarea.tsx
  app/routes/record/recordSearch/components/Filter.tsx
  app/routes/record/recordSearch/components/Filters.tsx
  app/routes/record/recordSearch/components/MainSearchInput.tsx
  app/routes/record/recordSearch/components/RecordSearchView.tsx
  app/routes/record/recordSearch/components/SearchLayout.tsx
  app/routes/record/recordSearch/components/SearchResults.tsx
  app/routes/record/recordSearch/components/__tests__/Filter.test.tsx
  app/routes/record/recordSearch/components/__tests__/Filters.test.tsx
  app/routes/record/recordSearch/components/__tests__/SearchLayout.test.tsx
  app/routes/record/recordSearch/components/__tests__/SearchResults.test.tsx
  app/routes/record/recordSearch/recordSearch.tsx
  app/routes/record/recordSearch/utils/__tests__/createFilterDefinition.server.test.ts
  app/routes/record/recordSearch/utils/__tests__/createSearchFormDefinition.server.test.ts
  app/routes/record/recordSearch/utils/__tests__/validateSearchFormData.server.test.ts
  app/routes/record/recordSearch/utils/createFilterDefinition.server.ts
  app/routes/record/recordSearch/utils/validateSearchFormData.server.ts
Due: prettier --write, eslint --fix

[maven-release-plugin] prepare branch release/1.171
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.171.0
  pom.xml
Due: none

Added tests for Filter
  app/routes/record/recordSearch/components/Filter.tsx
  app/routes/record/recordSearch/components/__tests__/Filter.test.tsx
Due: prettier --write, eslint --fix

Added tests
  app/components/Alert/__tests__/Alert.test.tsx
  app/routes/record/recordSearch/utils/__tests__/createFilterDefinition.server.test.ts
Due: prettier --write, eslint --fix

Hide permissionUnitSearchTerm in public search
  app/routes/record/recordSearch/utils/__tests__/createFilterDefinition.server.test.ts
  app/routes/record/recordSearch/utils/createFilterDefinition.server.ts
Due: prettier --write, eslint --fix

fix test
  app/routes/record/recordSearch/utils/__tests__/createFilterDefinition.server.test.ts
Due: prettier --write, eslint --fix

[maven-release-plugin] prepare branch release/1.172
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.172.0
  pom.xml
Due: none

wip: use regular form def for search
  app/data/formDefinition/createFormDefinition.server.ts
  app/routes/record/recordSearch/utils/createSearchFormDefinition.server.ts
Due: prettier --write, eslint --fix

[maven-release-plugin] prepare branch release/1.173
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.173.0
  pom.xml
Due: none

CORA-3474 Add cookie policy page
  app/components/Article/Article.module.css
  app/components/Article/Article.tsx
  app/components/Article/__tests__/Article.test.tsx
  app/components/Layout/Footer/Footer.module.css
  app/components/Layout/Footer/Footer.tsx
  app/components/OutputPresentation/OutputPresentationSwitcher.module.css
  app/root.tsx
  app/routes.ts
  app/routes/cookies/__tests__/cookies.test.tsx
  app/routes/cookies/cookies.tsx
  app/styles/colors.scss
  app/styles/normalize.css
  app/styles/root.css
Due: prettier --write, eslint --fix, stylelint --fix

CORA-3601 Add accessibility review article
  app/components/Article/Article.module.css
  app/components/Layout/Footer/Footer.tsx
  app/routes.ts
  app/routes/accessibility/__tests__/accessibility.test.tsx
  app/routes/accessibility/accessibility.tsx
Due: prettier --write, eslint --fix, stylelint --fix

CORA-3474 Add breadcrumb to article pages
  app/components/Article/Article.module.css
  app/components/Article/Article.tsx
  app/components/Layout/Footer/Footer.module.css
  app/components/Layout/Footer/Footer.tsx
  app/routes/accessibility/accessibility.tsx
  app/routes/cookies/cookies.tsx
Due: prettier --write, eslint --fix, stylelint --fix

CORA-3474 Remove unneccessary tests
  app/routes/accessibility/__tests__/accessibility.test.tsx
  app/routes/cookies/__tests__/cookies.test.tsx
Due: prettier --write, eslint --fix

Apply suggestions from code review
  app/routes/accessibility/accessibility.tsx
Due: prettier --write, eslint --fix

fix test
  app/components/Article/__tests__/Article.test.tsx
Due: prettier --write, eslint --fix

CORA-3602 Update permissionUnit search term name
  app/__mocks__/data/form/searchForm.ts
  app/components/FormGenerator/components/RecordLinkWithSearch.tsx
  app/data/formDefinition/__tests__/createRecordLinkSearchPresentation.server.test.ts
  app/data/formDefinition/createPresentation/createRecordLinkSearchPresentation.server.ts
  app/routes/record/recordSearch/utils/__tests__/createFilterDefinition.server.test.ts
  app/routes/record/recordSearch/utils/__tests__/createSearchQuery.server.test.ts
  app/routes/record/recordSearch/utils/createFilterDefinition.server.ts
  app/routes/record/recordSearch/utils/createSearchQuery.server.ts
  server/sitemapCache.server.ts
Due: prettier --write, eslint --fix

[maven-release-plugin] prepare branch release/1.174
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.174.0
  pom.xml
Due: none

Fix horizontal overflows on mobile
  app/routes/accessibility/accessibility.tsx
  app/styles/root.css
Due: prettier --write, eslint --fix, stylelint --fix

fix särskrivning
  app/routes/cookies/cookies.tsx
Due: prettier --write, eslint --fix

CORA-3598 Add support for new record type diva-ClientContent to configure global alert
  app/__mocks__/bff/coraDivaClientContent.json
  app/cora/bffTypes.server.ts
  app/cora/transform/__tests__/transformClientContent.server.test.ts
  app/cora/transform/transformClientContent.server.ts
  app/cora/transform/transformMembers.server.ts
  app/cora/transform/transformSweEngText.server.ts
  app/root.tsx
  app/routes/record/recordSearch/utils/performSearch.server.ts
  server/dependencies/depencencies.ts
Due: prettier --write, eslint --fix

CORA-3598: Add client content to navigation
  app/components/Layout/Header/TopNavigation/TopNavigation.tsx
  app/cora/bffTypes.server.ts
  app/cora/transform/__tests__/transformMembers.server.test.ts
  app/cora/transform/transformClientContent.server.ts
  app/cora/transform/transformMembers.server.ts
  app/data/__tests__/getNavigation.server.test.ts
  app/data/getNavigation.server.ts
  app/root.tsx
  app/routes/resourceRoutes/sitemap/sitemap.ts
  server/dependencies/__tests__/dependencies.test.ts
  server/dependencies/depencencies.ts
Due: prettier --write, eslint --fix

CORA-3598 Uppdate test for transformClientContent
  app/__mocks__/bff/coraDivaClientContent.ts
  app/cora/transform/__tests__/transformClientContent.server.test.ts
Due: prettier --write, eslint --fix

Update createBasicDependencies, remove unused duplicate
  app/__mocks__/bffTestDataUtils.ts
  app/data/formDefinition/__tests__/utils.ts
Due: prettier --write, eslint --fix
