Repository lsu-ub-uu/diva-client: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["prettier --write", "eslint --fix"],
  "*.{css,scss}": ["prettier --write", "stylelint --fix"]
}

fix stylelint
  app/routes/auth/login.css
Due: prettier --write, stylelint --fix

less max width on login page
  app/routes/auth/login.css
Due: prettier --write, stylelint --fix

fix stylelint
  app/components/Layout/Header/Login/Login.module.css
Due: prettier --write, stylelint --fix

[maven-release-plugin] prepare branch release/1.100
  pom.xml
Due: none

[maven-release-plugin] prepare for next development iteration
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.100.0
  pom.xml
Due: none

CORA-3183 Remove s containers that do not match metadata from form def
  app/data/formDefinition/__tests__/formDefinition.server.test.ts
  app/data/formDefinition/createPresentation/createContainer.server.ts
  app/data/formDefinition/createPresentation/findMatchingMetadataChildReferencesForRContainer.ts
  app/data/formDefinition/createPresentation/findMatchingMetadataChildReferencesForSContainer.server.ts
  vite.config.ts
Due: prettier --write, eslint --fix

CORA-3183 Fix empty alterntive presentations switchers in output mode when no data
  app/components/Form/__tests__/RecordForm.test.tsx
  app/components/FormGenerator/AlternativePresentationSwitcher.tsx
  app/components/FormGenerator/components/Group.tsx
  app/components/FormGenerator/formGeneratorUtils/__tests__/formComponentHasData.test.ts
  app/components/FormGenerator/formGeneratorUtils/__tests__/formGeneratorUtils.test.ts
  app/components/FormGenerator/formGeneratorUtils/formComponentHasData.ts
  app/components/FormGenerator/formGeneratorUtils/formGeneratorUtils.ts
  app/components/FormGenerator/validation/yupSchema.ts
  app/cora/transform/__tests__/transformToCora.server.test.ts
  app/utils/cleanFormData.ts
Due: prettier --write, eslint --fix

#CORA-3183 clean up
  app/components/FormGenerator/AlternativePresentationSwitcher.tsx
Due: prettier --write, eslint --fix

#CORA-3183 simplify condition
  app/components/FormGenerator/AlternativePresentationSwitcher.tsx
Due: prettier --write, eslint --fix

remove unused functions from formGeneratorUtils
  app/components/FormGenerator/formGeneratorUtils/__tests__/formGeneratorUtils.test.ts
  app/components/FormGenerator/formGeneratorUtils/formGeneratorUtils.ts
Due: prettier --write, eslint --fix

Output page handles missing originInfo
  app/routes/divaOutput/components/OriginInfo.tsx
Due: prettier --write, eslint --fix

CORA-3185: Fix duplicate key for member bar link
  app/components/Layout/MemberBar/MemberBar.tsx
Due: prettier --write, eslint --fix

CORA-3186 Fix legend blocking click
  app/components/Input/Fieldset.module.css
Due: prettier --write, stylelint --fix

Add data-hydrated to body
  app/root.tsx
Due: prettier --write, eslint --fix

extract useHyratedFlag
  app/root.tsx
Due: prettier --write, eslint --fix

Log in using apptoken when loading pools
  app/generatedTypes/divaTypes.ts
  server/depencencies.ts
Due: prettier --write, eslint --fix

=Commit form jenkins
  pom.xml
Due: none

[maven-release-plugin] prepare branch release/1.101
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.101.0
  pom.xml
Due: none

handle snackbar better
  app/components/Snackbar/Snackbar.tsx
  app/root.tsx
  app/utils/NotificationSnackbar.tsx
Due: prettier --write, eslint --fix

Fix hook errors
  app/components/FormGenerator/components/DevInfo.tsx
  app/components/Layout/Header/Header.tsx
  app/components/dev/AuthLogger.tsx
  app/generatedTypes/divaTypes.ts
  app/root.tsx
  app/utils/__tests__/useIsDevMode.test.ts
  app/utils/useHydrated.ts
  app/utils/useIsDevMode.ts
  vite.config.ts
Due: prettier --write, eslint --fix

Update typography component
  app/components/FormGenerator/components/Group.tsx
  app/components/FormGenerator/components/OutputField.tsx
  app/components/FormGenerator/components/Text.tsx
  app/components/Typography/Typography.tsx
  app/components/Typography/__tests__/Typography.test.tsx
  app/routes/docs/designSystem.tsx
Due: prettier --write, eslint --fix

update test
  app/components/Typography/__tests__/Typography.test.tsx
Due: prettier --write, eslint --fix

Restore isHydrated hook
  app/utils/useHydrated.ts
Due: prettier --write, eslint --fix

fix issue when updating records with hidden fields in form
  app/data/formDefinition/__tests__/formDefinition.server.test.ts
  app/data/formDefinition/createPresentation/createHiddenComponents.server.ts
  app/generatedTypes/divaTypes.ts
  app/routes/divaOutput/components/Classifications.tsx
  app/routes/divaOutput/components/TitleInfo.tsx
  app/routes/divaOutput/components/__test__/Project.test.tsx
Due: prettier --write, eslint --fix

[maven-release-plugin] prepare branch release/1.102
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.102.0
  pom.xml
Due: none

search prototype
  app/components/Form/Pagination.module.css
  app/components/Form/Pagination.tsx
  app/icons/FilterIcon.svg
  app/icons/index.ts
  app/routes.ts
  app/routes/divaOutput/divaOutputSearch.css
  app/routes/divaOutput/divaOutputSearch.tsx
Due: prettier --write, eslint --fix, stylelint --fix

update prototype
  app/components/Input/Fieldset.module.css
  app/routes/divaOutput/divaOutputSearch.css
  app/routes/divaOutput/divaOutputSearch.tsx
  app/styles/colors.scss
Due: prettier --write, eslint --fix, stylelint --fix

update filter button
  app/routes/divaOutput/divaOutputSearch.css
Due: prettier --write, stylelint --fix

wip
  app/routes/divaOutput/divaOutputSearch.css
  app/routes/divaOutput/divaOutputSearch.tsx
Due: prettier --write, eslint --fix, stylelint --fix

wip
  app/root.tsx
  app/routes/divaOutput/divaOutputSearch.css
  app/styles/root.css
Due: prettier --write, eslint --fix, stylelint --fix

login button color
  app/components/Layout/Header/Login/Login.module.css
  app/generatedTypes/divaTypes.ts
Due: prettier --write, eslint --fix, stylelint --fix

update
  app/components/Layout/Header/Header.tsx
  app/components/Layout/TopNavigation/TopNavigation.module.css
  app/root.tsx
  app/routes/divaOutput/divaOutputSearch.css
  app/routes/divaOutput/divaOutputSearch.tsx
  app/styles/root.css
Due: prettier --write, eslint --fix, stylelint --fix
