Repository lsu-ub-uu/diva-client: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["prettier --write", "eslint --fix"],
  "*.{css,scss}": ["prettier --write", "stylelint --fix"]
}

Remove dependenciesContext
  app/routes/__tests__/autocompleteSearch.test.ts
  app/routes/divaOutput/divaOutputView.tsx
  app/routes/landingPage/landingPage.tsx
  app/routes/record/record.tsx
  app/routes/record/recordCreate.tsx
  app/routes/record/recordDelete.tsx
  app/routes/record/recordPublish.tsx
  app/routes/record/recordSearch/recordSearch.tsx
  app/routes/record/recordTrash.tsx
  app/routes/record/recordType.tsx
  app/routes/record/recordUnpublish.tsx
  app/routes/record/recordUntrash.tsx
  app/routes/record/recordUpdate.tsx
  app/routes/record/recordView.tsx
  app/routes/resourceRoutes/autocompleteSearch.tsx
  app/routes/resourceRoutes/binaryRecord.ts
  app/routes/resourceRoutes/getRecord.tsx
  app/routes/resourceRoutes/refreshDefinitions.tsx
  app/routes/resourceRoutes/sitemap.ts
  app/routes/resourceRoutes/translations.tsx
  server/app.ts
  server/dependencies/depencencies.ts
Due: prettier --write, eslint --fix

fix test
  app/routes/__tests__/autocompleteSearch.test.ts
  app/routes/resourceRoutes/autocompleteSearch.tsx
Due: prettier --write, eslint --fix

CORA-3132 add tests
  app/generatedTypes/divaTypes.ts
  server/__test__/listenForDataChange.test.ts
  server/app.ts
  server/dependencies/depencencies.ts
  server/listenForDataChange.ts
  server/rabbitMqConsumer.ts
Due: prettier --write, eslint --fix

remove export of dependencies object
  app/root.tsx
  app/routes/divaOutput/divaOutputView.tsx
  app/routes/landingPage/landingPage.tsx
  app/routes/record/record.tsx
  app/routes/record/recordCreate.tsx
  app/routes/record/recordDelete.tsx
  app/routes/record/recordPublish.tsx
  app/routes/record/recordSearch/recordSearch.tsx
  app/routes/record/recordTrash.tsx
  app/routes/record/recordType.tsx
  app/routes/record/recordUnpublish.tsx
  app/routes/record/recordUntrash.tsx
  app/routes/record/recordUpdate.tsx
  app/routes/record/recordView.tsx
  app/routes/resourceRoutes/binaryRecord.ts
  app/routes/resourceRoutes/getRecord.tsx
  app/routes/resourceRoutes/sitemap.ts
  app/routes/resourceRoutes/translations.tsx
  server/__tests__/listenForDataChange.test.ts
  server/dependencies/__tests__/dependencies.test.ts
  server/dependencies/depencencies.ts
Due: prettier --write, eslint --fix

CORA-3132 Add tests and refactor dependencies
  app/cora/transform/__tests__/transformLogin.server.test.ts
  app/cora/transform/__tests__/transformLoginUnit.server.test.ts
  app/cora/transform/__tests__/transformMetadata.server.test.ts
  app/cora/transform/transformCoraSearch.server.ts
  app/cora/transform/transformLogin.server.ts
  app/cora/transform/transformLoginUnit.server.ts
  app/cora/transform/transformMembers.server.ts
  app/cora/transform/transformMetadata.server.ts
  app/cora/transform/transformOrganisations.server.ts
  app/cora/transform/transformPresentations.server.ts
  app/cora/transform/transformRecordTypes.server.ts
  app/cora/transform/transformTexts.server.ts
  app/cora/transform/transformValidationTypes.server.ts
  server/dependencies/__tests__/dependencies.test.ts
  server/dependencies/depencencies.ts
  typegen/main.ts
Due: prettier --write, eslint --fix

restore generated types
  app/generatedTypes/divaTypes.ts
Due: prettier --write, eslint --fix

[maven-release-plugin] prepare branch release/1.143
  pom.xml
Due: none

[maven-release-plugin] prepare for next development iteration
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.143.0
  pom.xml
Due: none

Fixed handle unkown pool type on data change
  server/dependencies/__tests__/dependencies.test.ts
  server/dependencies/depencencies.ts
Due: prettier --write, eslint --fix

[maven-release-plugin] prepare branch release/1.144
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.144.0
  pom.xml
Due: none

Remove logging on unknown poolType Co-authored-by: egiiiiil <egiiiiil@users.noreply.github.com>
  app/generatedTypes/divaTypes.ts
  server/dependencies/depencencies.ts
Due: prettier --write, eslint --fix

[maven-release-plugin] prepare branch release/1.145
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.145.0
  pom.xml
Due: none

Update logic for getting record titles after metadata changes
  app/components/Form/SearchResult/DivaOutputSearchResult.tsx
  app/components/Form/SearchResult/Related/Related.tsx
  app/components/Form/SearchResult/RelatedBook/RelatedBook.tsx
  app/routes/divaOutput/components/Book.tsx
  app/routes/divaOutput/components/Classifications.tsx
  app/routes/divaOutput/components/ConferencePublication.tsx
  app/routes/divaOutput/components/Funder.tsx
  app/routes/divaOutput/components/Organisation.tsx
  app/routes/divaOutput/components/OutputView.tsx
  app/routes/divaOutput/components/Person.tsx
  app/routes/divaOutput/components/Project.tsx
  app/routes/divaOutput/components/RelatedOutput.tsx
  app/routes/divaOutput/components/Series.tsx
  app/routes/divaOutput/components/StudentDegrees.tsx
  app/routes/divaOutput/components/TitleInfo.tsx
  app/routes/divaOutput/components/__test__/Funder.test.tsx
  app/routes/divaOutput/components/__test__/Organisation.test.tsx
  app/routes/divaOutput/components/__test__/Person.test.tsx
  app/routes/divaOutput/divaOutputView.tsx
  app/routes/divaOutput/utils/createTitle.ts
  app/routes/divaOutput/utils/generateCitationMeta.ts
  app/utils/__tests__/getRecordTitle.test.ts
  app/utils/getRecordTitle.ts
Due: prettier --write, eslint --fix

await dependencies before serving first request
  server/app.ts
  server/dependencies/depencencies.ts
Due: prettier --write, eslint --fix

fix lint
  app/routes/divaOutput/components/Organisation.tsx
Due: prettier --write, eslint --fix

[maven-release-plugin] prepare branch release/1.146
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.146.0
  pom.xml
Due: none

CORA-3380 Added nofollow for links to api
  app/routes/record/ActionBar/RecordActionBar.tsx
  app/routes/record/ActionBar/__tests__/RecordActionBar.test.tsx
  app/routes/record/recordSearch/components/SearchResultButtons.tsx
  app/routes/record/recordSearch/components/__tests__/SearchResultButtons.test.tsx
Due: prettier --write, eslint --fix

[maven-release-plugin] prepare branch release/1.147
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.147.0
  pom.xml
Due: none

Move deploymentInfo cache out of dependencies
  app/components/Layout/Header/Header.tsx
  app/components/Layout/Header/Login/DevAccountLoginOptions.tsx
  app/components/Layout/Header/Login/LoginMenu.tsx
  app/components/Layout/Header/Login/__tests__/DevAccountLoginOptions.test.tsx
  app/components/Layout/Header/Login/__tests__/Login.test.tsx
  app/cora/__tests__/getDeploymentInfo.server.test.ts
  app/cora/bffTypes.server.ts
  app/cora/getDeploymentInfo.server.ts
  app/root.tsx
  server/dependencies/depencencies.ts
Due: prettier --write, eslint --fix

[maven-release-plugin] prepare branch release/1.148
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.148.0
  pom.xml
Due: none

Fixed the iOS bug scrolling behind backdrop with DrawerDialog
  app/components/DrawerDialog/DrawerDialog.tsx
  app/components/Layout/Footer/Footer.tsx
  app/components/Layout/Header/Header.tsx
  app/components/Layout/Header/MobileNavigation/MobileNavigation.tsx
  app/styles/root.css
Due: prettier --write, eslint --fix, stylelint --fix

Remove unused iOS detection utility comment
  app/components/DrawerDialog/DrawerDialog.tsx
Due: prettier --write, eslint --fix

[maven-release-plugin] prepare branch release/1.149
  pom.xml
Due: none
