Repository lsu-ub-uu/diva-client: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

WIP
  app/components/Form/LoginForm.module.css
  app/components/Form/LoginForm.tsx
  app/components/Layout/Breadcrumbs/Breadcrumbs.module.css
  app/components/Layout/Header/Header.module.css
  app/components/Layout/Header/Header.tsx
  app/components/Layout/MemberBar/MemberBar.module.css
  app/components/Layout/MemberBar/MemberBar.tsx
  app/components/Layout/NavigationLink/NavigationLink.module.css
  app/components/Layout/TopNavigation/NavigationLink.tsx
  app/components/Layout/TopNavigation/TopNavigation.module.css
  app/components/Layout/TopNavigation/TopNavigation.tsx
  app/components/Layout/TopNavigation/__tests__/TopNavigation.test.tsx
  app/data/TODO.txt
  app/data/getNavigation.ts
  app/generatedTypes/divaTypes.ts
  app/root.tsx
  app/routes/auth/PasswordLogin.tsx
  app/routes/auth/login.css
  app/routes/auth/login.tsx
  app/routes/divaOutput/components/OutputView.tsx
  app/routes/divaOutput/divaOutputView.css
  app/routes/divaOutput/divaOutputView.tsx
  app/routes/landingPage/landingPage.css
  app/routes/landingPage/landingPage.tsx
  app/routes/record/record.css
  app/routes/record/record.tsx
  app/routes/record/recordCreate.tsx
  app/routes/record/recordSearch/components/Filters.tsx
  app/routes/record/recordSearch/components/SearchLayout.tsx
  app/routes/record/recordSearch/recordSearch.css
  app/routes/record/recordSearch/recordSearch.tsx
  app/routes/record/recordType.tsx
  app/routes/record/recordUpdate.tsx
  app/routes/resourceRoutes/sitemap.ts
  app/styles/grid.scss
  app/styles/root.css
Due: prettier --write, eslint --fix, stylelint --fix

fix page layout
  TODO.md
  app/components/CreateRecordMenu/CreateRecordMenu.tsx
  app/components/Layout/TopNavigation/TopNavigation.module.css
  app/data/TODO.txt
  app/routes/divaOutput/components/OutputView.tsx
  app/routes/divaOutput/divaOutputView.css
  app/routes/divaOutput/divaOutputView.tsx
  app/routes/record/ActionBar/ActionBar.module.css
  app/routes/record/ActionBar/ActionBar.tsx
  app/routes/record/ActionBar/ActionBarButton.modules.css
  app/routes/record/ActionBar/ActionBarButton.tsx
  app/routes/record/ActionBar/RecordActionBar.tsx
  app/routes/record/record.css
  app/routes/record/record.tsx
  app/routes/record/recordCreate.tsx
  app/routes/record/recordSearch/components/SearchLayout.tsx
  app/routes/record/recordSearch/components/SearchResults.tsx
  app/routes/record/recordSearch/recordSearch.css
  app/routes/record/recordSearch/recordSearch.tsx
  app/routes/record/recordUpdate.tsx
  app/routes/record/recordView.tsx
  app/styles/grid.scss
Due: prettier --write, eslint --fix, stylelint --fix

Update page layouts
  app/components/CreateRecordMenu/CreateRecordMenu.tsx
  app/components/DropdownMenu/DropdownMenu.module.css
  app/components/Layout/Header/Header.module.css
  app/components/Layout/Header/Header.tsx
  app/components/Layout/Header/MobileNavigation/MobileNavigation.module.css
  app/components/Layout/Header/MobileNavigation/MobileNavigation.tsx
  app/components/Layout/Header/TopNavigation/NavigationLink.tsx
  app/components/Layout/Header/TopNavigation/TopNavigation.module.css
  app/components/Layout/Header/TopNavigation/TopNavigation.tsx
  app/components/Layout/Header/TopNavigation/__tests__/TopNavigation.test.tsx
  app/components/Layout/TopNavigation/TopNavigation.tsx
  app/data/TODO.txt
  app/routes/divaOutput/divaOutputView.css
  app/routes/divaOutput/divaOutputView.tsx
  app/routes/landingPage/landingPage.tsx
  app/routes/record/ActionBar/RecordActionBar.tsx
  app/routes/record/record.css
  app/routes/record/record.tsx
  app/routes/record/recordCreate.tsx
  app/routes/record/recordSearch/recordSearch.css
  app/styles/colors.scss
  app/styles/grid.scss
Due: prettier --write, eslint --fix, stylelint --fix

Update getNavigation
  app/components/Layout/Header/TopNavigation/TopNavigation.module.css
  app/components/Layout/Header/TopNavigation/TopNavigation.tsx
  app/data/getNavigation.server.ts
  app/routes/divaOutput/divaOutputView.css
Due: prettier --write, eslint --fix, stylelint --fix

wip
  app/components/DropdownMenu/DropdownMenu.module.css
  app/components/Layout/Header/Header.tsx
  app/components/Layout/Header/MobileNavigation/MobileNavigation.tsx
  app/components/Layout/Header/TopNavigation/TopNavigation.tsx
  app/data/getNavigation.server.ts
  app/data/getNavigation.ts
  app/root.tsx
  app/routes/record/recordSearch/components/SearchResults.module.css
  app/routes/resourceRoutes/sitemap.ts
Due: prettier --write, eslint --fix, stylelint --fix

Use recordType pluralTextId
  app/__mocks__/bff/coraDivaRecordTypes.json
  app/__mocks__/bff/coraDivaRecordTypes2.json
  app/cora/transform/__tests__/transformRecordTypes.server.test.ts
  app/cora/transform/bffTypes.server.ts
  app/cora/transform/transformRecordTypes.server.ts
  app/data/getNavigation.server.ts
  app/generatedTypes/divaTypes.ts
  app/routes/auth/login.tsx
  app/routes/divaOutput/divaOutputView.tsx
  app/routes/record/record.tsx
  app/routes/record/recordCreate.tsx
  app/routes/record/recordSearch/components/Filters.tsx
  app/routes/record/recordSearch/recordSearch.tsx
  app/routes/record/recordType.tsx
  app/routes/record/recordUpdate.tsx
Due: prettier --write, eslint --fix

fix search icon styling
  app/routes/record/recordSearch/components/MainSearchInput.module.css
Due: prettier --write, stylelint --fix

Refactor ActionBarButton
  app/components/ConfirmDialog/ConfirmDialog.tsx
  app/components/CreateRecordMenu/CreateRecordMenu.tsx
  app/routes/record/ActionBar/ActionBar.module.css
  app/routes/record/ActionBar/ActionBarButton.tsx
  app/routes/record/ActionBar/RecordActionBar.tsx
Due: prettier --write, eslint --fix, stylelint --fix

fix getNavigation
  app/components/Layout/Header/MobileNavigation/MobileNavigation.tsx
  app/components/Layout/Header/TopNavigation/TopNavigation.tsx
  app/components/Layout/Header/TopNavigation/__tests__/TopNavigation.test.tsx
  app/data/__tests__/getNavigation.server.test.ts
  app/data/formDefinition/__tests__/formDefinition.server.test.ts
  app/data/getNavigation.server.ts
  app/routes/landingPage/NavigationCard.module.css
  app/routes/landingPage/NavigationCard.tsx
  app/routes/landingPage/landingPage.tsx
  app/routes/record/ActionBar/__tests__/RecordActionBar.test.tsx
  app/routes/record/recordSearch/components/SearchResults.tsx
  app/routes/resourceRoutes/__tests__/sitemap.test.ts
  app/utils/structs/__tests__/listToPool.test.ts
Due: prettier --write, eslint --fix, stylelint --fix

Fix type errors
  app/__mocks__/bff/form/bffMock.ts
  app/components/CreateRecordMenu/CreateRecordMenu.tsx
  app/components/Form/SearchResult/Attachments/Attachments.tsx
  app/routes/divaOutput/components/Attachment.tsx
  app/routes/divaOutput/components/AttachmentDetails.tsx
  app/routes/divaOutput/components/__test__/AttachmentDetails.test.tsx
  app/routes/divaOutput/utils/__tests__/generateCitationMeta.test.ts
  app/routes/divaOutput/utils/generateCitationMeta.ts
Due: prettier --write, eslint --fix

fix test
  app/routes/divaOutput/components/__test__/AttachmentDetails.test.tsx
Due: prettier --write, eslint --fix

fix lint
  app/routes/record/ActionBar/RecordActionBar.tsx
Due: prettier --write, eslint --fix

Update footer with text keys
  app/components/Layout/Footer/Footer.tsx
  app/root.tsx
Due: prettier --write, eslint --fix

Add dev mode secret feedback
  app/components/Layout/Footer/Footer.tsx
Due: prettier --write, eslint --fix

Refactor getNavigation
  app/data/getNavigation.server.ts
Due: prettier --write, eslint --fix

cleanup
  app/components/Layout/Header/Header.tsx
  app/components/Layout/SidebarLayout/SidebarLayout.module.css
  app/components/Layout/SidebarLayout/SidebarLayout.tsx
  app/data/TODO.txt
  app/routes/record/record.css
  app/styles/root.css
  app/styles/typography.css
Due: prettier --write, eslint --fix, stylelint --fix

Update app/styles/colors.scss
  app/styles/colors.scss
Due: prettier --write, stylelint --fix

fix stylelint
  app/styles/grid.scss
Due: prettier --write, stylelint --fix

Remove empty test
  app/data/__tests__/getLoginUnits.server.test.ts
Due: prettier --write, eslint --fix

[maven-release-plugin] prepare branch release/1.130
  pom.xml
Due: none

[maven-release-plugin] prepare for next development iteration
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.130.0
  pom.xml
Due: none

fix typos
  app/generatedTypes/divaTypes.ts
  app/routes/record/ActionBar/RecordActionBar.tsx
  app/styles/colors.scss
Due: prettier --write, eslint --fix, stylelint --fix

CORA-3250 improve output mode
  app/components/Card/CardExpandButton.tsx
  app/components/FormGenerator/AlternativePresentationSwitcher.tsx
  app/components/FormGenerator/components/ActionButtonGroup.tsx
  app/components/FormGenerator/components/Group.tsx
  app/components/FormGenerator/components/OutputField.module.css
  app/components/FormGenerator/components/OutputField.tsx
  app/components/FormGenerator/components/Variable.tsx
  app/components/RecordActionButtons/RecordActionButtons.tsx
  app/generatedTypes/divaTypes.ts
  app/routes/record/recordUpdate.tsx
  app/routes/record/recordView.tsx
  app/styles/form-component.css
  app/styles/root.css
Due: prettier --write, eslint --fix, stylelint --fix

CORA-3252: improve search results
  app/cora/transform/transformRecordTypes.server.ts
  app/i18n/i18next.d.ts
  app/i18n/useLanguage.ts
  app/routes/record/record.tsx
  app/routes/record/recordSearch/components/SearchResult.module.css
  app/routes/record/recordSearch/components/SearchResult.tsx
  app/routes/record/recordSearch/components/SearchResults.module.css
  app/routes/record/recordSearch/components/SearchResults.tsx
  app/routes/record/recordSearch/recordSearch.tsx
  app/utils/getRecordTitle.ts
  server/i18n.ts
Due: prettier --write, eslint --fix, stylelint --fix

update test and attachment details
  app/components/FormGenerator/components/OutputField.tsx
  app/cora/transform/transformRecordTypes.server.ts
  app/generatedTypes/divaTypes.ts
  app/routes/divaOutput/components/AttachmentDetails.tsx
  app/routes/divaOutput/components/__test__/AttachmentDetails.test.tsx
  app/routes/record/recordSearch/components/SearchResult.module.css
  app/routes/record/recordSearch/components/SearchResult.tsx
  app/routes/record/recordSearch/components/SearchResultItem.tsx
  app/routes/record/recordSearch/components/SearchResults.module.css
  app/routes/record/recordSearch/components/SearchResults.tsx
  app/utils/__tests__/getRecordTitle.test.ts
  app/utils/getRecordTitle.ts
  server/app.ts
Due: prettier --write, eslint --fix, stylelint --fix

cleanup
  app/components/FormGenerator/components/OutputField.module.css
  server/i18n.ts
Due: prettier --write, eslint --fix, stylelint --fix

remove unused prop
  app/components/FormGenerator/components/OutputField.tsx
  app/components/FormGenerator/components/Variable.tsx
Due: prettier --write, eslint --fix

[maven-release-plugin] prepare branch release/1.131
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.131.0
  pom.xml
Due: none

Wip attachments
  app/components/Form/SearchResult/Attachments/Attachments.tsx
  app/components/Form/SearchResult/DivaOutputSearchResult.tsx
  app/generatedTypes/divaTypes.ts
  app/routes/divaOutput/components/Attachment.tsx
  app/routes/divaOutput/components/Attachments.tsx
  app/routes/divaOutput/components/OutputView.tsx
Due: prettier --write, eslint --fix

fix type and lint errors
  app/components/Form/SearchResult/Attachments/Attachments.tsx
  app/generatedTypes/divaTypes.ts
  app/routes/divaOutput/components/AttachmentDetails.tsx
  app/routes/divaOutput/components/__test__/AttachmentDetails.test.tsx
  app/routes/divaOutput/utils/__tests__/generateCitationMeta.test.ts
  app/routes/divaOutput/utils/generateCitationMeta.ts
Due: prettier --write, eslint --fix

[maven-release-plugin] prepare branch release/1.132
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.132.0
  pom.xml
Due: none

CORA-3316 fix incorrect texts in AttachmentDetails
  app/routes/divaOutput/components/AttachmentDetails.tsx
  app/routes/divaOutput/components/__test__/AttachmentDetails.test.tsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{css,scss})
  eslint --fix: any of: *.{ts,tsx}
  stylelint --fix: any of: *.{css,scss}
