Repository lsu-ub-uu/diva-client: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

fix react compiler not working after vite 8
  package-lock.json
  package.json
  vite.config.ts
Due: prettier --write, eslint --fix

Only use module sync if vitest
  vite.config.ts
Due: prettier --write, eslint --fix

use vite tsconfigPaths instead of vite-tsconfig-paths plugin
  package-lock.json
  package.json
  vite.config.ts
Due: prettier --write, eslint --fix

add missing dependency babel-plugin-react-compiler
  package-lock.json
  package.json
Due: none

[maven-release-plugin] prepare branch release/1.194
  pom.xml
Due: none

[maven-release-plugin] prepare for next development iteration
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.194.0
  pom.xml
Due: none

separate node and jsdom vitest projects
  setupTest/jsdomSetup.ts
  setupTest/nodeSetup.ts
  tsconfig.json
  vite.config.ts
Due: prettier --write, eslint --fix

try vitest browser mode
  .gitignore
  app/components/FieldInfo/__tests__/FieldInfo.browser.test.tsx
  package-lock.json
  package.json
  setupTest/browserSetup.ts
  vite.config.ts
Due: prettier --write, eslint --fix

fix test config
  app/auth/__tests__/renewAuthMiddleware.server.test.ts
  app/components/LinkButton/__tests__/LinkButton.test.tsx
  setupTest/nodeSetup.ts
  vite.config.ts
Due: prettier --write, eslint --fix

fix node test setup
  vite.config.ts
Due: prettier --write, eslint --fix

install playwright deps for github actions
  .github/workflows/master.yml
Due: none

revert test changes
  app/auth/__tests__/renewAuthMiddleware.server.test.ts
Due: prettier --write, eslint --fix

CORA-3637 simplify hotkey solution
  app/components/FloatingActionButton/FloatingActionButton.module.css
  app/components/FloatingActionButton/FloatingActionButton.tsx
  app/components/Form/RecordForm.tsx
  app/components/Form/__tests__/RecordForm.test.tsx
  app/components/Layout/Header/Header.tsx
  app/utils/useHotkey.ts
Due: prettier --write, eslint --fix, stylelint --fix

CORA-3637 add unit test for useHotkey
  app/utils/__tests__/useHotkey.test.ts
Due: prettier --write, eslint --fix

[maven-release-plugin] prepare branch release/1.195
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.195.0
  pom.xml
Due: none

remove playwright browsers and test from pom.xml
  pom.xml
Due: none

commit jenkinsfile
  Jenkinsfile
Due: none

jenkinsfile
  Jenkinsfile
Due: none

CORA-3686: Change robots.txt to disallow list instead of allow list
  app/routes.ts
  app/routes/resourceRoutes/robots/__tests__/robots.server.test.ts
  app/routes/resourceRoutes/robots/__tests__/robots.test.ts
  app/routes/resourceRoutes/robots/robots.server.ts
  app/routes/resourceRoutes/robots/robots.template.txt
  setupTest/nodeSetup.ts
Due: prettier --write, eslint --fix

Fix env stub
  app/cora/__tests__/deleteAuthTokenOnLogout.server.test.ts
  app/cora/__tests__/getDeploymentInfo.server.test.ts
  app/cora/__tests__/renewAuthToken.server.test.ts
  app/cora/__tests__/requestAuthTokenOnLogin.server.test.ts
  setupTest/nodeSetup.ts
Due: prettier --write, eslint --fix

Refactor test setup
  setupTest/commonSetup.ts
  setupTest/jsdomSetup.ts
  setupTest/nodeSetup.ts
Due: prettier --write, eslint --fix

Rename robots.server.ts to robots.ts
  app/routes.ts
  app/routes/resourceRoutes/robots/__tests__/robots.server.test.ts
  app/routes/resourceRoutes/robots/robots.ts
Due: prettier --write, eslint --fix

fix import
  app/routes/resourceRoutes/robots/robots.ts
Due: prettier --write, eslint --fix

CORA-3686: Fix robots.txt disallowing Googlebot
  app/cora/__tests__/deleteAuthTokenOnLogout.server.test.ts
  app/cora/__tests__/getDeploymentInfo.server.test.ts
  app/cora/__tests__/renewAuthToken.server.test.ts
  app/cora/__tests__/requestAuthTokenOnLogin.server.test.ts
  app/routes/resourceRoutes/robots/__tests__/robots.server.test.ts
  app/routes/resourceRoutes/robots/__tests__/robots.test.ts
  app/routes/resourceRoutes/robots/robots.template.txt
  setupTest/commonSetup.ts
  setupTest/jsdomSetup.ts
  setupTest/nodeSetup.ts
Due: prettier --write, eslint --fix

Fix warnings and log noise in test
  README.md
  app/auth/__tests__/sessionMiddleware.test.ts
  app/components/Form/__tests__/RecordForm.test.tsx
  app/logging/logger.server.ts
  package.json
  server.ts
  setupTest/browserSetup.ts
  vite.config.ts
Due: prettier --write, eslint --fix

remove jenkinsfile
  Jenkinsfile
Due: none

Add configuration for vitest browser mode
  .github/workflows/master.yml
  .gitignore
  README.md
  app/auth/__tests__/sessionMiddleware.test.ts
  app/components/FieldInfo/__tests__/FieldInfo.browser.test.tsx
  app/components/Form/__tests__/RecordForm.test.tsx
  app/components/LinkButton/__tests__/LinkButton.test.tsx
  app/logging/logger.server.ts
  package-lock.json
  package.json
  pom.xml
  server.ts
  setupTest/browserSetup.ts
  vite.config.ts
Due: prettier --write, eslint --fix

test commit
  vite.config.ts
Due: prettier --write, eslint --fix

Document RabbitMQ env vars
  README.md
Due: none

[maven-release-plugin] prepare branch release/1.196
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.196.0
  pom.xml
Due: none

CORA-3664 improve fallback label when search result thumbnail fails to load
  app/routes/divaOutput/components/Attachment.tsx
  app/routes/record/recordSearch/components/SearchResult/Attachments/Attachments.tsx
  app/routes/record/recordSearch/components/SearchResult/Attachments/__tests__/Attachments.test.tsx
Due: prettier --write, eslint --fix

CORA-3660 Add a unique id to snackbar
  app/auth/__tests__/sessionMiddleware.server.test.ts
  app/auth/sessionMiddleware.server.ts
  app/auth/sessions.server.ts
  app/root.tsx
  app/utils/NotificationSnackbar.tsx
  app/utils/createNotificationFromAxiosError.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{css,scss})
  eslint --fix: any of: *.{ts,tsx}
  stylelint --fix: any of: *.{css,scss}
