Repository lsu-ub-uu/diva-client: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

[maven-release-plugin] prepare branch release/1.107
  pom.xml
Due: none

[maven-release-plugin] prepare for next development iteration
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.107.0
  pom.xml
Due: none

add navigation for other record types
  app/components/Layout/TopNavigation/TopNavigation.tsx
  app/routes/landingPage.css
  app/routes/landingPage.tsx
  app/styles/colors.scss
Due: prettier --write, eslint --fix, stylelint --fix

Update styling
  app/routes/divaOutput/components/RecordDetails.tsx
  app/styles/colors.scss
Due: prettier --write, eslint --fix, stylelint --fix

remove empty file
  app/routes/divaOutput/components/AdministrativeInfo.tsx
Due: prettier --write, eslint --fix

CORA-3232 update tests
  app/routes/divaOutput/components/Attachments.tsx
  app/routes/divaOutput/components/OutputView.tsx
  app/routes/divaOutput/components/RecordDetails.tsx
  app/routes/divaOutput/components/__test__/RecordDetails.test.tsx
Due: prettier --write, eslint --fix

CORA-3025 Added switcher for diva-ouput in search result
  app/components/Form/SearchResult/DivaOutputSearchResult.module.css
  app/components/Form/SearchResult/DivaOutputSearchResult.tsx
  app/components/RecordSearch/RecordSearch.tsx
Due: prettier --write, eslint --fix, stylelint --fix

CORA-3232 Implement attachment details
  app/routes/divaOutput/components/Attachment.tsx
  app/routes/divaOutput/components/AttachmentDetails.tsx
  app/routes/divaOutput/components/RecordDetails.tsx
  app/routes/divaOutput/components/__test__/AttachmentDetails.test.tsx
  app/routes/divaOutput/divaOutputView.css
  app/routes/divaOutput/utils/format.ts
  app/styles/root.css
Due: prettier --write, eslint --fix, stylelint --fix

CORA-3025 switch presentation on recordType per publication
  app/components/RecordSearch/RecordSearch.tsx
Due: prettier --write, eslint --fix

update tests
  app/routes/divaOutput/components/AttachmentDetails.tsx
  app/routes/divaOutput/components/__test__/AttachmentDetails.test.tsx
  app/routes/divaOutput/components/__test__/RecordDetails.test.tsx
  app/routes/divaOutput/utils/__tests__/format.test.ts
  app/routes/divaOutput/utils/format.ts
Due: prettier --write, eslint --fix

CORA-3232 Update how tscreated and tsupdated are displayed
  app/routes/divaOutput/components/RecordDetails.tsx
  app/routes/divaOutput/components/__test__/RecordDetails.test.tsx
Due: prettier --write, eslint --fix

WIP Adding tests
  app/components/Form/SearchResult/DivaOutputSearchResult.tsx
  app/components/Form/SearchResult/__tests__/DivaOutputSearchResult.test.tsx
Due: prettier --write, eslint --fix

CORA-3232 Show count in show all attachments button
  app/routes/divaOutput/components/Attachments.tsx
  app/routes/divaOutput/divaOutputView.css
Due: prettier --write, eslint --fix, stylelint --fix

remove unused imports
  app/routes/divaOutput/components/RecordDetails.tsx
Due: prettier --write, eslint --fix

create footer component
  app/components/Layout/Footer/Footer.module.css
  app/components/Layout/Footer/Footer.tsx
  app/routes/landingPage.css
  app/routes/landingPage.tsx
Due: prettier --write, eslint --fix, stylelint --fix

fix test
  app/routes/divaOutput/components/__test__/RecordDetails.test.tsx
Due: prettier --write, eslint --fix

fix test
  app/routes/divaOutput/components/__test__/RecordDetails.test.tsx
  app/routes/divaOutput/utils/__tests__/format.test.ts
Due: prettier --write, eslint --fix

remove unused import
  app/routes/divaOutput/utils/__tests__/format.test.ts
Due: prettier --write, eslint --fix

fix tests
  app/routes/divaOutput/components/__test__/AttachmentDetails.test.tsx
Due: prettier --write, eslint --fix

Added dataQuality
  app/components/Form/SearchResult/DivaOutputSearchResult.module.css
  app/components/Form/SearchResult/DivaOutputSearchResult.tsx
  app/components/Form/SearchResult/__tests__/DivaOutputSearchResult.test.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Add check for same type when matching metadata with presentation
  app/data/formDefinition/findMetadataChildReferenceByNameInDataAndAttributes.server.ts
  app/generatedTypes/divaTypes.ts
Due: prettier --write, eslint --fix

update output view page after metadata changes
  app/routes/divaOutput/components/DegreeProjectFields.tsx
  app/routes/divaOutput/components/Event.tsx
  app/routes/divaOutput/components/Organisation.tsx
  app/routes/divaOutput/components/OutputView.tsx
  app/routes/divaOutput/components/Person.tsx
  app/routes/divaOutput/components/__test__/DegreeProjectFields.test.tsx
  app/routes/divaOutput/components/__test__/Event.test.tsx
  app/routes/divaOutput/components/__test__/Organisation.test.tsx
  app/routes/divaOutput/components/__test__/Organisations.test.tsx
  app/routes/divaOutput/components/__test__/Person.test.tsx
  app/routes/divaOutput/components/__test__/Persons.test.tsx
Due: prettier --write, eslint --fix

CORA-3025 Added related publications
  app/components/Form/SearchResult/DivaOutputSearchResult.module.css
  app/components/Form/SearchResult/DivaOutputSearchResult.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Support CI mode to disable translations
  app/cora/transform/__tests__/transformRecord.server.test.ts
  app/cora/transform/transformRecord.server.ts
  server/i18n.ts
Due: prettier --write, eslint --fix

Refacor search results for diva-output
  app/components/Form/SearchResult/Attachments/Attachments.module.css
  app/components/Form/SearchResult/Attachments/Attachments.tsx
  app/components/Form/SearchResult/DivaOutputSearchResult.module.css
  app/components/Form/SearchResult/DivaOutputSearchResult.tsx
  app/components/Form/SearchResult/Related/Related.module.css
  app/components/Form/SearchResult/Related/Related.tsx
  app/components/Form/SearchResult/RelatedBook/RelatedBook.module.css
  app/components/Form/SearchResult/RelatedBook/RelatedBook.tsx
  package-lock.json
Due: prettier --write, eslint --fix, stylelint --fix

remove unneccesary class
  app/routes/divaOutput/components/Attachment.tsx
Due: prettier --write, eslint --fix

CORA-3025 Update search result page
  app/components/Form/Pagination.module.css
  app/components/Form/SearchForm.module.css
  app/components/Form/SearchForm.tsx
  app/components/Form/SearchResult/Attachments/Attachments.module.css
  app/components/Form/SearchResult/Attachments/Attachments.tsx
  app/components/Form/SearchResult/DivaOutputSearchResult.module.css
  app/components/Form/SearchResult/DivaOutputSearchResult.tsx
  app/components/Form/SearchResult/InfoBox/InfoBox.module.css
  app/components/Form/SearchResult/InfoBox/InfoBox.tsx
  app/components/Form/SearchResult/RelatedBook/RelatedBook.tsx
  app/components/RecordActionButtons/RecordActionButtons.tsx
  app/components/RecordSearch/RecordSearch.module.css
  app/components/RecordSearch/RecordSearch.tsx
  app/generatedTypes/divaTypes.ts
  app/routes/divaOutput/components/RecordDetails.tsx
  app/routes/divaOutput/components/__test__/OutputView.test.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Update test
  app/routes/divaOutput/components/__test__/OutputView.test.tsx
Due: prettier --write, eslint --fix

[maven-release-plugin] prepare branch release/1.108
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.108.0
  pom.xml
Due: none

add test for related book
  app/components/Form/SearchResult/__tests__/DivaOutputSearchResult.test.tsx
Due: prettier --write, eslint --fix

Fixed lint errors
  app/components/Form/SearchResult/Persons.tsx
  app/components/Form/SearchResult/__tests__/DivaOutputSearchResult.test.tsx
  app/cora/transform/transformRecord.server.ts
Due: prettier --write, eslint --fix

Fixed searchForm type errors
  app/components/Form/__tests__/SearchForm.test.tsx
  app/components/RecordSearch/RecordSearch.tsx
Due: prettier --write, eslint --fix

Update package-lock
  package-lock.json
Due: none

implement anchor position fallbacks and use icon button
  app/components/Button/Button.module.css
  app/components/Button/Button.tsx
  app/components/FieldInfo/FieldInfo.tsx
  app/components/Form/Pagination.tsx
  app/components/FormGenerator/components/ActionButtonGroup.tsx
  app/components/FormGenerator/components/OptionalComponent.tsx
  app/components/FormGenerator/components/RecordLinkWithLinkedPresentation.tsx
  app/components/IconButton/IconButton.module.css
  app/components/IconButton/IconButton.tsx
  app/components/Layout/Header/ColorSchemeSwitcher.tsx
  app/components/Layout/Header/Header.tsx
  app/components/Popover/Popover.module.css
  app/components/Popover/Popover.tsx
  app/components/Snackbar/Snackbar.tsx
  app/components/Tooltip/Tooltip.module.css
  app/components/Tooltip/useTooltip.ts
  app/routes/docs/designSystem.tsx
  app/utils/supportsAnchorPositioning.ts
  package-lock.json
  package.json
Due: prettier --write, eslint --fix, stylelint --fix

clean up
  app/components/FieldInfo/FieldInfo.tsx
  app/components/Form/Pagination.tsx
  app/components/FormGenerator/components/ActionButtonGroup.tsx
  app/components/FormGenerator/components/RecordLinkWithLinkedPresentation.tsx
  app/components/Layout/Header/ColorSchemeSwitcher.tsx
  app/components/Layout/Header/Header.tsx
  app/components/Snackbar/Snackbar.tsx
  app/cora/transform/transformRecord.server.ts
  app/routes/docs/designSystem.tsx
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{css,scss})
  eslint --fix: any of: *.{ts,tsx}
  stylelint --fix: any of: *.{css,scss}
