Repository lsu-ub-uu/diva-client: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

fix action bar mobiles tyling
  app/components/Card/Card.module.css
  app/routes/record/ActionBar/ActionBar.module.css
  app/routes/record/record.css
Due: prettier --write, stylelint --fix

Fix redirect for trash route
  app/routes/record/recordTrash.tsx
Due: prettier --write, eslint --fix

enable react router future flags
  react-router.config.ts
Due: prettier --write, eslint --fix

CORA-3256 Filter out classic quality validation types from validation type list
  app/__mocks__/bff/validationTypeListWithClassicAndRegular.json
  app/data/__tests__/getValidationTypes.server.test.ts
  app/data/getValidationTypes.server.ts
Due: prettier --write, eslint --fix

remove unused imports
  app/routes/landingPage/landingPage.tsx
  app/routes/record/recordSearch.tsx
Due: prettier --write, eslint --fix

Move metadata warning to global alert
  app/components/Alert/Alert.module.css
  app/components/Alert/Alert.tsx
  app/root.tsx
  app/routes/landingPage/landingPage.tsx
  app/routes/record/recordSearch.tsx
  app/styles/root.css
Due: prettier --write, eslint --fix, stylelint --fix

implement publish/unpublish features
  app/components/RecordActionButtons/RecordActionButtons.tsx
  app/cora/transform/transformRecord.server.ts
  app/data/setRecordVisibility.ts
  app/routes.ts
  app/routes/record/ActionBar/ActionBar.tsx
  app/routes/record/recordPublish.tsx
  app/routes/record/recordUnpublish.tsx
  app/types/record.ts
Due: prettier --write, eslint --fix

Add publish tests
  app/cora/transform/__tests__/transformRecord.server.test.ts
Due: prettier --write, eslint --fix

switch places on delete and trash buttons
  app/routes/record/ActionBar/ActionBar.tsx
Due: prettier --write, eslint --fix

Do not show publish button when record is in trash
  app/cora/transform/__tests__/transformRecord.server.test.ts
  app/cora/transform/transformRecord.server.ts
Due: prettier --write, eslint --fix

[maven-release-plugin] prepare branch release/1.119
  pom.xml
Due: none

[maven-release-plugin] prepare for next development iteration
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.119.0
  pom.xml
Due: none

Revert loading dependencies in server.ts
  server.ts
  server/app.ts
  server/depencencies.ts
  server/i18n.ts
Due: prettier --write, eslint --fix

[maven-release-plugin] prepare branch release/1.120
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.120.0
  pom.xml
Due: none

CORA-3274 Set default query when searching instead of in form
  app/components/Form/SearchForm.tsx
  app/routes/record/recordSearch.tsx
  app/routes/record/utils/performSearch.ts
Due: prettier --write, eslint --fix

Removed SearchForm tests for hidden inputs
  app/components/Form/__tests__/SearchForm.test.tsx
Due: prettier --write, eslint --fix

Fix lint
  app/components/Form/SearchForm.tsx
Due: prettier --write, eslint --fix

fix permission unit default search term when no member
  app/routes/record/utils/performSearch.ts
Due: prettier --write, eslint --fix

remove unneccesary variable
  app/components/Form/SearchForm.tsx
Due: prettier --write, eslint --fix

[maven-release-plugin] prepare branch release/1.121
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.121.0
  pom.xml
Due: none

add form blocker
  app/components/ConfirmDialog/ConfirmDialog.tsx
  app/components/Form/FormNavigationBlocker.tsx
  app/components/Form/RecordForm.tsx
Due: prettier --write, eslint --fix

Add test for recordForm with classic quality publication
  app/components/Form/__tests__/RecordForm.test.tsx
Due: prettier --write, eslint --fix

CORA-3264 remove dataQuality from search results for divaOutput
  app/components/Form/SearchResult/InfoBox/InfoBox.module.css
  app/components/Form/SearchResult/InfoBox/InfoBox.tsx
  app/components/Form/SearchResult/__tests__/DivaOutputSearchResult.test.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Added meta robot to root route
  app/root.tsx
Due: prettier --write, eslint --fix

CORA-3290 Disallow robots crawling search params
  robots.txt
Due: none

CORA-3290 Add rel nofollow to SearchLinkList
  app/routes/divaOutput/components/SearchLinkList.tsx
  app/routes/divaOutput/components/__test__/SearchLinkList.test.tsx
  robots.txt
Due: prettier --write, eslint --fix

remove unused import
  app/root.tsx
Due: prettier --write, eslint --fix

=Commit form jenkins
  pom.xml
Due: none

[maven-release-plugin] prepare branch release/1.122
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.122.0
  pom.xml
Due: none

Path conditions:
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{css,scss})
  eslint --fix: any of: *.{ts,tsx}
  stylelint --fix: any of: *.{css,scss}
