Repository lsu-ub-uu/diva-client: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["prettier --write", "eslint --fix"],
  "*.{css,scss}": ["prettier --write", "stylelint --fix"]
}

[maven-release-plugin] prepare for next development iteration
  pom.xml
Due: none

CORA-3535: Rewrite transformData to use BFFMetadata directly instead of FormMetadata
  app/cora/bffTypes.server.ts
  app/cora/transform/__tests__/transformRecord.server.test.ts
  app/cora/transform/transformRecord.server.ts
Due: prettier --write, eslint --fix

refactor transformRecord tests.
  app/__mocks__/bffTestDataUtils.ts
  app/cora/transform/__tests__/transformRecord.server.test.ts
  app/data/formDefinition/__tests__/formDefinition.server.test.ts
  app/data/formDefinition/utils/__tests__/findMetadataChildReferenceByNameInDataAndAttributes.test.ts
  app/data/formDefinition/utils/__tests__/formDefinitionUtils.test.ts
Due: prettier --write, eslint --fix

CORA-3535 fix metadata matching when no attributes
  app/cora/transform/__tests__/transformRecord.server.test.ts
  app/cora/transform/transformRecord.server.ts
Due: prettier --write, eslint --fix

add invalid identifiers to output
  app/routes/divaOutput/components/Identifiers.tsx
Due: prettier --write, eslint --fix

[maven-release-plugin] prepare branch release/1.160
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.160.0
  pom.xml
Due: none

fix localID no longer being repeatable
  app/generatedTypes/divaTypes.ts
  app/routes/divaOutput/components/Identifiers.tsx
  app/routes/divaOutput/components/__test__/Identifiers.test.tsx
Due: prettier --write, eslint --fix

[maven-release-plugin] prepare branch release/1.161
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.161.0
  pom.xml
Due: none

CORA-3531 Move external note and hide artistic work if false
  app/routes/divaOutput/components/OutputView.tsx
  app/routes/divaOutput/components/RecordDetails.tsx
  app/routes/divaOutput/components/__test__/OutputView.test.tsx
Due: prettier --write, eslint --fix

fix lint
  app/routes/divaOutput/components/RecordDetails.tsx
Due: prettier --write, eslint --fix

[maven-release-plugin] prepare branch release/1.162
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.162.0
  pom.xml
Due: none

Update BFFMember type
  app/__mocks__/bff/divaMemberListWithBinaryLogo.json
  app/__mocks__/bff/divaMemberListWithSvgLogo.json
  app/components/Layout/MemberBar/MemberBar.tsx
  app/components/Layout/MemberBar/__tests__/MemberBar.test.tsx
  app/cora/bffTypes.server.ts
  app/cora/cora-data/CoraDataUtils.server.ts
  app/cora/cora-data/__tests__/CoraDataUtils.server.test.ts
  app/cora/transform/__tests__/transformMembers.server.test.ts
  app/cora/transform/transformMembers.server.ts
  app/generatedTypes/divaTypes.ts
  server/dependencies/depencencies.ts
Due: prettier --write, eslint --fix

Update Memberbar with lang and visibility
  app/__mocks__/bff/divaMemberListWithSvgLogo.json
  app/components/Layout/MemberBar/MemberBar.tsx
  app/components/Layout/MemberBar/__tests__/MemberBar.test.tsx
  app/cora/transform/__tests__/transformMembers.server.test.ts
Due: prettier --write, eslint --fix

CORA-3520 refactor after code review
  app/components/Layout/MemberBar/MemberBar.tsx
  app/cora/cora-data/__tests__/CoraDataUtils.server.test.ts
  app/generatedTypes/divaTypes.ts
Due: prettier --write, eslint --fix

Fix issue where auth token middleware attempted to renew when token was expired
  app/auth/__tests__/renewAuthMiddleware.server.test.ts
  app/auth/renewAuthMiddleware.server.ts
Due: prettier --write, eslint --fix

[maven-release-plugin] prepare branch release/1.163
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.163.0
  pom.xml
Due: none

CORA-3521 implement transformation of BFFMember hero
  app/__mocks__/bff/divaMemberListWithAllData.json
  app/__mocks__/bff/divaMemberListWithMinimalData.json
  app/cora/bffTypes.server.ts
  app/cora/transform/__tests__/transformMembers.server.test.ts
  app/cora/transform/transformMembers.server.ts
  app/generatedTypes/divaTypes.ts
  app/routes/landingPage/ImageAttribution.tsx
  public/images/hero/nordiskamuseet.webp
Due: prettier --write, eslint --fix

CORA-3521 Display multiple attribute selects in line if possible
  app/components/Card/Card.module.css
  app/components/Input/Fieldset.module.css
  app/generatedTypes/divaTypes.ts
Due: prettier --write, eslint --fix, stylelint --fix

CORA-3521 Cleanup
  app/cora/transform/transformMembers.server.ts
  app/routes/divaOutput/components/OriginInfo.tsx
  app/routes/divaOutput/components/__test__/OriginInfo.test.tsx
  app/routes/landingPage/heroImages.tsx
  app/routes/landingPage/landingPage.tsx
  server/dependencies/__tests__/dependencies.test.ts
Due: prettier --write, eslint --fix

[maven-release-plugin] prepare branch release/1.164
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.164.0
  pom.xml
Due: none

fix image static route for production server
  app/utils/getMemberFromHostname.ts
  server.ts
Due: prettier --write, eslint --fix

fix cimode for landing page
  app/cora/bffTypes.server.ts
  app/cora/transform/__tests__/transformMembers.server.test.ts
  app/cora/transform/transformMembers.server.ts
  app/utils/getMemberFromHostname.ts
Due: prettier --write, eslint --fix

[maven-release-plugin] prepare branch release/1.165
  pom.xml
Due: none
