Repository lsu-ub-uu/diva-client: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["prettier --write", "eslint --fix"],
  "*.{css,scss}": ["prettier --write", "stylelint --fix"]
}

CORA-3290 add sitemap.xml
  app/data/getRecordTypes.ts
  app/routes.ts
  app/routes/resourceRoutes/__tests__/expectedSitemap.xml
  app/routes/resourceRoutes/__tests__/sitemap.test.ts
  app/routes/resourceRoutes/sitemap.ts
Due: prettier --write, eslint --fix

CORA-2981 Add repeat to hidden components
  app/components/FormGenerator/types.ts
  app/components/FormGenerator/validation/__tests__/yupSchema.test.ts
  app/data/formDefinition/createPresentation/__tests__/createHiddenComponents.test.ts
  app/data/formDefinition/createPresentation/createHiddenComponents.server.ts
Due: prettier --write, eslint --fix

Fix page title for classic quallity record
  app/routes/record/record.tsx
  app/routes/record/recordUpdate.tsx
  app/utils/getRecordTitle.ts
Due: prettier --write, eslint --fix

CORA-2981 Fixed tests
  app/components/FormGenerator/validation/__tests__/__snapshots__/yupSchema.test.ts.snap
  app/components/FormGenerator/validation/__tests__/yupSchema.test.ts
  app/data/formDefinition/__tests__/formDefinition.server.test.ts
Due: prettier --write, eslint --fix

[maven-release-plugin] prepare branch release/1.123
  pom.xml
Due: none

[maven-release-plugin] prepare for next development iteration
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.123.0
  pom.xml
Due: none

Fix snackbar z-index
  app/components/Snackbar/Snackbar.module.css
  app/routes/landingPage/landingPage.css
Due: prettier --write, stylelint --fix

CORA-3263: Record search page first draft
  app/components/Form/Pagination.tsx
  app/components/Input/Fieldset.module.css
  app/routes/record/recordSearch.css
  app/routes/record/recordSearch.tsx
  app/routes/record/recordSearchOld.css
  app/routes/record/recordSearchOld.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Fix binary upload error
  app/cora/uploadBinary.ts
  app/root.tsx
  app/routes/resourceRoutes/binary.ts
Due: prettier --write, eslint --fix

Fix hidden groups showing in form
  app/components/FormGenerator/Component.tsx
  app/components/FormGenerator/components/RepeatingComponent.tsx
  app/components/FormGenerator/types.ts
  app/data/formDefinition/createPresentation/createHiddenComponents.server.ts
Due: prettier --write, eslint --fix

fix tests
  app/components/FormGenerator/validation/__tests__/yupSchema.test.ts
  app/data/formDefinition/createPresentation/__tests__/createHiddenComponents.test.ts
Due: prettier --write, eslint --fix

fix tests
  app/data/formDefinition/__tests__/formDefinition.server.test.ts
Due: prettier --write, eslint --fix

[maven-release-plugin] prepare branch release/1.124
  pom.xml
Due: none

[maven-release-plugin] prepare release diva-client-1.124.0
  pom.xml
Due: none

add pagination
  app/components/Form/Pagination.tsx
  app/routes/record/recordSearch.css
  app/routes/record/recordSearch.tsx
Due: prettier --write, eslint --fix, stylelint --fix

WIP
  app/components/Form/Pagination.module.css
  app/components/Form/Pagination.tsx
  app/routes/record/recordSearch.css
  app/routes/record/recordSearch.tsx
Due: prettier --write, eslint --fix, stylelint --fix

WIP
  app/components/Form/SearchForm.tsx
  app/components/Form/__tests__/Pagination.test.tsx
  app/components/search/ActiveFilters.module.css
  app/components/search/ActiveFilters.tsx
  app/components/search/Filter.tsx
  app/components/search/Pagination.module.css
  app/components/search/Pagination.tsx
  app/components/search/SearchResults.tsx
  app/data/search/createFilterDefinition.server.ts
  app/routes/record/recordSearch.css
  app/routes/record/recordSearch.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Fixed activeFilters styling
  app/components/search/ActiveFilters.tsx
Due: prettier --write, eslint --fix

Fix filter sync with url
  app/components/search/ActiveFilters.tsx
  app/components/search/Filter.tsx
  app/routes/record/recordSearch.tsx
  app/utils/useDebouncedCallback.ts
Due: prettier --write, eslint --fix

Fix search result counters
  app/components/search/SearchResults.module.css
  app/components/search/SearchResults.tsx
  app/routes/record/recordSearch.css
  app/routes/record/recordSearch.tsx
Due: prettier --write, eslint --fix, stylelint --fix

WIP autocomplete search
  .gitignore
  app/components/search/Filter.tsx
  app/data/search/createFilterDefinition.server.ts
  app/data/searchRecords.server.ts
  app/routes/record/recordSearch.tsx
Due: prettier --write, eslint --fix

Added tests
  app/components/search/ActiveFilters.tsx
  app/components/search/Filter.tsx
  app/components/search/__tests__/ActiveFilters.test.tsx
  app/components/search/__tests__/Filter.test.tsx
  app/components/search/__tests__/Pagination.test.tsx
  app/components/search/__tests__/SearchResults.test.tsx
  app/data/search/__tests__/createFilterDefinition.server.test.ts
  app/data/search/createFilterDefinition.server.ts
  app/routes/record/recordSearch.css
  app/routes/record/recordSearch.tsx
Due: prettier --write, eslint --fix, stylelint --fix

CORA-3263 update links to search
  app/components/search/ActiveFilters.module.css
  app/routes/divaOutput/components/SearchLinkList.tsx
  app/routes/divaOutput/components/__test__/SearchLinkList.test.tsx
  app/routes/landingPage/landingPage.tsx
Due: prettier --write, eslint --fix, stylelint --fix

CORA-3263 use autocomplete for permissionUnit search term
  app/components/search/Filter.tsx
  app/components/search/__tests__/Filter.test.tsx
  app/data/search/__tests__/createFilterDefinition.server.test.ts
  app/data/search/createFilterDefinition.server.ts
Due: prettier --write, eslint --fix

CORA-3263 add clear filter buttons
  app/components/search/ActiveFilters.module.css
  app/components/search/ActiveFilters.tsx
  app/components/search/MainSearchInput.module.css
  app/components/search/MainSearchInput.tsx
  app/components/search/__tests__/ActiveFilters.test.tsx
  app/components/search/__tests__/MainSearchInput.test.tsx
  app/routes/record/recordSearch.css
  app/routes/record/recordSearch.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Refactor search view
  app/routes.ts
  app/routes/record/__tests__/recordSearch.test.tsx
  app/routes/record/recordSearch/components/ActiveFilters.module.css
  app/routes/record/recordSearch/components/ActiveFilters.tsx
  app/routes/record/recordSearch/components/Filter.tsx
  app/routes/record/recordSearch/components/Filters.tsx
  app/routes/record/recordSearch/components/MainSearchInput.module.css
  app/routes/record/recordSearch/components/MainSearchInput.tsx
  app/routes/record/recordSearch/components/Pagination.module.css
  app/routes/record/recordSearch/components/Pagination.tsx
  app/routes/record/recordSearch/components/RecordSearchView.tsx
  app/routes/record/recordSearch/components/SearchResults.module.css
  app/routes/record/recordSearch/components/SearchResults.tsx
  app/routes/record/recordSearch/components/__tests__/ActiveFilters.test.tsx
  app/routes/record/recordSearch/components/__tests__/Filter.test.tsx
  app/routes/record/recordSearch/components/__tests__/MainSearchInput.test.tsx
  app/routes/record/recordSearch/components/__tests__/Pagination.test.tsx
  app/routes/record/recordSearch/components/__tests__/SearchResults.test.tsx
  app/routes/record/recordSearch/recordSearch.css
  app/routes/record/recordSearch/recordSearch.tsx
Due: prettier --write, eslint --fix, stylelint --fix

CORA-3263 Refactor
  app/data/search/createFilterDefinition.server.ts
  app/routes/record/recordSearch/components/ActiveFilters.module.css
  app/routes/record/recordSearch/components/ActiveFilters.tsx
  app/routes/record/recordSearch/components/Filter.tsx
  app/routes/record/recordSearch/components/Filters.tsx
  app/routes/record/recordSearch/components/RecordSearchView.tsx
  app/routes/record/recordSearch/components/SearchResults.tsx
  app/routes/record/recordSearch/recordSearch.css
  app/routes/record/recordSearch/recordSearch.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Fix filter buttons not showing
  app/routes/record/recordSearch/components/ActiveFilters.module.css
  app/routes/record/recordSearch/components/ActiveFilters.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Refactor search layout
  app/routes/record/recordSearch/components/RecordSearchContent.tsx
  app/routes/record/recordSearch/recordSearch.tsx
Due: prettier --write, eslint --fix

Fix search layout
  app/routes/record/recordSearch/components/ActiveFilters.tsx
  app/routes/record/recordSearch/components/Filters.tsx
  app/routes/record/recordSearch/components/RecordSearchContent.tsx
  app/routes/record/recordSearch/recordSearch.tsx
Due: prettier --write, eslint --fix

Remove old search form
  app/components/Form/SearchForm.tsx
  app/routes/record/__tests__/recordSearch.test.tsx
  app/routes/record/recordSearchOld.css
  app/routes/record/recordSearchOld.tsx
Due: prettier --write, eslint --fix, stylelint --fix

fix rout type import
  app/routes/record/recordSearch/recordSearch.tsx
Due: prettier --write, eslint --fix

WIP tests for searchLayout
  app/routes/record/recordSearch/components/SearchLayout.tsx
  app/routes/record/recordSearch/components/__tests__/ActiveFilters.test.tsx
  app/routes/record/recordSearch/components/__tests__/Pagination.test.tsx
  app/routes/record/recordSearch/components/__tests__/SearchLayout.test.tsx
  app/routes/record/recordSearch/recordSearch.tsx
Due: prettier --write, eslint --fix

update ActiveFilters test
  app/routes/record/recordSearch/components/__tests__/ActiveFilters.test.tsx
Due: prettier --write, eslint --fix

Fixed pagination bug
  app/routes/record/recordSearch/components/Filters.tsx
  app/routes/record/recordSearch/components/Pagination.tsx
  app/routes/record/recordSearch/components/RecordSearchView.tsx
  app/routes/record/recordSearch/components/SearchHiddenInputs.tsx
  app/routes/record/recordSearch/components/SearchLayout.tsx
  app/routes/record/recordSearch/components/__tests__/Pagination.test.tsx
  app/routes/record/recordSearch/components/__tests__/SearchLayout.test.tsx
  app/routes/record/recordSearch/recordSearch.tsx
Due: prettier --write, eslint --fix

CORA-3263 reset pagination when changing search query or filters
  app/routes/record/recordSearch/components/Filters.tsx
  app/routes/record/recordSearch/components/RecordSearchView.tsx
  app/routes/record/recordSearch/components/SearchLayout.tsx
Due: prettier --write, eslint --fix
